# for local development, this can also be a real connection string pointing at a cloud environment.
DATABASE_CONNECTION_STRING=postgresql+asyncpg://grantflow:grantflow@localhost:5432/grantflow

# Google Cloud configuration
GOOGLE_CLOUD_PROJECT=grantflow-dev
GOOGLE_CLOUD_REGION=us-central1
GCS_SERVICE_ACCOUNT_CREDENTIALS=...

# document intelligence services, used for sophisticated layout extraction. This is turnedoff by default and can be ignored for local dev.
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=...
AZURE_DOCUMENT_INTELLIGENCE_KEY=...
