# These owners will be the default owners for everything in the repo
* @Goldziher

# Frontend codebase
/frontend/ @Goldziher @Developers
/package.json @Goldziher @Developers

# Backend services and packages
/services/* @Goldziher
/packages/* @Goldziher
/pyproject.toml @Goldziher
