# for local dev server, you can change as required on your system
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=...
NEXT_PUBLIC_FIREBASE_APP_ID=...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=...
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=...
NEXT_PUBLIC_FIREBASE_MESSAGE_SENDER_ID=...
NEXT_PUBLIC_FIREBASE_MICROSOFT_TENANT_ID=...
NEXT_PUBLIC_FIREBASE_PROJECT_ID=...
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=...

# This points at the backend server - change as required, it can also point at a cloud environment
NEXT_PUBLIC_BACKEND_API_BASE_URL=http://localhost:8000

# Set to false in production, this guards logging
NEXT_PUBLIC_DEBUG=true
