!cloud_functions/requirements.txt
*$py.class
**/*.log
**/__pycache__/
**/http-client.private.env.json
*.iml
*.pem
*.py[cod]
*.suo
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tsbuildinfo
*.user
*_override.tf
*_override.tf.json
*storybook.log
.cache/
.claude/
.coverage*
.coverage/
.cursorrules
.DS_Store
.env
.env.local
.eslintcache
.gemini/
.mypy_cache
.next/
.pytest_cache
.ropeproject
.ruff_cache
.terraform/
.terraformrc
.turbo/
.venv
.vercel/
.windsurfrules
build/
CLAUDE.md
coverage.*
coverage/
crash.*.log
crash.log
dist/
frontend/playwright-report/
frontend/playwright/.cache/
frontend/test-results/
GEMINI.md
models/
node_modules/
out/
override.tf
override.tf.json
requirements.txt
sentence-transformers/
storybook-static/
terraform.rc
testing/test_data/results/*
frontend/functions/