*$py.class
*.Cache
*.cscfg
*.log
*.py[cod]
*.suo
*.user
.coverage
.DS_store
.env
.pdm-python
.python_packages
.venv
.mypy_cache
.ruff_cache
__azurite_db*__.json
__blobstorage__
__pycache__/
__queuestorage__
coverage.xml
local.settings.*
requirements.txt
