For analyzing cell-cell communication in pathological tissues, we will
use our physically Interacting Cells [(PIC-seq) technology]{.underline}
(Fig 3.^42^), providing us a detailed exploration circuits related to
pathology and treatment response. Building upon the scRNA-seq data
acquired in previous aims, we will isolate anticipated CART-
immune/stromal cells PIC pairs from murine and patient blood and tissue
samples, focusing on B cells and immune-stromal cells, such as
synoviocytes in RA or epithelial glomerular cells in SLE, expressing
BCMA^43,44^. In addition to PIC-seq, we will computationally model the
interactome of cells utilizing NicheNet, a bioinformatic framework
comprising a comprehensive database of ligand-receptor interactions and
corresponding changes in downstream targets, to investigate cellular
interactions^45^.
