+---------------+------------------------------------------------------+
| **Work        | **2**                                                |
| package       |                                                      |
| number**      |                                                      |
+---------------+------------------------------------------------------+
| **Work        | **Fusion molecule design, production, and            |
| package       | validation**                                         |
| title**       |                                                      |
+---------------+------------------------------------------------------+
| **            |                                                      |
| Objectives**: |                                                      |
| **2.1**       |                                                      |
| Design and    |                                                      |
| manufacture   |                                                      |
| imm           |                                                      |
| unocytokines. |                                                      |
| **2.2**       |                                                      |
| Validate      |                                                      |
| molecule      |                                                      |
| activity      |                                                      |
| *in-vitro*    |                                                      |
| and           |                                                      |
| *in-vivo*.    |                                                      |
+---------------+------------------------------------------------------+
| **Description |                                                      |
| of work.**    |                                                      |
| WP2 focuses   |                                                      |
| on the        |                                                      |
| design,       |                                                      |
| development   |                                                      |
| and           |                                                      |
| production of |                                                      |
| novel         |                                                      |
| mAb-cytokine  |                                                      |
| fusion        |                                                      |
| molecules and |                                                      |
| the           |                                                      |
| validation of |                                                      |
| their         |                                                      |
| pro           |                                                      |
| -inflammatory |                                                      |
| and           |                                                      |
| a             |                                                      |
| ntineoplastic |                                                      |
| activity.     |                                                      |
|               |                                                      |
| **[Task 2.1:  |                                                      |
| Design fusion |                                                      |
| proteins and  |                                                      |
| cleavage      |                                                      |
| sites.]{      |                                                      |
| .underline}** |                                                      |
| We will       |                                                      |
| develop the   |                                                      |
| optimal       |                                                      |
| structures    |                                                      |
| for the       |                                                      |
| fusion        |                                                      |
| proteins of   |                                                      |
| the top 3--5  |                                                      |
| mAb-cytokine  |                                                      |
| combinations  |                                                      |
| identified in |                                                      |
| WP1, using    |                                                      |
| advanced      |                                                      |
| techniques in |                                                      |
| protein       |                                                      |
| design. The   |                                                      |
| design        |                                                      |
| process will  |                                                      |
| include the   |                                                      |
| selection of  |                                                      |
| the most      |                                                      |
| suitable      |                                                      |
| peptide       |                                                      |
| linkers,      |                                                      |
| blocking      |                                                      |
| moieties,     |                                                      |
| TAM-specific  |                                                      |
| cleavage      |                                                      |
| sites and the |                                                      |
| computational |                                                      |
| optimization  |                                                      |
| of protein    |                                                      |
| structure and |                                                      |
| stability.    |                                                      |
|               |                                                      |
| **[Task 2.2:  |                                                      |
| Produce       |                                                      |
| fusion        |                                                      |
| proteins.]{   |                                                      |
| .underline}** |                                                      |
| Building on   |                                                      |
| the designs   |                                                      |
| developed in  |                                                      |
| Task 2.1, we  |                                                      |
| will          |                                                      |
| manufacture   |                                                      |
| the 3--5      |                                                      |
| mAb-cytokine  |                                                      |
| fusion        |                                                      |
| proteins. The |                                                      |
| protein       |                                                      |
| synthesis     |                                                      |
| will be done  |                                                      |
| by a contract |                                                      |
| research      |                                                      |
| organization  |                                                      |
| (CRO)         |                                                      |
| selected      |                                                      |
| based on our  |                                                      |
| experience    |                                                      |
| with leading  |                                                      |
| CROs based on |                                                      |
| quality and   |                                                      |
| punctual      |                                                      |
| production.   |                                                      |
| The           |                                                      |
| production    |                                                      |
| will include  |                                                      |
| the selection |                                                      |
| of stable     |                                                      |
| molecules     |                                                      |
| with high     |                                                      |
| protein       |                                                      |
| expression    |                                                      |
| and no        |                                                      |
| aggregation.  |                                                      |
|               |                                                      |
| **[Task 2.3:  |                                                      |
| Validate      |                                                      |
| proteins *in  |                                                      |
| silico* and   |                                                      |
| *in           |                                                      |
| vitro*.]{     |                                                      |
| .underline}** |                                                      |
| We will       |                                                      |
| confirm the   |                                                      |
| binding via   |                                                      |
| SPR, ELISA,   |                                                      |
| cell-based    |                                                      |
| binding and   |                                                      |
| reporter      |                                                      |
| assays.       |                                                      |
|               |                                                      |
| [**Task       |                                                      |
| 2.4**:        |                                                      |
| **Validate    |                                                      |
| MiTE's        |                                                      |
| effects on    |                                                      |
| myeloid, NK,  |                                                      |
| and T cell    |                                                      |
| activity.**   |                                                      |
| ]{.underline} |                                                      |
| We will       |                                                      |
| validate      |                                                      |
| MiTEs' impact |                                                      |
| on            |                                                      |
| interactions  |                                                      |
| between       |                                                      |
| myeloid and   |                                                      |
| lymphoid cell |                                                      |
| activity      |                                                      |
| using         |                                                      |
| *in-vitro*    |                                                      |
| assays of     |                                                      |
| co-cultured   |                                                      |
| huMDMs, NK or |                                                      |
| T cells. The  |                                                      |
| data from     |                                                      |
| Task 1.1 will |                                                      |
| be used as    |                                                      |
| control. Cell |                                                      |
| activity will |                                                      |
| be measured   |                                                      |
| as in Task    |                                                      |
| 1.1.          |                                                      |
|               |                                                      |
| **[Task 2.5:  |                                                      |
| Validate MiTE |                                                      |
| activity in   |                                                      |
| NK and T cell |                                                      |
| killing       |                                                      |
| assays.]{     |                                                      |
| .underline}** |                                                      |
| To assess the |                                                      |
| efficacy of   |                                                      |
| the fusion    |                                                      |
| proteins in   |                                                      |
| inducing      |                                                      |
| cytotoxic NK  |                                                      |
| and T cell    |                                                      |
| activity,     |                                                      |
| assays of     |                                                      |
| co-cultured   |                                                      |
| huMDMs, NK,   |                                                      |
| or T cells    |                                                      |
| and tumor     |                                                      |
| cells will be |                                                      |
| treated with  |                                                      |
| the various   |                                                      |
| mAb-cytokine  |                                                      |
| chimeras. The |                                                      |
| data          |                                                      |
| collected in  |                                                      |
| Task 1.2 will |                                                      |
| be used as    |                                                      |
| control. NK   |                                                      |
| and T cell    |                                                      |
| activity and  |                                                      |
| cytotoxicity  |                                                      |
| levels will   |                                                      |
| be measured   |                                                      |
| as in Task    |                                                      |
| 1.2.          |                                                      |
+---------------+------------------------------------------------------+
