+---------------+------------------------------------------------------+
| **Work        | **1**                                                |
| package       |                                                      |
| number**      |                                                      |
+---------------+------------------------------------------------------+
| **Work        | **Cytokine screening and selection**                 |
| package       |                                                      |
| title**       |                                                      |
+---------------+------------------------------------------------------+
| **Objective   |                                                      |
| 1.1**:        |                                                      |
| *In-vitro*    |                                                      |
| and *in vivo* |                                                      |
| screen to     |                                                      |
| select the    |                                                      |
| top 3--5      |                                                      |
| cytokines     |                                                      |
| synergetic    |                                                      |
| with the      |                                                      |
| anti-TREM2    |                                                      |
| mAb.          |                                                      |
+---------------+------------------------------------------------------+
| **Description |                                                      |
| of work**. We |                                                      |
| will screen   |                                                      |
| the effects   |                                                      |
| of \~30       |                                                      |
| different     |                                                      |
| cytokines in  |                                                      |
| combination   |                                                      |
| with the E3C7 |                                                      |
| mAb. The      |                                                      |
| cytokines     |                                                      |
| screened will |                                                      |
| be from this  |                                                      |
| list: CCL3,   |                                                      |
| CSCL7, CCL26, |                                                      |
| TGFBRII,      |                                                      |
| IL-1, IL-2,   |                                                      |
| IL-6, IL-7,   |                                                      |
| IL-12, IL-15, |                                                      |
| IL-18, IL-21, |                                                      |
| IFNa, IFNb,   |                                                      |
| IFNg, CCL1,   |                                                      |
| CCL2, CCL3,   |                                                      |
| CCL5, CCL7,   |                                                      |
| CCL8/MCP-2,   |                                                      |
| CCL11,        |                                                      |
| CCL13/MCP-4,  |                                                      |
| CCL14/HCC-1,  |                                                      |
| CCL17/CTAC,   |                                                      |
| CCL19, CCL22, |                                                      |
| CCL23, CCL24, |                                                      |
| CCL26, CCL27, |                                                      |
| lymph         |                                                      |
| otactin/XCL1, |                                                      |
| Eotaxin,      |                                                      |
| CXCL6/GCP-2,  |                                                      |
| CXCL7/NAP-2,  |                                                      |
| CXCL8,        |                                                      |
| CXCL10,       |                                                      |
| CXCL11/ITAC,  |                                                      |
| CXCL12,       |                                                      |
| CXCL13,       |                                                      |
| CXCL15.       |                                                      |
|               |                                                      |
| **[Task 1.1:  |                                                      |
| Measure       |                                                      |
| cytokine and  |                                                      |
| anti-TREM2    |                                                      |
| effects on    |                                                      |
| myeloid, NK   |                                                      |
| and T cell    |                                                      |
| activity for  |                                                      |
| trans-acting  |                                                      |
| MiTEs.]{      |                                                      |
| .underline}** |                                                      |
| We will       |                                                      |
| evaluate the  |                                                      |
| impact of the |                                                      |
| cytokines in  |                                                      |
| combination   |                                                      |
| with the E3C7 |                                                      |
| mAb on        |                                                      |
| inducing      |                                                      |
| immune cell   |                                                      |
| activity by   |                                                      |
| performing    |                                                      |
| *in-vitro*    |                                                      |
| assays of     |                                                      |
| co-cultured   |                                                      |
| huMDMs, NK,or |                                                      |
| T cells. As   |                                                      |
| control, we   |                                                      |
| will conduct  |                                                      |
| the same      |                                                      |
| assays        |                                                      |
| without the   |                                                      |
| anti-TREM2    |                                                      |
| mAb or        |                                                      |
| without       |                                                      |
| adding        |                                                      |
| cytokines. NK |                                                      |
| and T cell    |                                                      |
| activity in   |                                                      |
| each assay    |                                                      |
| will be       |                                                      |
| measured by   |                                                      |
| quantifying   |                                                      |
| the           |                                                      |
| proliferative |                                                      |
| potential     |                                                      |
| using flow    |                                                      |
| cytometry,    |                                                      |
| and cytokine  |                                                      |
| secretion     |                                                      |
| using ELISA   |                                                      |
| and qPCRs.    |                                                      |
|               |                                                      |
| **[Task 1.2:  |                                                      |
| Killing       |                                                      |
| assays.]{     |                                                      |
| .underline}** |                                                      |
| We will       |                                                      |
| assess the    |                                                      |
| ability of    |                                                      |
| different     |                                                      |
| cytokines in  |                                                      |
| combination   |                                                      |
| with the E3C7 |                                                      |
| mAb to induce |                                                      |
| cytotoxic T   |                                                      |
| and NK cell   |                                                      |
| activity.     |                                                      |
| This will     |                                                      |
| entail        |                                                      |
| treating      |                                                      |
| assays of     |                                                      |
| co-cultured   |                                                      |
| huMDMs, NK or |                                                      |
| T cells and   |                                                      |
| tumor cells   |                                                      |
| with the      |                                                      |
| various       |                                                      |
| cytokines and |                                                      |
| E3C7 mAb      |                                                      |
| combinations. |                                                      |
| As control,   |                                                      |
| the same      |                                                      |
| experiments   |                                                      |
| will be       |                                                      |
| conducted     |                                                      |
| with only the |                                                      |
| tested        |                                                      |
| cytokines or  |                                                      |
| E3C7 mAb. NK  |                                                      |
| and T cell    |                                                      |
| activity and  |                                                      |
| cytotoxicity  |                                                      |
| levels will   |                                                      |
| be measured   |                                                      |
| by            |                                                      |
| quantifying   |                                                      |
| the amount of |                                                      |
| tumor cell    |                                                      |
| death using   |                                                      |
| FACS          |                                                      |
| (pre-staining |                                                      |
| the tumor     |                                                      |
| cells).       |                                                      |
|               |                                                      |
| **[Task 1.3:  |                                                      |
| Select the    |                                                      |
| most          |                                                      |
| effective     |                                                      |
| cytokines.]{  |                                                      |
| .underline}** |                                                      |
| We will       |                                                      |
| combine and   |                                                      |
| evaluate the  |                                                      |
| data          |                                                      |
| collected in  |                                                      |
| Tasks         |                                                      |
| 1.1--1.2 to   |                                                      |
| identify      |                                                      |
| 8--10         |                                                      |
| anti-TREM2    |                                                      |
| mAb and       |                                                      |
| cytokine      |                                                      |
| combinations  |                                                      |
| with the best |                                                      |
| performance   |                                                      |
| in terms of   |                                                      |
| do            |                                                      |
| wn-regulating |                                                      |
| myeloid cell  |                                                      |
| suppressive   |                                                      |
| activity and  |                                                      |
| enhancing     |                                                      |
| myeloid and T |                                                      |
| cell          |                                                      |
| inflammatory  |                                                      |
| activity.     |                                                      |
|               |                                                      |
| **[Task 1.4:  |                                                      |
| Single-cell   |                                                      |
| analysis      |                                                      |
| using an      |                                                      |
| *in-vitro*    |                                                      |
| functional    |                                                      |
| screening     |                                                      |
| system.]{     |                                                      |
| .underline}** |                                                      |
| We developed  |                                                      |
| an *in-vitro* |                                                      |
| system for    |                                                      |
| bone-m        |                                                      |
| arrow-derived |                                                      |
| monocyte      |                                                      |
| di            |                                                      |
| versification |                                                      |
| toward the M2 |                                                      |
| suppressor    |                                                      |
| macrophage    |                                                      |
| state and     |                                                      |
| incorporated  |                                                      |
| in the system |                                                      |
| a control     |                                                      |
| culture of    |                                                      |
| monocytes     |                                                      |
| derived from  |                                                      |
| TREM2^-/-^    |                                                      |
| mice that do  |                                                      |
| not           |                                                      |
| differentiate |                                                      |
| toward the M2 |                                                      |
| macrophage    |                                                      |
| state under   |                                                      |
| the           |                                                      |
| cyt           |                                                      |
| okine-induced |                                                      |
| conditions.   |                                                      |
| On the        |                                                      |
| backbone of   |                                                      |
| this system,  |                                                      |
| we will       |                                                      |
| co-culture    |                                                      |
| myeloid and   |                                                      |
| NK-T cells,   |                                                      |
| and apply     |                                                      |
| scRNA-seq     |                                                      |
| analysis to   |                                                      |
| obtain an     |                                                      |
| in-depth      |                                                      |
| understanding |                                                      |
| of the        |                                                      |
| effects of    |                                                      |
| the           |                                                      |
| perturbation  |                                                      |
| created by    |                                                      |
| treatment     |                                                      |
| with the      |                                                      |
| 8--10         |                                                      |
| cytokines     |                                                      |
| selected in   |                                                      |
| Task 1.3 in   |                                                      |
| combination   |                                                      |
| with our E3C7 |                                                      |
| mAb and       |                                                      |
| compare them  |                                                      |
| to the        |                                                      |
| effects of    |                                                      |
| the           |                                                      |
| co-cultured T |                                                      |
| cells and     |                                                      |
| TREM2^-/-^    |                                                      |
| myeloid       |                                                      |
| cells.        |                                                      |
|               |                                                      |
| **[Task 1.5:  |                                                      |
| Single-cell   |                                                      |
| analysis of   |                                                      |
| *in vivo*     |                                                      |
| screening     |                                                      |
| system.]{     |                                                      |
| .underline}** |                                                      |
| We developed  |                                                      |
| a platform to |                                                      |
| over-express  |                                                      |
| cytokines in  |                                                      |
| an inducible  |                                                      |
| fashion by    |                                                      |
| barcoded      |                                                      |
| (Pro-Code)    |                                                      |
| tumor cell    |                                                      |
| lines. The    |                                                      |
| 5-8 most      |                                                      |
| promising     |                                                      |
| cytokines     |                                                      |
| selected from |                                                      |
| task 1.4 will |                                                      |
| be cloned     |                                                      |
| into our      |                                                      |
| vectors and   |                                                      |
| screened in   |                                                      |
| combination   |                                                      |
| with our      |                                                      |
| anti-TREM2    |                                                      |
| mAbs in vivo. |                                                      |
| We will apply |                                                      |
| our in depth  |                                                      |
| scRNA-seq     |                                                      |
| analysis      |                                                      |
| pipeline to   |                                                      |
| make a        |                                                      |
| data-driven   |                                                      |
| selection of  |                                                      |
| the 3--5      |                                                      |
| cytokines     |                                                      |
| with the most |                                                      |
| promising     |                                                      |
| modulatory    |                                                      |
| function in   |                                                      |
| combination   |                                                      |
| with our      |                                                      |
| anti-TREM2    |                                                      |
| mAb.          |                                                      |
+---------------+------------------------------------------------------+
