**Title:** **Developing AI tailored immunocytokines to target melanoma
brain metastases**

**Background:** Brain metastases (BMs) occur in almost 50% of patients
with metastatic melanoma, resulting in a dismal prognosis with a poor
overall survival for most patients. Metastases arise from primary tumor
clones capable of adapting to new environments and are frequently
resistant to therapies to which the primary tumor was sensitive.
Particularly in BMs, the milieu of the brain creates a highly
immunosuppressive tumor microenvironment (TME). Single-cell technologies
together with machine learning have emerged as powerful tools to
decipher complex interactions between cells in the TME, enabling
development of data driven designs of immunotherapies. In this project,
we aim to harness these tools to gain in depth understanding of melanoma
BM TMEs immunosuppression, and to develop novel cytokine-based
approaches that turn the BM TME from immunologically "cold" to "hot".

**Aim 1: Developing BM TME models with holistic, multimodal AI-driven
analysis.** We will rely on orthotopic immunocompetent murine models for
melanoma BMs developed by the Weiss group together with the large cohort
of patient clinical samples collected by the Weiss group and our
collaborators in hospitals in Israel. These will be used to create
single-cell atlases of immune, stromal and tumor cells from human and
murine BMs. We will go significantly beyond the state of the art, by
building integrated tissue models from single cells and holistically
inferring their physiology and potential drug response. We will use
novel technology developed in our groups for cell temporal tracking
(ZMAN-seq, differentiation flows), cell-cell interactions (PIC-seq), and
improved strategies for AI analysis of spatial transcriptomics with
Stereo-seq. Our tools will identify shared processes and pathways
between our models and human patient TMEs, enabling us to compile a list
of cytokines with potentially high antitumor activity in melanoma BMs.

**Aim 2: Preclinical screening of cytokines in orthotopic
immunocompetent BM models.** The cytokines identified in Aim 1 will be
tested *in vitro* and *in vivo*. First, cytokine-secreting clones of
brain tropic melanoma cell lines will be created by the Amit group by
transducing them to conditionally (dox-induced) express a broad spectrum
of promising BM immune re-activation candidate cytokines. These clones
will be used to create tumor spheroids containing one or multiple
cytokine cassettes and will be co-cultured with immune cells. By adding
doxycycline, we will test varied cytokine combinations. The most
effective cytokines and cytokine combinations identified *in vitro* will
be used by the Weiss group for *in vivo* testing. The B16 clones
expressing the shortlisted cytokines or combinations will be used to
generate melanoma BMs by intracardial injections. Cytokine expression
will be activated with doxycycline and the tumor response will be
monitored using MRI and survival measurement.

**Aim 3: Design of tumor-targeting immunocytokines.** Potent cytokines
that reactivate the immune compartment and eradicated melanoma BMs will
be incorporated into antibody-cytokine fusion proteins (immunocytokines)
targeting species-conserved tumor antigens highly expressed in melanoma
BMs. Employing melanoma BMs murine models and our advanced technologies
from previous objectives, we aim at breaking through the classical
dichotomy of response/no-response and into cycles of model-driven
optimization. This will ultimately pinpoint the most effective
constructs for the IND stage.

**Impact:** Our team of world leaders in immunology, brain tumors and
computer science research is ideally suited to deliver this disruptive
proposal. Ido Amit, an authority in single-cell immuno-oncology, and
Amos Tanay, a leading figure in algorithm development for single cell
biology, have co-developed several innovative single-cell computational
tools. Tobias Weiss, an early-stage physician-scientist specializing in
brain malignancies, developed promising immunocytokines against
glioblastoma, now in clinical trials. The team has recently published
and demonstrated that immunocytokines induce significant anti-tumor
responses in both mice and glioblastoma patients.
