PI: Liu, George Y Title: Interrogating human anti-staphylococcal antibody responses for S. aureus
vaccine insights

|Col1|vaccine insights|Col3|
|---|---|---|
|Received: 04/10/2023|Opportunity: PA-20-185|Council: 10/2023|
|Competition ID: FORMS-H|FOA Title: NIH Research Project Grant (Parent R01 Clinical Trial Not Allowed)||
|1R01AI181321-01|Dual:|Accession Number: 4826613|
|IPF: 577507|Organization: UNIVERSITY OF CALIFORNIA, SAN DIEGO||
|Former Number:|Department: Pediatrics||
|IRG/SRG: IHD|AIDS: N|Expedited: N|
|Subtotal Direct Costs (excludes consortium F&A) Year 1: Year 2: Year 3: Year 4: Year 5:|Animals: Y Humans: Y Clinical Trial: N Current HS Code: 30 HESC: N HFT: N Special Topics: Data Management Sharing|New Investigator: N Early Stage Investigator: N|
||||
|Senior/Key Personnel: Organization: Role Category:|||
|George Liu Ph.D|The Regents of the Univ. of Calif., U.C. San Diego|PD/PI|
|James Slaughter|Vanderbilt University|Co-Investigator|
|Chih-Ming Tsai|The Regents of the Univ. of Calif., U.C. San Diego|Co-Investigator|
|Isaac Thomsen|Vanderbilt University|Consultant|
|C. Creech M.D.|Vanderbilt University Medical Center|MPI|


**Always follow your funding opportunity's instructions for application format. Although this**
application demonstrates good grantsmanship, time has passed since the grantee applied. The samples
may not reflect the latest format or rules. NIAID posts new samples periodically:
[https://www.niaid.nih.gov/grants-contracts/sample-applications](https://www.niaid.nih.gov/grants-contracts/sample-applications)

**The text of the application is copyrighted. The awardee provided express permission for NIAID to post**
this grant application and summary statement for educational purposes. The awardee allows you to use the
material (e.g., data, writing, graphics) they shared in the applications for nonprofit educational purposes
only, provided the material remains unchanged and the principal investigators, awardee organizations, and
NIH NIAID are credited.

**Freedom of Information Act (FOIA). NIAID is strongly committed to protecting the integrity and**
confidentiality of the peer review process. When NIH responds to FOIA requests for grant applications and
summary statements, the material will be subject to FOIA exemptions and include substantial redactions.
NIH must protect all confidential commercial or financial information, reviewer comments and deliberations,
and personal privacy information.

**Note on Section 508 Conformance and Accessibility. We have reformatted this sample to improve**
accessibility for people with disabilities and users of assistive technology. If you have trouble accessing the
[content, contact the NIAID Office of Knowledge and Educational Resources at deaweb@niaid.nih.gov.](mailto:deaweb@niaid.nih.gov)


-----

|APPLICATION FOR FEDERAL ASSISTANCE SF 424 (R&R)|Col2|Col3|3. DATE RECEIVED BY STATE State Application Identifier|
|---|---|---|---|
|1. TYPE OF SUBMISSION*|||4.a. Federal Identifier|
|❍Pre-application ●Application ❍Changed/Corrected Application|||b. Agency Routing Number|
|2. DATE SUBMITTED|Application Identifier 50259||c. Previous Grants.gov Tracking Number|
|5. APPLICANT INFORMATION UEI*: Legal Name*: The Regents of the Univ. of Calif., U.C. San Diego Department: Health Sciences SPO Division: School of Medicine Street1*: Street2: City*: County: State*: CA: California Province: Country*: USA: UNITED STATES ZIP / Postal Code*:||||
|Person to be contacted on matters involving this application Prefix: First Name*: Angela Middle Name: Last Name*: Vivola Suffix: Position/Title: Senior Grant Analyst Street1*: Street2: City*: County: State*: CA: California Province: Country*: USA: UNITED STATES ZIP / Postal Code*: Phone Number*: Fax Number: Email:||||
|6. EMPLOYER IDENTIFICATION NUMBER (EIN) or (TIN)*||||
|7. TYPE OF APPLICANT* H: Public/State Controlled Institution of Higher Education||||
|Other (Specify): Small Business Organization Type ❍Women Owned ❍Socially and Economically Disadvantaged||||
|8. TYPE OF APPLICATION* ●New ❍Resubmission ❍Renewal ❍Continuation ❍Revision||If Revision, mark appropriate box(es). ❍A. Increase Award ❍B. Decrease Award ❍C. Increase Duration ❍D. Decrease Duration ❍ E. Other (specify) :||
|Is this application being submitted to other agencies?* ❍Yes ●No What other Agencies?||||
|9. NAME OF FEDERAL AGENCY* National Institutes of Health|||10. CATALOG OF FEDERAL DOMESTIC ASSISTANCE NUMBER TITLE:|
|11. DESCRIPTIVE TITLE OF APPLICANT'S PROJECT* Interrogating human anti-staphylococcal antibody responses for S. aureus vaccine insights||||
|12. PROPOSED PROJECT Start Date* Ending Date* 09/01/2023 08/31/2028|||13. CONGRESSIONAL DISTRICTS OF APPLICANT CA-050|


-----

|SF 424 (R&R) APPLICATION FOR FEDERAL ASSISTANCE Page 2|Col2|
|---|---|
|14. PROJECT DIRECTOR/PRINCIPAL INVESTIGATOR CONTACT INFORMATION Prefix: First Name*: George Middle Name: Last Name*: Liu Suffix: Ph.D Position/Title: Professor and Chief Organization Name*: The Regents of the Univ. of Calif., U.C. San Diego Department: Pediatrics Division: Infectious Diseases Street1*: Street2: City*: County: State*: CA: California Province: Country*: USA: UNITED STATES ZIP / Postal Code*: Phone Number*: Fax Number: Email*:||
|15. ESTIMATED PROJECT FUNDING a. Total Federal Funds Requested* $ b. Total Non-Federal Funds* $ c. Total Federal & Non-Federal Funds* $ d. Estimated Program Income* $|16. IS APPLICATION SUBJECT TO REVIEW BY STATE EXECUTIVE ORDER 12372 PROCESS?* a. YES ❍ THIS PREAPPLICATION/APPLICATION WAS MADE AVAILABLE TO THE STATE EXECUTIVE ORDER 12372 PROCESS FOR REVIEW ON: DATE: b. NO ● PROGRAM IS NOT COVERED BY E.O. 12372; OR ❍ PROGRAM HAS NOT BEEN SELECTED BY STATE FOR REVIEW|
|17. By signing this application, I certify (1) to the statements contained in the list of certifications* and (2) that the statements herein are true, complete and accurate to the best of my knowledge. I also provide the required assurances * and agree to comply with any resulting terms if I accept an award. I am aware that any false, fictitious, or fraudulent statements or claims may subject me to criminal, civil, or administrative penalties. (U.S. Code, Title 18, Section 1001) ●I agree* * The list of certifications and assurances, or an Internet site where you may obtain this list, is contained in the announcement or agency specific instructions.||
|18. SFLLL or OTHER EXPLANATORY DOCUMENTATION File Name:||
|19. AUTHORIZED REPRESENTATIVE Prefix: First Name*: Angela Middle Name: Last Name*: Vivola Suffix: Position/Title*: Senior Grant Analyst Organization Name*: The Regents of the Univ. of Calif., U.C. San Diego. Department: Health Sciences SPO Division: School of Medicine Street1*: Street2: City*: County: State*: CA: California Province: Country*: USA: UNITED STATES ZIP / Postal Code*: Phone Number*: Fax Number: Email*: Signature of Authorized Representative* Date Signed* Angela Vivola 04/10/2023||
|20. PRE-APPLICATION File Name: Mime Type:||
|21. COVER LETTER ATTACHMENT File Name:Liu_Creech_R01_Cover_letter.pdf Mime Type: application/pdf||


-----

#### 424 R&R and PHS 398 Specific
 Table Of Contents

SF 424 R&R Cover Page 1

Table of Contents 3

Performance Sites 4

Research & Related Other Project Information 5

Project Summary/Abstract(Description) 6

Project Narrative 7

Facilities & Other Resources 8

Equipment 12

Research & Related Senior/Key Person 14

Research & Related Budget Year - 1 37

Research & Related Budget Year - 2 40

Research & Related Budget Year - 3 43

Research & Related Budget Year - 4 46

Research & Related Budget Year - 5 49

Budget Justification 52

Research & Related Cumulative Budget 54

Research & Related Budget - Consortium Budget (Subaward 1) 56

Total Direct Costs Less Consortium F&A 75

PHS398 Cover Page Supplement 76

PHS 398 Research Plan 78

Specific Aims 79

Research Strategy 80

PHS Human Subjects and Clinical Trials Information 92

Study 1: Interrogating human anti-staphylococcal antibody responses for staphyloc
occal vaccine insights 94

Inclusion Enrollment Reports 100

Vertebrate Animals 109

Select Agent Research 110

Multiple PD/PI Leadership Plan 111

Bibliography & References Cited 112

Consortium/Contractual Arrangements 116

Letters of Support 117

Resource Sharing Plan(s) 118

Other Plan(s) 119

Authentication of Key Biological and/or Chemical Resources 120


-----

#### j ( )

**Project/Performance Site Primary Location** ❍

organization.

Organization Name: The Regents of the Univ. of Calif., U.C. San Diego.

UEI:

Street1*:

Street2:

City*:

County: San Diego

State*: CA: California

Province:

Country*: USA: UNITED STATES

Zip / Postal Code*:

Project/Performance Site Congressional District*:

**Project/Performance Site Location 1** ❍

organization.

Organization Name: Vanderbilt University Medical Center

UEI:

Street1*:

Street2:

City*:

County:

State*: TN: Tennessee

Province:

Country*: USA: UNITED STATES

Zip / Postal Code*:

Project/Performance Site Congressional District*:

**Additional Location(s)** File Name:

|Project/Performance Site Primary Location|Col2|❍I am submitting an application as an individual, and not on behalf of a company, state, local or tribal government, academia, or other type of organization.|Col4|
|---|---|---|---|
|Organization Name:|The Regents of the Univ. of Calif., U.C. San Diego.|||
|UEI:||||
|Street1*:||||
|Street2:||||
|City*:||||
|County:|San Diego|||
|State*:|CA: California|||
|Province:||||
|Country*:|USA: UNITED STATES|||
|Zip / Postal Code*:||||
|Project/Performance Site Congressional District*:||||

|Project/Performance Site Location 1|Col2|❍I am submitting an application as an individual, and not on behalf of a company, state, local or tribal government, academia, or other type of organization.|
|---|---|---|
|Organization Name:|||
|UEI:|||
|Street1*:|||
|Street2:|||
|City*:|||
|County:|||
|State*:|TN: Tennessee||
|Province:|||
|Country*:|||
|Zip / Postal Code*:|||
|Project/Performance Site Congressional District*:|||


-----

#### RESEARCH & RELATED Other Project Information


-----

**Abstract**

_Staphylococcus aureus is a leading cause of infection worldwide and a major driver of antibiotic_
resistance. Although many experimental staphylococcal vaccines have been reported, all vaccines
tested to date in human trials have failed for unclear reasons. Unlike mice, humans are exposed to S.
_aureus beginning early in life, leading to generation of antibodies to S. aureus antigens. In preliminary_
experiments, we have shown that select human anti-S. aureus antibodies are protective, but many are
not. In mice exposed to S. aureus, vaccination against protective antigens leads to immunity against S.
_aureus whereas vaccination against non-protective antigens induced recall of non-protective immunity_
which further interferes with protective antibodies by direct competition. Based on these findings, we
generated a model of how pre-existing antibodies shape vaccine responses and how this predicts novel
ways to develop effective vaccines against S. aureus. To query the validity of our model, in Aim 1, we
will recruit children and old adults with invasive S. aureus infections, survey the anti-S. aureus antibody
profile and define functionally protective antibody responses to S. aureus antigens. In Aim 2, we will
identify and characterize protective and non-protective anti-S. aureus antibodies from candidate
samples acquired in Aim 1, and assess structural and functional features of the specific antibodies that
confer protection or non-protection. In Aim 3, we will study these antibodies and their target in the
context of naïve mice and mice previously exposed to S. aureus. We will evaluate mechanisms
whereby non-protective memory shapes vaccine efficacy and test strategies that circumvent
interference. Overall, using the novel model systems, we aim to develop a more predictive framework
for explaining staphylococcal vaccine failures and developing novel strategies for effective vaccination
against S. aureus.


-----

**Narrative**

Based on preliminary studies of S. aureus vaccine failures, we have generated a model of how pre­
existing anti-staphylococcal humoral response shapes protective and non-protective immune
responses to S. aureus. We will leverage new in vivo model systems to interrogate our hypothesis
using protective and non-protective antibodies isolated from children and elderly subjects with invasive
_S. aureus disease._


-----

**_Laboratory:_**
Dr. Liu is assigned ~ 1,000 square feet of space including 2 research bays (4 full 8-foot benches and full desks
per bay = 8 workstations) and a shared tissue culture room and procedure room within a large open floor
design in the on the of the state-of-the-art,
building in the heart of the UCSD Health Sciences Campus. The Liu laboratory
has all facilities and equipment required for modern molecular microbiology and immunity research. The lab
routinely studies a number of bacterial pathogens, including S. aureus, S. pyogenes and S. agalactiae, under
biosafety level II protocols approved by the UCSD Biosafety Committee, with every lab member trained to
handle BSL II pathogens. Core facilities for DNA and protein sequencing, electron and fluorescent de­
convolution microscopy, microarray, genomics and proteomics are located in the same or adjacent buildings.
Members of the Liu lab participate in joint research forums with several investigators in
microbiology/immunology and therefore all trainees have diverse opportunities for critical insight and feedback
on all aspects of their ongoing work. The number of high-profile seminar series in biomedical sciences, often
featuring outside speakers of international renown, occur in the auditoriums of, and the adjacent
several times each week throughout the academic calendar and lab attendance
is encouraged.

**_Office:_**
Dr. Liu has a private office and a 50% dedicated administrative assistant who can help him in grant
administration and manuscript submissions. Dr. Liu’s floor has a large conference room with videoconferencing
capability that is shared with Immunity, Infection & Inflammation investigators and the adjacent UCSD
Glycobiology Research and Training Center. The Liu Lab has continuous footprint with benches and offices
adjacent to the Victor Nizet laboratory group focused on Gram-positive infection, the Bernhard Palsson
laboratory group focused on microbial systems biology relevant to human infectious disease, the Lance Prince
Laboratory working on pulmonary inflammation, the Hal Hoffman Laboratory studying inflammasome function
in innate immunity, and the Investigators of the UCSD Glycobiology Research and Training Center, including
Ajit Varki (sialic acids) and Jeff Esko (glycosaminoglycans).

**_Animal Facility:_**
UCSD is fully accredited by the AAALAC. There are currently over 102,000 sq. ft. of animal facilities at
locations. Veterinary care for all University research animals is under the supervision of the campus office of
Veterinary services on a 24 hour basis, including holidays and weekends, in accordance with the PHS, U.S.
Department of Agriculture and AAALAC requirements. The Liu lab uses mice under the approved IACUC
protocol S18200.

**_Computers:_**
The Liu laboratory proper has 4 PCs, color inkjet and laser printers, high resolution scanners and digital
cameras, an LCD projector, high speed internet access and extensive software for DNA sequence analysis,
molecular biology, statistics, literature search and referencing, graphics, etc. All trainees have personal laptop
computers with Ethernet access at 8 individual desk stations.

**_Others:_**
Other resources that are accessible on the 4th floor next to the lab include a Kodak digital
camera/documentation system and transilluminator, flow cytometer, a Molecular Biology Assistant desktop
spectrophotometer, a Bioscreen-C Automated Growth Curve Analysis System, a nanodrop spectrophotometer,
a Enspire high performance ultrasensitive multiplate reader (fluorescence, luminescence, absorbance) with
automated stacker, a Bravo Liquid Handling Robotic Platform with 394 well capability for High throughput
screening, a hybridization oven, two tube spectrophotometers, a UV crosslinker, and Nikon standard and
inverted microscopes with fluorescence capability and video monitor attachments, acquired a Riveal HighContrast Microscopy System with Two-Fluorescence and live imaging capabilities. The laboratory complex
also includes a darkroom with developer, a walk-in cold room and an autoclave/glasswash facility. Please see
the Equipment section for additional details. Please see the Equipment section for additional details.
CFAR animal facility at UCLA will be the vendor source of humanized BLT mice. HDX-MS sequencing, BCR
sequencing, generation of B cell hybridomas and determination of antibody glycosylation will be outsourced


-----

Vanderbilt University Medical Center has a rich history of scientific discovery and collaborative research. To
ensure this legacy continues, the institution has invested considerably in its research mission in terms of
physical space, centralized research support services, recruitment and retention of established and early stage
investigators, and educational programs in research. The result is an outstanding and highly collaborative
scientific environment that is second to none in terms of institutional support, physical and educational
resources, faculty development, and intellectual camaraderie. A detailed description of selected resources and
their relevance to the proposed research program are provided in the paragraphs below.

**_Laboratory Facilities_**

**The Vanderbilt Vaccine Research Program (VVRP). Dr. Creech serves as the director of the VVRP**
Laboratory, and all equipment and facilities contained within this ample laboratory space is available for use in
this proposal.

The VVRP exists as four separate rooms in a shared hallway within the space in
, each with dedicated uses and with ample desk and bench space. In total, the Laboratory
consists of 1477 square feet of research space, and the rooms are allocated for: molecular epidemiology and
serology (D7215), microbiology (D7214), cell culture and sample processing (D7209), and immunology
(D7201). The laboratory has sufficient capital equipment, biologicals, tissue culture hoods, freezers,
refrigerators, incubators, and supplies for all proposed microbiologic and immunologic work (See: Equipment
_Attachment). Within the Pediatric ID Research space on the same floor, Dr. Creech also has full access to the_
shared equipment room, which includes an additional microplate reader, an infrared imager, two
ultracentrifuges, quantitative PCR apparatus (2), Nucleic Acid Extraction System, and a walk-in cold room for
overflow cold storage.

**Biosafety. The Creech laboratory is designated as a Biohazard Safety Level 2 facility, meaning that all**
equipment and resources are in place to work with the biohazardous agents described in this application
(primarily Staphylococcus aureus). Furthermore, all members of the Creech laboratory undergo extensive
training prior to working with biohazardous material. We have worked closely with the Institutional Biosafety
Officers at Vanderbilt to ensure that BSL-2 practices are maintained during all facets of this proposal. No select
agents will be employed within the proposal.

**Computers. The Creech Research Team uses primarily Apple operating systems and hardware for collection**
and analysis of data. Each of the 3 iMac workstations and 3 MacBook Pro devices are protected through
appropriate antiviral and VPN software, and run both Apple OS Sierra and Windows 10 via VMware. Statistical
analysis software (Stata), reference software (EndNote), Adobe Professional Suite, and appropriate
productivity software suites are provided by the Department of Pediatrics to these workstations. All computers
in the Creech lab are linked to a shared server that can be accessed from each computer ensuring that all data
are backed up on tape. A networked, color laser printer is housed in the Creech laboratory space.

**Office Space and Administrative Support.** Dr. Creech has 122 sq. ft. of private office within the Vanderbilt
Vaccine Research Program. This office is equipped with a 21.5” iMac Desktop Computer, 22” Dell auxiliary
widescreen display monitor, Dell 2300d Laser Printer, phone, and ample file and shelf space. Dr. Creech’s
office is adjacent to a central administrative office with a copier, fax machine, scanner, and office supplies.

**Cell-Sorting Core Lab: The Creech lab has access to the Vanderbilt Flow Cytometry and Cell Sorting Core**
Laboratory, an institutional facility, which will be used for the cell sorting and flow cytometry experiments. The
core has 3 dedicated operators and a Managing Director, 2 custom LSRII analyzers, a Fortessa five-laser
cytometer, three custom FACSAria III sorters, all with aerosol containment for protection of operators during
sorting of unfixed materials.

**VANTAGE** [(Vanderbilt Technologies for Advanced Genomics, vantage.vanderbilt.edu) provides Vanderbilt](https://vantage.vanderbilt.edu)
researchers with guided access to a diverse and comprehensive set of genomics workflows, including next
generation seq encing Sanger seq encing high mid and lo thro ghp t genot ping e pression microarra


-----

VANTAGE facility occupies 12,505 square feet of newly renovated lab space, supported by over $ of
federal and institutional funding. The 28 staff and managers of VANTAGE have contributed data and analysis
to hundreds of successful genomics experiments, manuscripts, and grant applications. Sequence analysis
experiments will be conducted in VANTAGE.

**_Vanderbilt University Medical Center (VUMC). VUMC has built a strong national reputation as a leader in_**
medical education, research, and patient care over the course of its 136-year history. The Medical Center is
driven by discovery and the incorporation of new knowledge into patient care, education, and research.

The Vanderbilt campus is comprised of 300 acres and was designated as a national arboretum in 1988.
Buildings on the original campus date to 1873, the year Vanderbilt was founded, and the Peabody section of
campus has been a registered historic landmark since 1966. VUMC is located between the undergraduate and
Peabody campuses and has approximately 7.2 million square feet of building space. The close proximity of
Vanderbilt University and Vanderbilt Medical Center promotes interactions, sharing of resources, and
collaboration. VUMC has greatly expanded its physical plant beyond Medical Center North (1925) through
construction of Rudolph Light Hall (1977), Vanderbilt University Hospital (1980), the Vanderbilt Clinic (1988),
the Robinson Research Building (1989), Medical Center East (1990), the Village at Vanderbilt (1990), the
Eskind Biomedical Library (1994), and the Monroe Carell Jr. Children’s Hospital (2004). To stimulate and
support its unparalleled growth in biomedical research, Vanderbilt has aggressively expanded research space
over the last two decades, creating the Preston Research Building (1995; 205,000 sq. ft.), the VanderbiltIngram Cancer Center (2001; 54,000 sq. ft.), Medical Research Building III (2002; 289,643 sq. ft.), the Medical
Center East South Tower (2005; 300,000 sq. ft.), and Medical Research Building IV (2008, 290,820 sq. ft.).

The Medical School’s reputation for outstanding research is reflected in the amount of federal and private
support it receives, with the School of Medicine now ranking No. 8 in the nation for NIH funding, as of federal
fiscal year 2016. Paralleling the growth in research has been a clear commitment to the training and
mentorship of physician investigators in basic, translational, clinical and population-based science. This
commitment includes 91 NIH career development (K) awards, 65 T32 grants, and 5 NIH K12/KL2 awards. As a
result of these training opportunities, approximately 75% of trainees across the institution remain in academic
medicine.

**The Monroe Carell Jr. Children’s Hospital at Vanderbilt and the Department of Pediatrics. The Monroe**
Carell Jr. Children's Hospital at Vanderbilt, a 276-bed tertiary care teaching hospital occupying over 650,000
square feet of physical space, is the only tertiary care pediatric health center in Middle Tennessee.
Consistently ranked as one of the nation's best children's hospitals by Parents magazine and U.S. News and
_World Report magazine, the hospital has over 300,000 pediatric visits per year, including over 235,000 clinic_
visits, 52,000 visits to the Pediatric Emergency Department and 13,800 inpatient encounters. Constructed in
2004, the freestanding children’s hospital is filled with state-of-the-art equipment and information systems to
provide the best treatment for children, and it offers a variety of accommodations for family-centered care. As a
nonprofit teaching and research hospital, the hospital serves patients from diverse socioeconomic
backgrounds. The Children's Hospital is also the institutional base for the Department of Pediatrics at
Vanderbilt, training over 200 medical students, residents, and fellows each year.

The Department of Pediatrics at Vanderbilt has 450 full-time faculty and 114 residents in training across 13
subspecialties. Nearly 50% of the faculty holds federally funded grants, and many serve on NIH study sections
and advisory panels. In 2016, the Department of Pediatrics received NIH funding greater than $
**ranking 4th in total NIH funding to pediatrics departments at US medical schools with total grant**
**funding exceeding $** Currently 38 active faculty are members of the Society for Pediatric
Research, 6 are members of the American Society for Clinical Investigation, 16 are members of the American
Pediatric Society, 4 are members of the Institute of Medicine, and 4 have received the E. Mead Johnson
Award.

**Division of Pediatric Infectious Diseases. The Department of Pediatrics’ Division of Pediatric Infectious**
Diseases, established in 1974 and directed by Mark Denison, MD, is comprised of 20 full-time faculty and is
one of the largest in the country. In addition to providing inpatient and outpatient clinical care of children with
infectious diseases and immunodeficiencies, division faculty are heavily engaged in research, medical


-----

years. The Division enjoys investigative strengths in microbial pathogenesis, human immunology, vaccine
science, and public health.

**Department of Biostatistics. The School of Medicine at Vanderbilt created the Department of Biostatistics in**
September 2003 with a major funding commitment to build a world-class department. Chaired by Yu Shyr, the
department offers a full array of biostatistical support with an emphasis on establishing long-term collaborative
relationships with investigators. The Department currently has 45 faculty biostatisticians and 60 staff Masterslevel biostatisticians. The department operates the Biostatistics Shared Resource for the Vanderbilt Ingram
Cancer Center, the VICTR Design, Biostatistics, and Research Ethics Core, the Statistics and Methodology
Core for the Vanderbilt Kennedy Center for Research on Human Development, and the Biostatistics
Collaboration Center (BCC). The department also holds a walk-in Biostatistics Clinic each day. These clinics
are designed for Vanderbilt and Meharry Medical College community members to receive assistance from
experienced biostatisticians in study design, measurement refinement, statistical analysis, and statistical
interpretation of their results. The Biostatistics Clinic staff also assists investigators in navigating all the
quantitative resources at Vanderbilt. Dr. Creech will continue to take full advantage of the Department’s
expertise and programs (led by Key Study Personnel Dr. Christopher Slaughter).

**_Scientific Environment and Institutional Resources_**

**Vanderbilt Institute for Clinical and Translational Research (VICTR). Vanderbilt University (VU) was**
fortunate to be chosen early (2007) to receive one of approximately 60 Clinical and Translational Science
Awards (CTSA). Through these awards, National Center for Research Resources (NCRR), a part of the
National Institutes of Health (NIH), supports a national consortium of medical research institutions working
together to improve the way biomedical research is conducted across the country, and Vanderbilt serves as
the coordinating center for the CTSAs. The CTSA, along with the Vanderbilt Office of Research, sponsors the
Vanderbilt Institute for Clinical and Translational Research (VICTR), an extraordinarily rich enterprise designed
to transform the way ideas and research discoveries make their way from origin to patient care. This is
accomplished using a multi-faceted approach: through collaboration with a wide variety of research partners;
by training, nurturing and rewarding participating researchers; by providing research funding and clinical
resources; by developing new and innovative ways to involve the community in research; by developing new
informatics and biostatistical systems; and by making available the latest technologies and sound research
results affecting patient care. There are many resources available to investigators through VICTR and the
CTSA). The VICTR Program provides an environment highly suited to Dr. Creech’s success as a translational
scientist conducting high-quality patient-oriented research, and resources particularly pertinent to the current
proposal are outlined below:

  - **Research Electronic Data Capture (REDCap): REDCap is a secure, web-based application**
developed at Vanderbilt and designed to support traditional case report form data capture for research
studies. REDCap is widely used in the Vanderbilt research enterprise and across a large consortium of
institutional partners. Investigators can access this intuitive interface for data entry, data validation,
audit trails, export procedures, seamless downloads to statistical packages and more. Research
Support Services staff are available to guide investigators in the use of this product. Another product is
REDCap Survey: a powerful tool for building and managing online surveys with data that is easily
exported to Microsoft Excel or other statistical analysis packages. The Creech Laboratory team has
extensive experience with REDCap will use it for efficient and secure data management in the
proposed studies.

  - **StarBRITE Web Portal: StarBRITE is an interactive system that provides a single portal for**
researchers to identify resources, obtain regulatory support, access templates for research preparation
and study conduct, obtain database development software, learn about educational requirements and
opportunities, find research volunteers, and more. StarBRITE also provides institutional application and
research approval process support. Unique features of the site includes a Customized Action Plan,
which guides researchers through the regulatory process via a comprehensive list of applications
tailored to each investigator’s individual study, and My Research, which allows investigators to view
applications and see status from departments such as IRB, Grants and Contracts, funding support


-----

All major equipment required for the proposed work at the UCSD site are available in the Liu Laboratory and
in the adjacent core space. Available to Liu lab members are: -80, -20, and 4[o]C freezer/refrigeration units, two
5 cubic ft, water-jacketed C02 tissue culture incubators, two 5 cubic foot standard incubators, 2 Forma shaking
incubators, two Eppendorf desktop centrifuges, six microfuges, two thermal cyclers, one real-time RT-PCR
system, numerous DNA and protein gel apparatuses with power supplies, an electroporation apparatus,
several shakers, a Kodak digital camera/documentation system and transilluminator, a Molecular Biology
Assistant desktop spectrophotometer, a Bioscreen-C Automated Growth Curve Analysis System, a nanodrop
spectrophotometer, a Enspire high performance ultrasensitive multiplate reader (fluorescence, luminescence,
absorbance) with automated stacker, a Bravo Liquid Handling Robotic Platform with 394 well capability for high
throughput screening, a hybridization oven, two tube spectrophotometers, a UV crosslinker, a Nikon standard
and inverted microscopes with fluorescence capability and video monitor attachments, a Riveal High-Contrast
Microscopy System with two-fluorescence and live imaging capabilities, a BD FACSCanto II and a BD
FACSCalibur. Additional equipment to which there is ready access include refrigerated superspeed
centrifuges, ultracentrifuges, liquid nitrogen storage, SpeedEvac, a Beckman DU 640 UV spectrophotometer,
top-loading and balances. The laboratory complex also includes a darkroom with developer, a walk-in cold
room and an autoclave/glasswash facility.

For the components of the proposal to be conducted at the VUMC site, the Creech Laboratory exists as four
separate rooms in a shared hallway within the Pediatric Infectious Diseases space at Vanderbilt, each with
dedicated uses and with ample desk and bench space. In total, the Laboratory consists of 1477 square feet of
research space, which are fully functioning BSL-2 level facilities, with cell culture and infectious agent
equipment.

The equipment contained in the dedicated microbiology laboratory (D7214) for use in this proposal includes:

  - Innova 40 (37[o]C) and Innova 40R (Refrigerated) shaking incubator for bacteria

  - 35[o]C incubator for bacteria with CO2 input

  - Grumbach Egg Incubator

  - Ambient air bacterial incubator

  - Forma 1200 BioSafety Cabinet/laminar flow hood

  - Bench top microcentrifuges [2]

  - Heat block

  - NanoDrop One Spectrophotometer

  - Vortexers [3]

  - Microscope with 4x,10x,40x, and Immersion Oil lens

  - Miltenyi BiotecAutoMACS Pro cell separator

  - Cold Storage: -20[o]C chest freezer; 4[o]C refrigerator

The equipment contained in the dedicated molecular epidemiology and serology laboratory (D7215) for use in
this proposal includes:

  - Eppendorf Thermocyclers [2]

  - Power supplies for electrophoresis [3]

  - Bio-Rad SDS PAGE system

  - Invitrogen iBright FL1000 multi mode gel reader

  - BioTek 405LS plate washer

  - BioTek MultiFlow dispenser

  - BioTek Synergy HT plate reader and Synergy neo2 multi mode plate reader

  - Simplicity benchtop water purifier

  - Applied Biosystems Quant Studio 3 for qPCR

  - Plate spinner

  - Ismatec variable speed peristaltic pump
Tit l t h k


-----

The equipment contained in the dedicated immunology laboratory (D7201) for use in this proposal includes:

  - Luminex MAGPIX

  - Luminex Flexmap 3D

  - Beckman Coulter Allegra X-14R Bench top Centrifuge

  - Branson sonicator

  - Accuspin Micro R microcentrifuge

  - Biotek Plate Washer and Molecular Devices Plate Reader

  - Aqua Solutions water purifier

  - Water Bath

  - Nexcelom cellometer Auto 2000

  - SterilGard III and Thermo 1300 Biosafety cabinet/laminar flow hoods.

  - Cold Storage: -80[o]C tall freezer; -20[o]C freezer; 4[o]C tall refrigerator

The equipment contained in the dedicated cell culture and sample processing laboratory (D7209) for use in this
proposal includes:

  - Labconco BioSafety Cabinet/laminar flow hood

  - Heracell CO2 Copper lined cell incubators [2]

  - Dual water bath

  - Inverted Microscope

  - AKTA go protein purification system

  - ThermoScientific pH meter

  - Ohaus Voyager Pro analytical scale

  - Maxwell (Promega) RSC for nucleic acids extractions

  - Molecular Devices SpectraMax M5 plate reader

  - Beckman Coulter Allegra X-14R Bench top Centrifuge

  - Hettich Refrigerated Centrifuge

  - Cold Storage: Liquid Nitrogen; CryoMed Controlled Rate Freezer ;-80[o]C freezer [2]; Small -20[o]C
Freezer; Small 4[o]C Refrigerator

  - Mobile View temperature monitoring system for Creech Laboratory -80[o ] freezers

**Flow Cytometry Core. Within the Cell Sorting / Flow Cytometry Core, Dr. Creech has access to seven**
cytometers: BD FACSAria II and BD FACSAria III sorters capable single-cell, four-way, or bulk sorting based
on simultaneous detection of 9 fluorochromes; a five-laser custom BD Fortessa capable of detecting a large
panel of existing or potential fluorochromes and equipped with a 96-well microplate loading device for high
throughput cell analysis and cytokine bead arrays; a five laser custom BD LSRII (including UV) with very broad
capabilities for multicolor analysis and 96-well loading device; a custom four laser BD LSRII setup for 17-color
analysis including use of quantum dot detection; a three laser LSRII available for unassisted use; and a Guava
EasyCyte system for cell counts, viability testing, and apoptosis assays.


-----

-----

-----

-----

#### BIOGRAPHICAL SKETCH

Provide the following information for the Senior/key personnel and other significant contributors.
Follow this format for each person. DO NOT EXCEED FIVE PAGES.

#### NAME: George Y. Liu, M.D., Ph.D.

 eRA COMMONS USER NAME:

 POSITION TITLE: Professor and Chief of Infectious Diseases

 EDUCATION/TRAINING (Begin with baccalaureate or other initial professional education, such as nursing, include postdoctoral training and residency training if applicable. Add/delete rows as necessary.)

 DEGREE Completion
 (if Date FIELD OF STUDY
 INSTITUTION AND LOCATION
 applicable) MM/YYYY

 California Institute of Technology, Pasadena, CA B.S. 1990 Biology

 University of Cambridge, England Ph.D. 1996 Immunology

 Univ. of California, San Diego, La Jolla, CA M.D. 1998 Medicine

 Univ. of California, Davis, Sacramento, CA Residency 2001 Pediatrics

 Univ. of California, San Diego, La Jolla, CA Fellowship 2005 Infectious Diseases

 A. Personal Statement

 The major goal of our (current) research program is to determine why we do not have a working S. aureus vaccine after thirty vaccine trials. We have made significant advances by demonstrating that the naive mouse is not a good model for the study of S. aureus vaccines because mice are rarely exposed to human S. aureus, unlike humans. Exposure to the pathogen leads to the generation of non-protective anti-S. aureus antibody imprints that, we propose, are preferentially recalled, leading to vaccine failures. To broadly examine if these principles could be used to explain the failure of other S. aureus vaccines and identify human-relevant vaccine strategies, we have previously partnered with Dr. Isaac Thomsen at Vanderbilt with whom we developed a murine adoptive transfer model to better evaluate the protective effect of human anti-S. aureus antibodies. Dr. Thomsen recently accepted a position at Pfizer to continue S. aureus vaccine research. In his place, we are partnering with his longtime Vanderbilt colleague and former mentor, Dr. Buddy Creech, who has agreed to assume the position of co-PI. Dr. Creech is a leading S. aureus clinical researcher and vaccine expert, and has all the expertise required for execution of this proposal.  He and Dr. Liu have known each other for more than 5 years as a result of shared interest. To make transition seamless, Dr. Thomsen has agreed to remain on as consultant for at least the first 9 months of the project.

 Publications directly relevant to this proposal:

 1. Tsai CM, Hajam IA, Caldera JR, Liu G.Y. (2022) Integrating complex host-pathogen immune
 environments into S. aureus vaccine studies. Cell Chem Biol. 29(5):730-740. PMID: 35594849.

|necessary.)|Col2|Col3|Col4|
|---|---|---|---|
|INSTITUTION AND LOCATION|DEGREE (if applicable)|Completion Date MM/YYYY|FIELD OF STUDY|
|California Institute of Technology, Pasadena, CA University of Cambridge, England Univ. of California, San Diego, La Jolla, CA Univ. of California, Davis, Sacramento, CA Univ. of California, San Diego, La Jolla, CA|B.S. Ph.D. M.D. Residency Fellowship|1990 1996 1998 2001 2005|Biology Immunology Medicine Pediatrics Infectious Diseases|


-----

####,, j, ( ) p p
 failure of S. aureus IsdB vaccine. Cell Host Microbe 10; 30(8):1163-1172. PMID: 35803276.

## 3. Tsai CM, Soper N, Bennett M, Fallon JK, Michell AR, Alter G, Liu GY, Thomsen I. (2021)
#### Adoptive Transfer of Serum Samples From Children With Invasive Staphylococcal Infection and Protection Against Staphylococcus aureus Sepsis. J Infect Dis 223(7):1222-1231.  PMID: 32990305.

 B. Positions, Scientific Appointments, and Honors

 Positions and Scientific Appointments

 1998-2001  Residency in Pediatrics, University of California, Davis Medical School
 2001-2004  Fellowship in Pediatric Infectious Diseases, University of California, San Diego
 2004-2006  Post-Doctoral Fellowship, University of California, San Diego
 2006-2010 Assistant professor of Pediatrics, Cedars-Sinai Medical Center / UCLA
 2010-  Associate professor of Pediatrics, in residence, UCLA
 2012- Associate director of the Infectious and Immunologic Disease Research Center at Cedars-Sinai
 2016- Professor of Pediatrics, in residence, UCLA
 2019- Professor and Chief, Pediatric Infectious Diseases, UCSD

 Honors

 2004  Burroughs-Wellcome Career Award in Biomedical Sciences
 2008  Pediatric Infectious Disease Society 2008 Young Investigator Award
 2008-  Ad Hoc Member of NIAID F13, F15, R21 and R01 HIBP study sections
 2009  ASM Merck Irving S. Sigal Memorial Young Investigator Award
 2010  Aspire Young Investigator Award – Pfizer
 2017-  American Society for Clinical Investigation – Elected member
 2019-  Editorial Board, Infection and Immunity
 2020-  Editorial Board, Pathogens.
 2020-24 HIBP study section – Member

 C. Contribution to Science

 1. Group B Streptococcus virulence functions: GBS hemolysin/cytolysin is a major virulence that contributes to significant tissue destruction in GBS diseases. We provided important insight on how the hemolysin induces damage to host tissues. More recently, we demonstrated that GBS hyaluronidase is an immune evasion tool that facilitates spread of GBS while minimizing detection by host DAMPs and PAMPs.

 a. Liu G.Y., Doran K., Lawrence T., Turkson N., Puliti M., Tissi L., Nizet V. (2004). Sword
 and Shield: Linked Group B Streptococcal βHemolysin/ Cytolysin and Carotenoid Pigment Function to Subvert Phagocytic Defense. Proc Natl Acad Sci USA 101:14491- 14496. PMC521972.
 b. Doran K., Liu G.Y., Nizet V. (2003). Group B Streptococcal ß-Hemolysin/Cytolysin
 Activates Neutrophil Signaling Pathways in Brain Endothelium and Contributes to f C C


-----

#### Lawrence T.  (2012) The pore-forming ß-hemolysin/cytolysin of group B Streptococcus activates p38 MAPK-dependent IL-10 production in macrophages and inhibits innate immunity. PLoS Pathog 8:e1002812. PMC3400567
 d. Kolar SL, Kyme P, Tseng CW, Soliman A, Kaplan A, Liang J, Nizet V, Jiang D, Murali R, Arditi M, Underhill DM, Liu GY. (2015) Group B Streptococcus Evades Host Immunity by Degrading Hyaluronan. Cell Host Microbe 18:694-704. PMC4683412.

 2. GBS and S. aureus both express an orange pigment on its surface. We demonstrated that both pigments play an important role in immune evasion via their anti-oxidant function. For S. aureus, we further demonstrated that a cholesterol inhibitor that interferes with S. aureus pigment biosynthesis augments host killing of the pathogen.

 a. Liu C-I*, Liu G.Y.* shared first authorship, Song Y, Yin F, Hensler ME, Nizet V, Wang AH,
 Oldfield E. (2008) A cholesterol lowering drug inhibits S. aureus virulence.   Science 319:391-394. PMC2747771
 b. Liu G.Y., Essex A, Buchanan JT, Datta V, Fierer J, Nizet V.  (2005) Staphylococcus
 aureus golden pigment impairs neutrophil killing and promotes virulence through its antioxidant activity. J Exp Med 202: 209-215. PMC2213009.
 c. Liu G.Y., Doran K., Lawrence T., Turkson N., Puliti M., Tissi L., Nizet V. (2004). Sword
 and Shield: Linked Group B Streptococcal βHemolysin/ Cytolysin and Carotenoid Pigment Function to Subvert Phagocytic Defense. Proc Natl Acad Sci USA 101:14491- 14496. PMC521972.

 3. The emergence of community-associated MRSA has led to increased incidence of abscesses, necrotizing pneumonia, and severe diseases. Panton Valentine Leukocidin is a toxin expressed by most isolates of CA-MRSA. However its role in pathogenesis has been controversial. We have provided evidence in human biopsy as well as animals that PVL contributes to immunopathology. Most recently we have validated the use of a humanized mouse model to study the role of PVL and other potential virulence factors in human infections.

 a. Lehman D, Tseng,CW, Eells S, Miller LG, Fan X, Beenhouwer D, Liu G.Y.  (2010) S.
 aureus Panton-Valentine Leukocidin Targets Muscle Tissue in a Child with Myositis and Necrotizing Fasciitis. Clin Infect Dis 50:69-72.
 b. Diep B, Chan L, Tattevin P, Kajikawa O, Martin T, Li Basuino, Mai T, Braughton K, Whitney A, Gardner D, Fan X, Tseng C, Liu G.Y., Badiou C, Etienne J, Lina G, Matthay M, DeLeo F, Chambers H. (2010) Polymorphonuclear Leukocytes Mediate Staphylococcus aureus Panton-Valentine Leukocidin-Induced Lung Inflammation and Injury Proc Natl Acad Sci USA 107(12):5587-92. PMC2851770
 c. Tseng CW, Biancotti JC, Berg BL, Gate D, Kolar SL, Müller S, Rodriguez MD, Rezai-Zadeh K, Fan X, Beenhouwer DO, Town T, Liu G.Y. (2015) Increased Susceptibility of Humanized NSG Mice to Panton-Valentine Leukocidin and Staphylococcus aureus Skin Infection. PLoS Pathog 11:e1005292. PMC4664407.
 d. Thomsen IP, Liu G.Y. (2018) Targeting fundamental pathways to disrupt Staphylococcus
 aureus survival: clinical implications of recent discoveries. JCI Insight 3(5).  PMC5922289.

 4. C/EBP epsilon deficiency is responsible for the human condition specific granule deficiency.  We demonstrated that high dose nicotinamide induces expression of C/EBP epsilon in mature neutrophils and augments expression of C/EBP epsilon regulated genes, lactoferrin and cathelicidin. Administration of nicotinamide boosts clearance of MRSA and other pathogens.


-----

#### another host factor that promotes neutrophil killing of MRSA by augmenting ROS.

 a. Kyme P, Thoennissen NH, Tseng CW, Iwanski GB, Shimada K, Krug UO, Lee K, Hardy WD, Gombart AF, Koeffler HP, Liu G.Y. (2012) CCAAT/enhancer binding protein epsilon mediates nicotinamide-enhanced clearance of Staphylococcus aureus infection.  J Clin Invest 122:3316-29. PMC3428083.
 b. Khan Z, Shen XZ, Bernstein EA, Giani JF, Eriguchi M, Zhao TV, Gonzalez-Villalobos RA, Fuchs S, Liu G.Y., Bernstein KE. Angiotensin converting enzyme enhances the oxidative response and bactericidal activity of neutrophils. (2017) Blood 130:328-339. PMC5520468.
 5. The failure of all staphylococcal vaccine trials has been a conundrum but could be related to pathogen’s immune evasion mechanisms. We have shown that S. aureus circumvents host adaptive immune protection by OatA mediated peptidoglycan modification, which blunts Th17 anti-S. aureus immunity. We suggest and show that the non-protective imprints left after S. aureus infection or colonization are preferentially recalled by S. aureus vaccines leading to vaccine failures.
 a. Shimada T, Park B, Goodridge HS, Wolf AJ, Becker CA, Reyes CN, Miao EA, Aderem A, Götz F, Liu G.Y., Underhill DM. (2010) Lysozyme-based digestion of S. aureus peptidoglycan in macrophage phagosomes activates Nalp3 inflammasomes.
 Cell Host Microbe 7:38-49. PMC2818986.
 b. Sabrina Müller, Wolf A.J., Iliev I.D., Berg B.L., Underhill D.M., and Liu G.Y.  (2015) Poorly
 cross-linked peptidoglycan formed in MRSA due to mecA induction strongly activates the NLRP3 inflammasome and exacerbates immunopathology. Cell Host Microbe 18(5):604-12. PMC4648675.
 c.  Sanchez M, Kolar SL, Muller S, Reyes CN, Wolf AJ, Ogawa C, deCarvalho D, Arditi M, Underhill DM, Martins GA, Liu G.Y. (2017) O-acetylation of peptidoglycan limits helper T
 cell priming and permits Staphylococcus aureus reinfection. Cell Host Microbe 22:543- 551. PMC5679255.
 d. Tsai CM, Hajam IA, Caldera JR, Liu G.Y. Integrating complex host-pathogen immune
 environments into S. aureus vaccine studies. Cell Chem Biol. 2022 29(5):730-740. PMID: 35594849.
 e. Tsai CM, Caldera JR, Hajam IA. … Liu G.Y. Non-protective immune imprint underlies
 failure of S. aureus IsdB vaccine. Cell Host Microbe 2022 10; 30(8):1163-1172. PMID: 35803276.

 Complete List of Published Work in MyBibliography:

 http://www.ncbi.nlm.nih.gov/sites/myncbi/george.liu.1/bibliography/47993492/public/?sort=date&direct ion=descending


-----

**BIOGRAPHICAL SKETCH**

Provide the following information for the Senior/key personnel and other significant contributors.
Follow this format for each person. DO NOT EXCEED FIVE PAGES.

NAME: C. Buddy Creech, MD, MPH

eRA COMMONS USER NAME (credential, e.g., agency login):

POSITION TITLE: Professor, Pediatric Infectious Diseases; Director, Vanderbilt Vaccine Research
**Program**

EDUCATION/TRAINING

INSTITUTION AND LOCATION DEGREE DATE FIELD OF STUDY

Vanderbilt University, Nashville, Tennessee BS 05/1995 Biology

University of Tennessee College of Medicine, Memphis MD 06/1999 Medicine

Vanderbilt University Medical Center, Nashville, TN Residency 06/2002 Pediatrics

Vanderbilt University Medical Center, Nashville, TN Chief Residency 06/2003 Pediatrics

Vanderbilt University Medical Center, Nashville, TN Fellowship 06/2006 Pediatric Infectious Diseases

Vanderbilt University School of Medicine, Nashville, TN MPH 05/2006 Public Health

**A. Personal Statement**
I currently serve as Professor and Edie Carell Johnson Chair in Pediatric Infectious Diseases and Director of
the Vanderbilt Vaccine Research Program (VVRP). The VVRP is home to one of 10 NIAID-funded Vaccine and
Treatment Evaluation Units (VTEU) and is the coordinating center for the CDC-funded Clinical Immunization
Safety Assessment Network (CISA). I have conducted clinical and translational research for nearly 20 years,
focusing first on the clinical and molecular epidemiology of S. aureus colonization and disease and then on the
evaluation of new vaccines and therapeutics targeting influenza, malaria, pertussis, and other pathogens. Over
the past several years, we have leveraged the robust laboratory and bioinformatics tools at Vanderbilt to
conduct comprehensive analyses of the response to influenza and pertussis vaccines, taking a systems
vaccinology approach to evaluate transcriptomic, proteomic, and metabolomic signatures following vaccination.
We are using similar approaches to characterize transcriptional profiles that may identify children with bacterial
pneumonia.

In my role as PI of the Vanderbilt VTEU, I have led Phase I-IV clinical trials of vaccines and therapeutics in
infants, children, adults, pregnant women, and elderly individuals. These studies have evaluated strategies for
improving immunogenicity of influenza vaccine in young infants; the safety and immunogenicity of novel
A/H1N1, A/H5N1, and A/H7N9 influenza vaccines, with the recent application of systems biology tools to
define better immune correlates of protection; the safety and immunogenicity of adjuvanted seasonal influenza
vaccines; the safety of an adenoviral vectored malaria vaccine (Phase I); trials of candidate staphylococcal
vaccines and immunotherapeutics; and comparator studies of Tdap vaccines in adolescents.  I also direct
studies in the VVRP Laboratory, with expertise in basic microbiology and immunology techniques; clinical trial
sample processing; PBMC storage; human immune cell sorting into specific immune cell compartments (e.g.,
isolation and purification of human T-cells, B-cells, monocytes, and neutrophils by MACS and FACS); and
functional immune assays. Our team also has an active research program in population pharmacokinetic
(popPK) studies in special populations. I currently serve as the multicenter PI for DMID 16-0078, a popPK
study of beta-lactams in children and adults with cystic fibrosis, and as site PI for DMID 16-0077, a similar
study in critically ill adults. Finally, I lead efforts through the Pediatric Infectious Diseases Society (where I
serve as President) to improve education of healthcare providers through the CoVER initiative (Collaboration
for Vaccine Education and Research), using innovative educational modules to combat vaccine hesitancy and
reduce healthcare utilization disparities.

For this project, I will add specific clinical trial expertise and facilitate obtaining clinical samples for subsequent
laboratory analysis.

|EDUCATION/TRAINING|Col2|Col3|Col4|
|---|---|---|---|
|INSTITUTION AND LOCATION|DEGREE|DATE|FIELD OF STUDY|
|Vanderbilt University, Nashville, Tennessee University of Tennessee College of Medicine, Memphis Vanderbilt University Medical Center, Nashville, TN Vanderbilt University Medical Center, Nashville, TN Vanderbilt University Medical Center, Nashville, TN Vanderbilt University School of Medicine, Nashville, TN|BS MD Residency Chief Residency Fellowship MPH|05/1995 06/1999 06/2002 06/2003 06/2006 05/2006|Biology Medicine Pediatrics Pediatrics Pediatric Infectious Diseases Public Health|


-----

**UM1-AI-149452**
Creech (PI)
12/2019 – 11/2026
NIAID Vaccine and Treatment Evaluation Unit (VTEU)
The VTEU is a network of 10 academic centers whose work focuses on the evaluation of new vaccines and
new therapeutics for infectious diseases.

**UM1-AI-149452-02S2_NCE**
Creech (PI)
03/2020 – 11/2022
Clinical Trials for COVID-19 Vaccines (Moderna Phase 3 and Janssen Phase 3 studies)

**UM1-AI-149452-03S1**
Creech (PI)
08/2021-11/2023
Clinical Trials for COVID-19 Vaccines – DMID 21-0004 - Observational, Prospective Cohort Study of the
Immunogenicity and Safety of SARS-CoV-2 Vaccines Administered during Pregnancy or Postpartum and
Evaluation of Antibody Transfer and Durability in Infants

**UM1-AI-149452-03S2**
Creech (PI)
07/2021-11/2026
Clinical Trials for COVID-19 Vaccines – DMID 21-0012 - A Phase 1/2 Study of Delayed Heterologous SARSCoV-2 Vaccine Dosing (Boost) after Receipt of EUA Vaccines.

**UM1-AI-149452-03S3**
Creech (PI)
05/2021-11/2024
Clinical Trials for COVID-19 Vaccines - Phase 2/3, Two-Part, Open-Label, Dose-Escalation, Age De-escalation
and Randomized, Observer-Blind, Placebo-Controlled Expansion Study to Evaluate the Safety, Tolerability,
Reactogenicity, and Effectiveness of mRNA-1273 SARS-CoV-2 Vaccine in Healthy Children 6 Months to Less
Than 12 Years of Age

**CISA Contract ##200-2012-50430**
Edwards (PI), Role: Co-PI
09/2020 – 09/2022
CDC Clinical Immunization Safety Assessment Network (CISA) – COVID-19 Clinical Lead Evaluation Site

**CISA Contract ##200-2012-50430**
Edwards (PI), Role: Co-PI
08/2013 – 09/2022
CDC Clinical Immunization Safety Assessment Network (CISA) – Coordinating Center

**B. Positions, Scientific Appointments, and Honors**

**Positions and Scientific Appointments**
2021 Professor of Pediatrics, Division of Pediatric Infectious Diseases, Vanderbilt University
School of Medicine

2020 President, Pediatric Infectious Diseases Society

2016 Secretary/Treasurer, Pediatric Infectious Diseases Society

2015 NIH/NICHD Pediatric Infectious Diseases Terminology Working Group

2015 – present Director, Vanderbilt Vaccine Research Program

2014 – 2021 Associate Professor of Pediatrics, Division of Pediatric Infectious Diseases, Vanderbilt
University School of Medicine

2014 Fellow, Pediatric Infectious Diseases Society

2013 – 2014 Chair, Senate Affairs Committee, Vanderbilt University Faculty Senate


-----

2010 – 2015 Associate Director, Vanderbilt Vaccine Research Program

2009 – 2018 Program Director, Pediatric Infectious Diseases Fellowship

2008 Centers for Disease Control and Prevention Staphylococcal Decolonization Advisory Board

2006 – 2014 Assistant Professor of Pediatrics, Division of Pediatric Infectious Diseases, Vanderbilt
University School of Medicine

2006 Fellow, American Academy of Pediatrics

2003 – present Member, Pediatric Infectious Diseases Society

2003 – present Member, Infectious Diseases Society of America

**Honors**
2021 Physician of the Year, Nashville Business Journal

2020 Election to Academic Pediatric Society

2012 Young Investigator Award, Pediatric Infectious Diseases Society

2009 Election to Society for Pediatric Research

2009 Advanced Vaccinology Course (ADVAC) Travel Award, National Foundation for Infectious
Diseases

2007 Young Investigator Award in MRSA Research, Infectious Diseases Society of America

2004 National Institutes of Health Loan Repayment Program

2004 Pediatric Infectious Diseases Society Fellowship Award

2000 Robert C. Boerth Intern of the Year Award, Monroe Carell, Jr. Children’s Hospital at
Vanderbilt

1999 Outstanding Graduating Medical Student in Pediatrics, LeBonheur Children’s Hospital

1998 Alpha Omega Alpha Medical Honor Society, University of Tennessee, Memphis

**C. Contributions to Science**

1. Our research team continues to seek a greater understanding of the rules of immunity and correlates of
durable protection for a variety of pathogens, principally S. aureus, influenza, and pertussis. Our team
has optimized clinical trials approaches that provide excellent source material for our own research
laboratory and those of our colleagues, including high-yield/high-viability peripheral blood mononuclear
cells, highly enriched/purified immune cell compartments (e.g., T-cells, B-cells, monocytes, dendritic
cells, and NK cells), and tissue-based assessments of immune responses (e.g., draining lymph nodes
and bone marrow).

a. Thornburg NJ,* Zhang H, Bangaru S, Sapparapu G, Kose N, Lampley RM, Bombardi RG, Yu Y,
Graham S, Branchizio A, Yoder SM, Rock MT, Creech CB, Edwards KM, Lee D, Li S, Wilson
IA, García-Sastre A, Albrecht RA, Crowe JE Jr. H7N9 influenza virus neutralizing antibodies that
possess few somatic mutations. J Clin Invest. 2016 Apr 1;126(4):1482-94. PMC4811156

b. Howard LM*, Hoek KL, Goll JB, Samir P, Galassie A, Allos TM, Niu X, Gordy LE, Creech CB,
Prasad N, Jensen TL, Hill H, Levy SE, Joyce S, Link AJ, Edwards KM. Cell-Based Systems
Biology Analysis of Human AS03-Adjuvanted H5N1 Avian Influenza Vaccine Responses: A
Phase I Randomized Controlled Trial. PLoS One. 2017 Jan 18; 12(1) PMC5242433

c. Galassie AC*, Goll JB, Samir P, Jensen TL, Hoek KL, Howard LM, Allos TM, Niu X, Gordy LE,
**Creech CB, Hill H, Joyce S, Edwards KM, Link AJ. Proteomics show antigen presentation**
processes in human immune cells after AS03-H5N1 vaccination. Proteomics. 2017 Jun;17(12).
PMC5736144

d. Howard LM*, Goll JB, Jensen TL, Hoek KL, Prasad N, Gelber CE, Levy SE, Joyce S, Link AJ,
**Creech CB, Edwards KM. AS03-Adjuvanted H5N1 Avian Influenza Vaccine Modulates Early**
Innate Immune Signatures in Human Peripheral Blood Mononuclear Cells. J Infect Dis. 2018
Dec 19. PMID: 30566602

2. The VVRP is experienced at evaluating new vaccines at various places along the product development
pipeline; these include early first-in-human studies, as well as evaluation of new vaccine constructs in
special populations (e.g., children and pregnant women). The trials listed below highlight the types of
influenza vaccine candidates that have been evaluated at Vanderbilt.

a. Hoft DF, Babusis E, Worku S, Spencer CT, Lottenbach K, Truscott SM, Abate G, Sakala IG,
Edwards KM, Creech CB, Gerber MA, Bernstein DI, Newman F, Graham I, Anderson EL,


-----

15;204(6):845-53. PMC3156924

b. Jackson LA, Patel SM, Swamy GK, Frey SE, Creech CB, Munoz FM, Artal R, Keitel WA, Noah
DL, Petrie CR, Wolff M, Edwards KM.Immunogenicity of an inactivated monovalent 2009
H1N1 influenza vaccine in pregnant women. J Infect Dis. 2011 Sep 15;204(6):854-63.
PMC3156926

c. Hoft DF, Lottenbach K, Goll JB, Hill H, Winokur PL, Patel SM, Brady RC, Chen WH, Edwards K,

**Creech CB, Frey SE, Blevins TP, Salomon R, Belshe RB. Priming Vaccination with Influenza**
Virus H5 Hemagglutinin Antigen Significantly Increases the Duration of T cell Responses
Induced by a Heterologous H5 Booster Vaccination. J Infect Dis. 2016 Oct 1;214(7):1020-9.
PMC5021235

d. Houser KV, Yamshchikov GV, Bellamy AR, May J, Enama ME, Sarwar U, Larkin B, Bailer RT,
Koup R, Paskel M, Subbarao K, Anderson E, Bernstein DI, Creech CB, Keyserling H,
Spearman P, Wright PF, Graham BS, Ledgerwood JE; VRC 702 study team. DNA vaccine
priming for seasonal influenza vaccine in children and adolescents 6 to 17 years of age: A
phase 1 randomized clinical trial. PLoS One. 2018 Nov 2;13(11):e0206837. PMC6214651.

3. I have a longstanding interest in the optimal use of antimicrobials for the treatment of pediatric and
adult infections. This work has primarily focused on the use of vancomycin for S. aureus infections, risk
factors for vancomycin toxicity, comparative effectiveness of a variety of antimicrobials for
staphylococcal skin and soft tissue infections, and the evaluation of novel antimicrobials.

a. Jimenez-Truque N*, Thomsen I, Saye E, Creech CB. Should higher vancomycin trough levels
be targeted for invasive community-acquired methicillin-resistant Staphylococcus aureus
infections in children? Pediatr Infect Dis J. 2010 Apr;29(4):368-70. PMC3848324

b. Van Driest SL*, McGregor TL, Velez Edwards DR, Saville BR, Kitchner TE, Hebbring SJ,
Brilliant M, Jouni H, Kullo IJ, Creech CB, Kannankeril PJ, Vear SI, Brothers KB, Bowton EA,
Shaffer CM, Patel N, Delaney JT, Bradford Y, Wilson S, Olson LM, Crawford DC, Potts AL, Ho
RH, Roden DM, Denny JC. Genome-Wide Association Study of Serum Creatinine Levels during
Vancomycin Therapy. PLoS One. 2015 Jun 1;10(6):e0127791. PMC4452656

c. Miller LG, Daum RS, Creech CB, Young D, Downing MD, Eells SJ, Pettibone S, Hoagland RJ,
Chambers HF; DMID 07-0051 Team. Clindamycin versus trimethoprim-sulfamethoxazole for
uncomplicated skin infections. N Engl J Med. 2015 Mar 19;372(12):1093-103. PMC4547538

d. Daum RS, Miller LG, Immergluck L, Fritz S, Creech CB, Young D, Kumar N, Downing M,
Pettibone S, Hoagland R, Eells SJ, Boyle MG, Parker TC, Chambers HF; DMID 07-0051 Team.
A Placebo-Controlled Trial of Antibiotics for Smaller Skin Abscesses. N Engl J Med. 2017 Jun
29;376(26):2545-2555. PMID: 28657870

4. We continue to lead an active program in S. aureus molecular epidemiology, staphylococcal
colonization, staphylococcal vaccine development, and immunopathogenesis, much of which is
conducted through the Vanderbilt Vaccine Research Program Laboratory, directed by my former
trainee and current colleague, Dr. Isaac Thomsen.

a. Mohamed N, Timofeyeva Y, Jamrozy D, Rojas E, Hao L, Silmon de Monerri NC, Hawkins J,
Singh G, Cai B, Liberator P, Sebastian S, Donald RGK, Scully IL, Jones CH, Creech CB,
Thomsen I, Parkhill J, Peacock SJ, Jansen KU, Holden MTG, Anderson AS. Molecular
epidemiology and expression of capsular polysaccharides in Staphylococcus aureus clinical
isolates in the United States. PLoS One. 2019 Jan 14;14(1) PMID: 30641545.

b. Kotloff KL, Shirley DT, Creech CB, Frey SE, Harrison CJ, Staat M, Anderson EJ, Dulkerian S,
Thomsen IP, Al-Hosni M, Pahud BA, Bernstein DI, Yi J, Petrikin JE, Haberman B, Stephens K,
Stephens I, Oler RE Jr, Conrad TM. Mupirocin for Staphylococcus aureus Decolonization of
Infants in Neonatal Intensive Care Units. Pediatrics. 2019 Jan;143(1). pii: e20181565. doi:
10.1542/peds.2018-1565. PMC6317770.

c. Thomsen IP*, Sapparapu G, James DBA, Cassat JE, Nagarsheth M, Kose N, Putnam N,
Boguslawski KM, Jones LS, Wood JB, Creech CB, Torres VJ, Crowe JE Jr. Monoclonal
Antibodies Against the Staphylococcus aureus Bicomponent Leukotoxin AB Isolated Following
Invasive Human Infection Reveal Diverse Binding and Modes of Action. J Infect Dis. 2017 Apr
1;215(7):1124-1131. PMC5426380.


-----

JM, Immermann FW, McNeil LK, Cooper D, Jansen KU, Gruber W, Eiden J, Anderson AS,
Baber J. Safety, tolerability, and immunogenicity of a single dose 4-antigen or 3-antigen
Staphylococcus aureus vaccine in healthy older adults: Results of a randomised trial. Vaccine.
2017 Jan 5;35(2):385-394. PMID:27866765.

5. Since early 2020, we have been singularly focused on the SARS-CoV-2 pandemic. We have led
protocol development and execution of both treatment studies and prevention strategies for SARSCoV-2. We have brought together a remarkable team of basic scientists with over 30 years’ experience
in coronavirus biology and a clinical team capable of recruiting rapidly for Phase 2-3 clinical trials. Work
accomplished during this time include the first randomized, placebo-controlled clinical trial of remdesivir
in hospitalized adults and evaluation of one of the first SARS-CoV-2 vaccines to receive approval for
use in the US.

a. Baden LR, El Sahly HM, Essink B, Kotloff K, Frey S, Novak R, Diemert D, Spector SA,
Rouphael N, Creech CB, McGettigan J, Kehtan S, Segall N, Solis J, Brosz A, Fierro C,
Schwartz H, Neuzil K, Corey L, Gilbert P, Janes H, Follmann D, Marovich M, Mascola J,
Polakowski L, Ledgerwood J, Graham BS, Bennett H, Pajon R, Knightly C, Leav B, Deng W,
Zhou H, Han S, Ivarsson M, Miller J, Zaks T; COVE Study Group. Efficacy and Safety of the
mRNA-1273 SARS-CoV-2 Vaccine. N Engl J Med. 2020 Dec 30: NEJMoa2035389. doi:
10.1056/NEJMoa2035389. Online ahead of print. PMID: 33378609

b. Anderson EJ, Campbell JD, Creech CB, Frenck R, Kamidani S, Munoz FM, Nachman S,
Spearman P. Warp Speed for COVID-19 Vaccines: Why are Children Stuck in Neutral? Clin
Infect Dis. 2020 Sep 18:ciaa1425. doi: 10.1093/cid/ciaa1425. Online ahead of print.PMID:
32945335

c. **Creech CB. It's True Even in a Pandemic: Children Are Not Merely Little Adults. Clin Infect Dis.**
2020 Dec 3;71(9):2480-2481. doi: 10.1093/cid/ciaa680. PMID: 32472937

d. Beigel JH, Tomashek KM, Dodd LE, Mehta AK, Zingman BS, Kalil AC, Hohmann E, Chu HY,
Luetkemeyer A, Kline S, Lopez de Castilla D, Finberg RW, Dierberg K, Tapson V, Hsieh L,
Patterson TF, Paredes R, Sweeney DA, Short WR, Touloumi G, Lye DC, Ohmagari N, Oh MD,
Ruiz-Palacios GM, Benfield T, Fätkenheuer G, Kortepeter MG, Atmar RL, Creech CB,
Lundgren J, Babiker AG, Pett S, Neaton JD, Burgess TH, Bonnett T, Green M, Makowski M,
Osinusi A, Nayak S, Lane HC; ACTT-1 Study Group Members. Remdesivir for the Treatment of
Covid-19 - Final Report. N Engl J Med. 2020 Nov 5;383(19):1813-1826. doi:
10.1056/NEJMoa2007764. Epub 2020 Oct 8. PMID: 32445440

e. Kalil AC, Patterson TF, Mehta AK, Tomashek KM, Wolfe CR, Ghazaryan V….. Deye GA,
Dempsey W, Nayak SU, Dodd LE, Beigel JH; ACTT-2 Study Group. Baricitinib plus Remdesivir
for Hospitalized Adults with Covid-19. N Engl J Med. 2020 Dec 11:NEJMoa2031994. doi:
10.1056/NEJMoa2031994. Epub ahead of print. PMID: 33306283; PMCID: PMC7745180.

Complete List of Published Work in MyBibliopgraphy:
[https://pubmed.ncbi.nlm.nih.gov/?term=creech+cb+%5Bau%5D](https://pubmed.ncbi.nlm.nih.gov/?term=creech+cb+%5Bau%5D)


-----

**BIOGRAPHICAL SKETCH**

Provide the following information for the Senior/key personnel and other significant contributors.
Follow this format for each person. DO NOT EXCEED FIVE PAGES.

NAME: Slaughter, James

eRA COMMONS USER NAME (credential, e.g., agency login):

POSITION TITLE: Associate Professor

EDUCATION/TRAINING (Begin with baccalaureate or other initial professional education, such as nursing,
_include postdoctoral training and residency training if applicable. Add/delete rows as necessary.)_

DEGREE Completion

_(if_ Date FIELD OF STUDY

INSTITUTION AND LOCATION

_applicable)_ MM/YYYY

Tulane University, New Orleans, LA BS 05/1998 Mathematics

Tulane University, New Orleans, LA BS 05/1998 Cell and Molec Bio

University of Washington, Seattle, WA MS 08/2000 Biostatistics

University of North Carolina at Chapel Hill DrPH 08/2007 Biostatistics

**A. Personal Statement**

I am a Biostatistician and have collaborated with investigators in the Department of Pediatrics and the
Vanderbilt Vaccine Center since 2007. The department conducts both clinical and basic science research, and
I have been an active collaborator in both areas. Out of 202 total peer reviewed publications, I have been a
coauthor on 98 such publications within Pediatrics and seven within the Vaccine Center. I have ample
experience teaching and implementing the analysis approaches that will be used in this grant. For the
proposed grant, I will develop analysis plans and provide expertise on data quality and collection to ensure that
all analyses are technically sounds, are completely reproducible, and utilize modern applied statistical
methodology. Dr. Creech and I have developed an excellent research rapport, with a bidirectional exchange of
knowledge and novel ideas. I anticipate that this will continue to grow as we work together in the future. I have
enjoyed participating in this application and look forward to the to the interesting questions we will answer.

**B. Positions, Scientific Appointments, and Honors**
Positions and Scientific Appointments

2015 - Associate Professor, Vanderbilt University Medical Center, Department of Biostatistics,
Nashville, TN

2007 - 2015 Assistant Professor, Vanderbilt University Medical Center, Department of Biostatistics,
Nashville, TN

2002 - 2007 Trainee, UNC Training Grant in Environmental Epidemiology, Chapel Hill, NC

2000 - 2002 Research Scientist, UW-EPA Northwest Research Center for Particulate Matter and Health,
Seattle, WA

2005 - Member, American Statistical Association

2004 - Member, International Biometrics Society

Honors

2007 Distinguished Student Paper Award, International Biometric Society, ENAR

2006 Professional Development Award, Summer Institute in Reproductive and Perinatal
Epidemiology, NICHD

2002 Scholars for Tomorrow Scholarship, University of North Carolina Graduate School

|INSTITUTION AND LOCATION|DEGREE (if applicable)|Completion Date MM/YYYY|FIELD OF STUDY|
|---|---|---|---|
|Tulane University, New Orleans, LA Tulane University, New Orleans, LA University of Washington, Seattle, WA University of North Carolina at Chapel Hill|BS BS MS DrPH|05/1998 05/1998 08/2000 08/2007|Mathematics Cell and Molec Bio Biostatistics Biostatistics|


-----

1. My methodological research focuses on flexible Bayesian regression models for epidemiologic data. Data
analysts often use overly simplistic statistical methods, which can lead to results that are reproducible. For
example, it is common practice to reduce a complex health outcome to a simple 0/1 indicator of disease
status and then apply a logistic regression model. While such an analysis is easy to conduct and interpret
for clinicians unfamiliar with statistics, it is inefficient because it discards data and requires the analyst to
choose arbitrary cut-points to define disease. These limitations can lead to misinterpretations of the
exposure-disease relationship. A Bayesian latent variable model can flexibly model the exposure-disease
relationship without relying on arbitrary cutoffs. It can also naturally handle multivariate responses that are
collected longitudinally or cross-sectionally. I have two key papers in this area. The first proposed a
Bayesian multistate growth model with unknown initiation time that we applied to first trimester fetal growth.
In a growth model, individuals move progressively through a series of states in which each state is
indicative of developmental status. Interest lies in estimating the rate of change through each state while
incorporating covariates that might impact the rate of change through each state. We developed a
Bayesian discrete time multistate growth model to link developmental progress to an underlying latent
growth variable that can affect state transition rates. In addition to the methodological contribution, our
model found evidence in favor of a previously hypothesized but unproven link between slow growth very
early in pregnancy and increased risk of future spontaneous abortion. In a second paper we used latent
variable models to estimate the association between fetal growth during pregnancy and birth outcomes.
Our procedure was more flexible than typical latent variable approaches in that we relax the Normality
assumption by allowing the latent factors to follow finite mixture distributions. We were able to jointly model
birth weight and gestational age at delivery using a latent variable mixture distribution, which allowed for
making inference about the important tails of the distribution. Adverse health outcomes are more likely to
occur at early gestational age and low birth weight, and the model can be used to draw conclusions about
factors that are associated with being in the lower tail.

a. Slaughter JC, Herring AH, Hartmann KE. Bayesian modeling of embryonic growth using latent
variables. Biostatistics. 2008 Apr;9(2):373-89. PMID: 18056115.

b. Slaughter JC, Herring AH, Thorp JM. A Bayesian latent variable mixture model for longitudinal fetal
growth. Biometrics. 2009 Dec;65(4):1233-42. PMCID: PMC3717393.

2. I have worked with investigators in Pediatrics since I arrived to Vanderbilt in 2007. The division engages in
clinical and basic science research, and I have participated in writing grants and manuscripts with
researchers in both areas. I also mentor fellows and meet with presenters before journal clubs to discuss
statistical questions. Within Neonatology, there are two main research areas in which I focus. First, I am
co-investigator on a grant to find early biomarkers of bronchopulmonary dysplasia (BPD). BPD is a
complex outcome involving several clinical indicators that historically has been simplified to a 0/1 outcome.
We are considering BPD as and ordinal outcome reflecting disease severity as well as applying latent
variable methods for even more flexible models. I also have a special interest in longitudinal data analysis,
and have been able to apply this to studies of developmental progress of children who were born preterm.
In these studies, we track language, motor and cognitive development over time using traditional functional
testing (e.g. Bayley scores) as well as novel approaches that directly measure brain responses (e.g. ERP).

a. Jaser SS, Bergner EM, Hamburger ER, Bhatia S, Lyttle M, Bell GE, Slaughter JC, Malow BA, Simmons
JH. Pilot Trial of a Sleep-Promoting Intervention for Children With Type 1 Diabetes. J Pediatr Psychol.
2021 Mar 18;46(3):304-313. doi: 10.1093/jpepsy/jsaa105. PMID: 33180913; PMCID: PMC8679215.

b. Jaser SS, Hamburger ER, Bergner EM, Williams R, Slaughter JC, Simmons JH, Malow BA. Sleep
coach intervention for teens with type 1 diabetes: Randomized pilot study. Pediatr Diabetes. 2020
May;21(3):473-478. doi: 10.1111/pedi.12991. Epub 2020 Feb 11. PMID: 32003520; PMCID:
PMC7670490.

c. Gregory JM, Slaughter JC, Duffus SH, Smith TJ, LeStourgeon LM, Jaser SS, McCoy AB, Luther JM,
Giovannetti ER, Boeder S, Pettus JH, Moore DJ. COVID-19 Severity Is Tripled in the Diabetes
Community: A Prospective Analysis of the Pandemic's Impact in Type 1 and Type 2 Diabetes. Diabetes
Care. 2020 Dec 2:dc202260. doi: 10.2337/dc20-2260. Online ahead of print. PMID: 33268335

d. Abdullahi SU, Jibir BW, Bello-Manga H, Gambo S, Inuwa H, Tijjani AG, Idris N, Galadanci A, Hikima
MS, Galadanci N, Borodo A, Tabari AM, Haliru L, Suleiman A, Ibrahim J, Greene BC, Ghafuri DL,
Rodeghier M, Slaughter JC, Kirkham FJ, Neville K, Kassim A, Trevathan E, Jordan LC, Aliyu MH,


-----

Jan;9(1):e26-e37. doi: 10.1016/S2352-3026(21)00368-9. PMID: 34971579.

3. I collaborate with several basic science investigators in neonatology and vaccine research. Basic science
research historically has received less statistical attention than clinical research. I work closely with these
investigators to ensure they are applying the appropriate, modern statistical methodology in their data
analyses.

a. Bates JT, Keefer CJ, Slaughter JC, Kulp DW, Schief WR, et al. Escape from neutralization by the
respiratory syncytial virus-specific neutralizing monoclonal antibody palivizumab is driven by changes
in on-rate of binding to the fusion protein. Virology. 2014 Apr;454-455:139-44. PMCID: PMC4004766.

b. Flyak AI, Ilinykh PA, Murin CD, Garron T, Shen X, Fusco ML, Hashiguchi T, Bornholdt ZA, Slaughter
JC, Sapparapu G, Klages C, Ksiazek TG, Ward AB, Saphire EO, Bukreyev A, Crowe JE Jr.
Mechanism of human antibody-mediated neutralization of marburg virus. Cell. 2015 Feb
26;160(5):893-903. PMCID: PMC4344968.

c. Bangaru S, Nieusma T, Kose N, Thornburg NJ, Finn JA, Kaplan BS, King HG, Singh V, Lampley RM,
Sapparapu G, Cisneros A 3rd, Edwards KM, Slaughter JC, Edupuganti S, Lai L, Richt JA, Webby RJ,
Ward AB, Crowe JE Jr. Recognition of influenza H3N2 variant virus by human neutralizing antibodies.
_JCI Insight. 2016 Jul 7;1(10). PMCID: PMC4962875._

d. Gilchuk I, Gilchuk P, Sapparapu G, Lampley R, Singh V, Kose N, Blum DL, Hughes LJ, Satheshkumar
PS, Townsend MB, Kondas AV, Reed Z, Weiner Z, Olson VA, Hammarlund E, Raue HP, Slifka MK,
Slaughter JC, Graham BS, Edwards KM, Eisenberg RJ, Cohen GH, Joyce S, Crowe JE Jr. CrossNeutralizing and Protective Human Antibody Specificities to Poxvirus Infections. Cell. 2016 Oct
20;167(3):684-694.e9. PMCID: PMC5093772.

4. I have worked with investigators in the division of Gastroenterology since I arrived at Vanderbilt. The
majority of my time with GI is spent on clinical research projects and industry-sponsored grant
submissions. Although I support the entire division, more than half of my research is focused on
understanding gastroesophageal reflux disease (GERD) with Michael Vaezi, MD PhD. My methodological
interest with Dr Vaezi includes new statistical approaches for defining reflux disease and symptomassociated reflux. The clinical goal is to improve the identification of individuals who have symptom-related
reflux and suggest the appropriate treatment (e.g. PPIs or surgery) for alleviation of symptoms. Current
research is hampered by simplistic definitions of reflux based on the total percent time spent below pH 4.
Not only is a pH of 4 an arbitrary cutoff, but subjects are further defined as being pH positive if the percent
of time is above another cutoff, 4.2. We have published a manuscript and presented our results at a
national GI meeting (DDW) describing how current approaches are leading to wrong clinical decisions. We
also have another manuscript under review describing a new approach. I am developing latent time series
models to flexibly model pH levels over time in an effort to better understand the relationship between
symptoms and reflux.

a. Vaezi MF, Hagaman DD, Slaughter JC, Tanner SB, Duncavage JA, et al. Proton pump inhibitor
therapy improves symptoms in postnasal drainage. Gastroenterology. 2010 Dec;139(6):1887-1893.e1;
quiz e11. PMID: 20801120.

b. Slaughter JC, Goutte M, Rymer JA, Oranu AC, Schneider JA, Vaezi MF. Caution about
overinterpretation of symptom indexes in reflux monitoring for refractory gastroesophageal reflux
disease. Clin Gastroenterol Hepatol. 2011 Oct;9(10):868-74. PMID: 21782769.

c. Kavitt RT, Higginbotham T, Slaughter JC, Patel D, Yuksel ES, Vaezi MF. Symptom reports are not
reliable during ambulatory reflux monitoring. Am J Gastroenterol. 2012 Dec;107(12):1826-32. PMID:
23090349.

d. Ates F, Yuksel ES, Higginbotham T, Slaughter JC, Mabary J, Vaezi MF. Mucosal Impedance
Discriminates GERD From Non-GERD Conditions. Gastroenterology. 2015 Feb;148(2):334-43. PMID:
25448923.

**Complete List of Published Work in MyBibliography:**
[http://www.ncbi.nlm.nih.gov/myncbi/james.slaughter.1/bibliography/47395835/public/?sort=date&direction=asc](http://www.ncbi.nlm.nih.gov/myncbi/james.slaughter.1/bibliography/47395835/public/?sort=date&direction=ascending)
[ending](http://www.ncbi.nlm.nih.gov/myncbi/james.slaughter.1/bibliography/47395835/public/?sort=date&direction=ascending)


-----

OMB No. 0925-0001 and 0925-0002 (Rev. 10/21 Approved Through 09/30/2024)

## BIOGRAPHICAL SKETCH

**NAME: Thomsen, Isaac P**

**eRA COMMONS USER NAME:**
**POSITION TITLE: Associate Professor, Pediatric Infectious Diseases**

**EDUCATION/TRAINING**

INSTITUTION AND LOCATION DEGREE DATE FIELD OF STUDY

COMPLETED

Rhodes College, Memphis, TN BS 05/2000 Biochemistry

Univ. of Arkansas for Medical MD 05/2004 Medicine
Sciences, Little Rock, AR

Vanderbilt University, Nashville, TN Resident 06/2008 Internal Medicine and Pediatrics

Vanderbilt University, Nashville, TN Resident 06/2009 Chief Resident in Internal Medicine

Vanderbilt University, Nashville, TN Fellow 06/2012 Pediatric Infectious Diseases

Vanderbilt University, Nashville, TN MSCI 06/2013 Clinical Investigation

**A. Personal Statement**
I have conducted patient-oriented infectious diseases research since 2006, when I began to investigate the
molecular epidemiology and pathogenesis of Staphylococcus aureus infections in children. Trained in both
Internal Medicine and Pediatrics, with subspecialty training in Pediatric Infectious Diseases, my primary
research is focused on the host response to invasive staphylococcal infections in children. Our team is
conducting a series of studies in adults and children to decipher the humoral immune response to invasive
staphylococcal disease and to investigate active and passive immunization strategies to combat
staphylococcal infections. I have received advanced training in patient-oriented research and biostatistics
through the Masters of Science in Clinical Investigation (MSCI) Program, and I currently serve as director of
the Vanderbilt Vaccine Research Program (VVRP) Laboratory. I have also served as an Investigator on
numerous NIH-funded clinical trials over the past 10 years and as a CDC Clinical Immunization Safety
Assessment (CISA) Network Investigator for the past 8 years. I am delighted to serve as a consultant for this
grant, which proposes to leverage a well established infrastructure for the rapid enrollment of children with
invasive S. aureus infections. Dr. Liu and his team at UCSD, in collaboration with Dr. Creech and his team at
VUMC, are well positioned to identify key mediators of adaptive host defense against invasive S. aureus, which
will directly inform rational vaccine design against this major human pathogen.

Ongoing and recently completed projects include:

**_R01 AI139172_** **Thomsen (PI)** **01/2019 – 12/2023**

NIH/NIAID

**Functional Antibody Repertoire Against S. aureus Leukocidins after Invasive Human Infection**
_The overall goal of this proposal is to define key components of the human immune response against an_
_important group of toxins secreted by S. aureus, the leukocidins, known to be produced during invasive_
_disease in children._
Role: Principal Investigator

**Vaccine and Treatment Evaluation Unit (VTEU)** **12/2019 – 11/2026**
**NIH / NIAID / UM1 AI48452-01 (Creech, Vanderbilt PI)**
_The goal of this network is to develop new and improved vaccines and therapies against infectious diseases_
_and to conduct clinical trials of vaccines and treatments._
Role: Co-Investigator and Laboratory Director

**06/2020 – 05/2021**

|EDUCATION/TRAINING|Col2|Col3|Col4|
|---|---|---|---|
|INSTITUTION AND LOCATION|DEGREE|DATE COMPLETED|FIELD OF STUDY|
|Rhodes College, Memphis, TN Univ. of Arkansas for Medical Sciences, Little Rock, AR Vanderbilt University, Nashville, TN Vanderbilt University, Nashville, TN Vanderbilt University, Nashville, TN Vanderbilt University, Nashville, TN|BS MD Resident Resident Fellow MSCI|05/2000 05/2004 06/2008 06/2009 06/2012 06/2013|Biochemistry Medicine Internal Medicine and Pediatrics Chief Resident in Internal Medicine Pediatric Infectious Diseases Clinical Investigation|


-----

**Symptom Severity and Functional Correlation of SARS-CoV-2 IgG Following Human Disease**
_The primary goal of this project is to develop a novel liquid bead-array assay for the detection of SARS-CoV-2_
_antibodies and to investigate the hypothesis that severity of COVID-19 disease directly correlates with anti-_
_virus antibody titers._
Role: Principal Investigator

**UL1TR002243-04S4** **Bernard (PI)** **09/2020 – 03/2021**

NIH/NCATS
**Identifying correlates of functional immunity in SARS-CoV-2 convalescent plasma**
_The overall goal of this proposal is to assess SARS-CoV-2 antibody responses in sera from subjects recovered_
_from COVID-19 across a large number of platforms, including both binding and functional assays. This will_
_allow correlation of binding measurements / titers with functional neutralization of the virus._
Role: Co-Investigator

**_K23-AI113150_** **Thomsen (PI)** **08/2014 – 12/2019**

NIH/NIAID

**Evaluating the Functional Antibody Response to Pediatric S. aureus Infections**
_The major goals of the project are to evaluate the host response to S. aureus disease via cohorts of children_
_with specific phenotypes of infection, and to define the mechanism of the cytoprotective effects of antibodies_
_targeting specific staphylococcal exotoxins._
Role: Principal Investigator

Citations:

a. Tsai CM, Soper N, Bennett M, Fallon J, Michell A, Alter G, Liu G*, Thomsen I* [*co-corresponding].
_Adoptive Transfer of Serum from Children with Invasive Staphylococcal Infection and Protection_
_Against S. aureus Sepsis.  Journal of Infectious Diseases. 2020 Aug 06._ **PMID: 32990305**

b. **Thomsen I, Liu G.** _Targeting fundamental pathways to disrupt Staphylococcus aureus survival: clinical_
_implications of recent discoveries. Journal of Clinical Investigation: Insight. 2018 Mar 8;3(5)._
**PMID: 29515041. PMCID: PMC5922289**

**B. Positions, Scientific Appointments, and Honors**
**Positions and Scientific Appointments**

2020-present Associate Professor, Pediatric Infectious Diseases, Vanderbilt University School of Medicine,
Nashville, TN

2020-present Program Director, Pediatric Infectious Diseases Clinical Fellowship, Vanderbilt University
Medical Center, Nashville, TN

2018-present Associate Program Director, Pediatric Infectious Diseases Clinical Fellowship, Vanderbilt
University Medical Center, Nashville, TN

2015-present Director, Vanderbilt Vaccine Research Program Laboratory, Vanderbilt University Medical
Center, Nashville, TN

2013-2020 Assitant Professor, Pediatric Infectious Diseases, Vanderbilt University School of Medicine,
Nashville, TN

2012 - 2013 Instructor, Pediatric Infectious Diseases, Vanderbilt University School of Medicine, Nashville,
TN

2008 - 2009 Chief Resident, Internal Medicine, Vanderbilt University Medical Center, Nashville, TN

2002-present Member, Alpha Omega Alpha Honor Society
2004-present Member, American Academy of Pediatrics
2007-present Member, American College of Physicians
2009-present Member, Pediatric Infectious Diseases Society


-----

2014-2017 Pediatric Infectious Diseases Society (PIDS) National Vaccine Advocacy Committee

2017-present Vanderbilt Program in Molecular Medicine (VPMM) Bench to Bedside Committee
2019-present Pediatric Infectious Diseases Society (PIDS) National Finance Committee

**Honors**

1996 Morse Fellowship, Full Tuition Scholarship for 4 years of Undergraduate Training, Rhodes
College

2000 Frank Williams Memorial Scholarship, University of Arkansas for Medical Sciences (UAMS)

2002 Parents Club Scholarship, UAMS, "for the student who displays the greatest of compassion
and empathy for patients and their families"

2004 Richard V. Ebert Award for Excellence in Internal Medicine, UAMS

2004 Joseph Thomas Roberts Scholarship, UAMS, awarded to the graduating senior with the
highest overall GPA

2004 Dr. and Mrs. Charles Moon Scholarship, UAMS, for completing medical school with a 4.0 GPA

2004 Senior Buchanan Key, UAMS, elected by vote of the class "for the student who most
exemplifies the ideal qualities of a physician"

2008 First Place Award, National Clinical Vignette Presentation, American College of Physicians
National Meeting, Washington, D.C.

2010 Department of Pediatric Fellow Teaching Award, Monroe Carell, Jr. Children's Hospital at
Vanderbilt

2011 Edwards Fellowship Award, Pediatric Infectious Diseases, Vanderbilt University Medical
Center

2011 Fellows Travel Award, Infectious Diseases Society of America

2011 Thomas A. Hazinski, M.D. Scholarship, Vanderbilt University MSCI Program

2012 Elected as Class Representative, Vanderbilt MSCI Class of 2013


2013
2014
2017


David T. Karzon Fellowship Award in Pediatric Infectious Diseases
Attendee, Advanced Course of Vaccinology (ADVAC), Annecy, France

Caroline B. Hall Clinically Innovative Research Award, Pediatric Infectious Diseases Society


2018 Selected for Membership, Society for Pediatric Research (SPR)

**C. Contribution to Science**

c. Our laboratory is focused on exploring critical host-pathogen interactions when Staphylococcus aureus
causes invasive disease in humans, with the goal of identifying novel targets of intervention. We propose
that critical aspects of the host response to invasive S. aureus infection in humans will be determined by
defining the host response during natural human disease. Our contributions in this area include discoveries
that the cytotoxin LukAB was ubiquitously present in a large series of clinical isolates causing invasive
disease in children, that LukAB is produced and recognized by the host during invasive human disease,
and that neutralization of the toxin is achieved by the host response via diverse mechanisms. We continue
to investigate this and other vaccine-relevant antigens of Staphylococcus aureus.

a. **Thomsen I, Dumont AL, James DB, Yoong P, Saville BR, Soper N, Torres VJ, Creech CB. Children**
with invasive Staphylococcus aureus disease exhibit a potently neutralizing antibody response to the
cytotoxin LukAB. Infection and Immunity. 2014 Mar;82(3):1234-42. PMCID: PMC3957992.

b. **Thomsen I, Sapparapu G, James DBA, Cassat JE, Nagarsheth M, Kose N, Putnam N, Boguslawski K,**
Jones LS, Wood JB, Creech CB, Torres VJ*, Crowe JE* [*co-corresponding}. _Monoclonal antibodies_
_against the Staphylococcus aureus bicomponent leukotoxin AB (LukAB) isolated following invasive_
_human infection reveal diverse binding and modes of action. Journal of Infectious Diseases. 2017_
Feb 10. **PMCID: PMC5426380**

c. Wood JB, Jones LS, Soper N, Nagarsheth M, Creech CB, Thomsen I. Commercial Intravenous
_Immunoglobulin (IVIg) Preparations Contain Functional Neutralizing Antibodies Against the_


-----

2017 Sep 5. PMCID: PMC5655085

d. Tsai CM, Soper N, Bennett M, Fallon J, Michell A, Alter G, Liu G*, Thomsen I* [*co-corresponding].

_Adoptive Transfer of Serum from Children with Invasive Staphylococcal Infection and Protection_
_Against S. aureus Sepsis.  Journal of Infectious Diseases. 2020 Aug 06._ **PMID: 32990305**

d. I have a particular interest in the pathogenesis, diagnosis, and optimal care of children with
musculoskeletal infections, particularly hematogenous osteomyelitis and septic arthritis. Staphylococcus
_aureus remains the leading cause of these invasive infections, and our group has actively enrolled all_
children admitted to the Monroe Carell, Jr. Children’s Hospital at Vanderbilt for the past several years, for
the purpose of studying both MSKI in general and S. aureus in particular. We have contributed to this field
both by working to characterize current epidemiology in this area, as well as to assess the impact of the
rapidly changing molecular epidemiology of S. aureus as it relates to pediatric MSKI.

a. **Thomsen I, Creech CB. Advances in the diagnosis and management of pediatric osteomyelitis.**

**Curr Infect Dis Rep. 2011 Oct;13(5):451-60. PMID: 21789499.**

b. Benvenuti M, An TJ, Mignemi M, Martus J, Thomsen I, Schoenecker JG. Effects of Antibiotic
_Timing on Culture Results and Clinical Outcomes in Pediatric Musculoskeletal Infection._
**Journal of Pediatric Orthopedics. 2016 Sep 22 PMID: 27662389**

c. Wood JB, Jones LJ, Soper NS, Xu M, Torres VJ, Creech CB, Thomsen I. _Serologic Detection_
_of Antibodies Targeting the Leukocidin LukAB Strongly Predicts Staphylococcus aureus in_
_Children with Musculoskeletal Infections._ **Journal of the Pediatric Infectious Diseases**
**Society. 2018 Mar 10. PMID: 29538707. PMCID: PMC6510946**

d. Yi J, Wood JB, Creech CB, Williams DJ, Jiminez-Truque N, Yildirim I, Sederdahl B, Daugherty

M, Hussaini L, Munye M, Tomashek K, Focht C, Watson N, Anderson EJ*, Thomsen I* [* = cocorresponding]. Clinical Epidemiology and Outcomes of Pediatric Musculoskeletal Infections.
**The Journal of Pediatrics. 2021 Jul; 234:236-244. PMID: 33771580**

e. During my post-doctoral training period, I began to examine the molecular characteristics of clinical isolates
of methicillin-resistant S. aureus (MRSA). With financial support from the NIH-funded Vaccine and
Treatment Evaluation Unit, we characterized MRSA isolates that colonized the nares of healthy adults and
children and compared their molecular characteristics with disease-causing isolates, and we found that
colonization and disease-causing isolates were distinct. We have since investigated the molecular
epidemiology of MRSA in a variety of populations.

a. **Thomsen I, McKenna BD, Saye EJ, Jimenez N, Edwards KM, Creech CB. Molecular distinctions exist**
between community-associated methicillin-resistant Staphylococcus aureus colonization and diseaseassociated isolates in children. Pediatr Infect Dis J. 2011 May;30(5):418-21. PMID: 21263373;
**PMCID: PMC3077447.**

b. Jimenez-Truque N, Tedeschi S, Saye EJ, McKenna BD, Langdon W, Wright JP, Alsentzer A, Arnold S,
Saville BR, Wang W, Thomsen I, Creech CB. Relationship between maternal and neonatal
Staphylococcus aureus colonization. Pediatrics. 2012 May;129(5):e1252-9. PMID: 22473373; PMCID:
**PMC3340589.**

c. Johnson JG, Saye EJ, Jimenez-Truque N, Soper N, Thomsen I, Talbot TR, Creech CB. Frequency of
disinfectant resistance genes in pediatric strains of methicillin-resistant Staphylococcus aureus. Infect
**Control Hosp Epidemiol. 2013 Dec;34(12):1326-7. PMID: 24225622; PMCID: PMC3965576.**

d. **[Thomsen I, Kadari P, Soper NR, Riddell S, Kiska D, Creech CB, Shaw J. Molecular Epidemiology of](https://www.ncbi.nlm.nih.gov/pubmed/?term=Kadari%20P%5BAuthor%5D&cauthor=true&cauthor_uid=30961989)**
Invasive Staphylococcus aureus Infections and Concordance with Colonization Isolates. Journal of
**Pediatrics. 2019 July; 210:173-177. PMID: 30961989 PMCID: PMC6592716**

f. I have a strong interest in host-pathogen interactions, including those that may represent potential
opportunities for intervention against important pathogens such as S. aureus, as well as instances where
the host response is deficient due to primary immunodefiency syndromes. We have published several
reports and discussions defining these interactions and leveraging this understanding to achieve optimal
care of children and adults with these infections, which has led to productive relationships with colleagues


-----

_clinical implications of recent discoveries. Journal of Clinical Investigation: Insight. 2018 Mar_
8;3(5). **PMID: 29515041. PMCID: PMC5922289**

b. Slack MA, Thomsen I. The Prevention of Infectious Complications in Chronic Granulomatous
_Disease. Journal of the Pediatric Infectious Diseases Society. 2018 May 9;7(suppl_1):S25­_
S30. PMID: 29746681. PMCID: PMC5946879

c. **Thomsen I.** _Antibody-Based Intervention Against the Pore-Forming Toxins of Staphylococcus_
aureus. Virulence. 2018 Mar; 9(1)645-647. **PMID: 29405823. PMCID: PMC5955459**

d. **Thomsen I.** _The Concern for Vancomycin Failure in the Treatment of Pediatric Staphylococcus_
_aureus Disease. Clinical Infectious Diseases. Epub, 2018 Jun. PMID: 29893812. PMCID_
**PMC6336910.**

Complete List of Published Work in MyBibliography:
[http://www.ncbi.nlm.nih.gov/myncbi/browse/collection/48350599/?sort=date&direction=descending](http://www.ncbi.nlm.nih.gov/myncbi/browse/collection/48350599/?sort=date&direction=descending)


-----

#### BIOGRAPHICAL SKETCH

Provide the following information for the Senior/key personnel and other significant contributors.
Follow this format for each person. DO NOT EXCEED FIVE PAGES.

#### NAME: Chih-Ming Tsai, Ph.D.

 eRA COMMONS USER NAME:

 POSITION TITLE: assistant project scientist

 EDUCATION/TRAINING (Begin with baccalaureate or other initial professional education, such as nursing, include postdoctoral training and residency training if applicable. Add/delete rows as necessary.)

 DEGREE Completion
 (if Date FIELD OF STUDY
 INSTITUTION AND LOCATION
 applicable) MM/YYYY

 National Chiayi University, Taiwan B.S. 2004 Biology

 National Yang-Ming University, Taiwan M.S. 2006 Immunology

 National Yang-Ming University, Taiwan Ph.D. 2011 Immunology/Glyco- biology
 Academia Sinica, Taiwan Postdoc 20014 Immunology/Glyco fellowship biology
 Univ. of California, San Diego, La Jolla, CA Postdoc 2017 Immunology/Glyco- biology
 Cedars-Sinai Medical Center, Los Angeles, CA Postdoc 2018 Immunology/Glyco- biology
 Univ. of California, San Diego, La Jolla, CA Project 2019 Immunology/Glyco Scientist biology
 A. Personal Statement Our research focuses on understanding the B cell responses to S. aureus infection including plasma cell development, antibody glycosylation and epitope selection to improve the S. aureus vaccine development. We aim to elucidate the suppression mechanisms of S. aureus infection that underly the failure of S. aureus vaccine in human clinical trials. Though understanding of these mechanisms, we aim to discover novel approaches to developing effective S. aureus vaccines.

 Publications directly relevant to this proposal:

 1. Tsai CM, Hajam IA, Caldera JR, Liu GY. Integrating complex host-pathogen immune environments into S. aureus vaccine studies. Cell Chem Biol. 2022 29(5):730-740. PMID: 35594849.

## 2. Tsai CM, Caldera JR, Hajam IA. … George Y. Liu. Non-protective immune imprint underlies

#### failure of S. aureus IsdB vaccine. Cell Host Microbe 2022 10; 30(8):1163-1172. PMID: 35803276.
 3. Tsai CM, Nicole Soper, Monique Bennett, Jonathan K Fallon, Ashlin R Michell, Galit Alter, George Y Liu, Isaac Thomsen, 2021, “Adoptive Transfer of Serum Samples From Children With Invasive Staphylococcal Infection and Protection Against Staphylococcus aureus Sepsis”, The Journal of Infectious Diseases, 223(7): 1222-1231

|necessary.)|Col2|Col3|Col4|
|---|---|---|---|
|INSTITUTION AND LOCATION|DEGREE (if applicable)|Completion Date MM/YYYY|FIELD OF STUDY|
|National Chiayi University, Taiwan National Yang-Ming University, Taiwan National Yang-Ming University, Taiwan Academia Sinica, Taiwan Univ. of California, San Diego, La Jolla, CA Cedars-Sinai Medical Center, Los Angeles, CA Univ. of California, San Diego, La Jolla, CA|B.S. M.S. Ph.D. Postdoc fellowship Postdoc Postdoc Project Scientist|2004 2006 2011 20014 2017 2018 2019|Biology Immunology Immunology/Glyco- biology Immunology/Glyco- biology Immunology/Glyco- biology Immunology/Glyco- biology Immunology/Glyco- biology|


-----

#### Academic Positions

 2011-2014 Postdoctoral Fellow, Academia Sinica, Taiwan
 2014-2017 Postdoctoral Fellow, University of California, San Diego, CA
 2017-2018   Postdoctoral Fellow, Cedars-Sinai Medical Center, Los Angeles, CA
 2018-2019  Project Scientist, Cedars-Sinai Medical Center, Los Angeles, CA
 2019-Current Project Scientist, University of California, San Diego, CA

 Honors and Awards

 2010   Travel award from National Science Council, Taiwan to attend the 14[th ]International
   Congress of Immunology, Kobe, Japan.
 2012   Travel award for the 8[th ]International Symposium on Glycosyltransferases to attend
 GlycoT 2012, Hannover, Germany
 2012-2014  Postdoctoral Fellowship at Academia Sinica, Taiwan

 C. Contribution to Science

 1. The role of galectins in plasma cell differentiation. Galectins play important roles in regulating immune cell homeostasis and host-pathogen interactions. We provided important insight on how galectins promote plasma cell differentiation and regulates B cell receptor signaling. We also identified different glycan structure expression on mature B cells and plasma cells that correlated to the function of B cells and can be used as the therapeutic targets by using synthesis glycans.

 a. Tsai CM, Y. K. Chiu, T. L. Hsu, I. Y. Lin, S. L. Hsieh and K. I Lin, 2008, “Galectin-1 promotes immunoglobulin production during plasma cell differentiation”, Journal of Immunology, 181, 4570-4579.
 b. Tsai CM, Chin-Huey Guan, Hsiao-Wu Hsieh, Tsui-Ling Hsu, Zhijay Tu, Kuan-Jung Wu, Chun-Hung Lin*, and Kuo-I Lin, 2011, “Galectin-1 and galectin-8 have redundant roles in promoting plasma cell formation”, Journal of Immunology, 187 (4),1643-1652
 c. Shui-Hua Wang, Tsai CM, Kuo-I Lin, Kay-Hooi Khoo, 2013, “Advanced Mass Spectrometry and Chemical Analyses Reveal the Presence of Terminal Disialyl Motif on mouse B cell Glycoproteins”, Glycobiology, 23(6):677-89. (co-author)
 d. Tsai CM et al., 2014, “Phosphoproteomic analyses reveal that galectin-1 augments the dynamics of B-cell receptor signaling”, Journal of Proteomics, 103C:241-253. (co­ author)

 2. The GBS and Trichomonas vaginalis surface capsule containing sialic acid influence innate and adaptive immune responses through siglecs in inflammasome activation in macrophages. We demonstrated that Siglec 14 has tonic effects of inflammasome activation in macrophages in GBS infection. The expression level of Siglec14 and the polymorphic paried Siglec 5 can regulate NLRP3 inflammasome activation. Moreover, we found the Siglec 7 has negative regulation of inflammasome activation in NK cells in GBS infection.

 a. Tsai CM, Angelica M. Riestra, Syed Raza Ali, Jerry J. Fong, Janet Z. Liu, Ajit Varki, Victor Nizet, 2020, “Siglec-14 Enhances NLRP3-Inflammasome Activation in Macrophages”, Journal of innate Immunity, 2020;12(4):333-343.


-----

#### Between Human Bacterial Pathogen and Natural Killer Cells: Silencing the Sentinels”, Proc Natl Acad Sci U S A, 115(41): 10410-10415
 c. Angelica Montenegro Riestra, J. Andrés Valderrama, Kathryn A. Patras, Sharon Booth, Xing Quek, Tsai CM, Victor Nizet, 2018, “Trichomonas vaginalis Induces NLRP3 Inflammasome Activation and Pyroptosis in Human Macrophages”, Journal of Innate Immunity, 2019;11(1):86-98.

 3.  The non-protective immune imprint of S. aureus failure staphylococcal vaccines. We found that
 S. aureus infection can induce non-protective immune imprint on B cells and generate non- neutralizing antibodies by limiting B cell clone generation and antibody glycosylation. The suppression of vaccine efficacy can be transferred by B cells from S. aureus-exposed mice. We found a potential vaccine candidate targeting NEAT2 domain of IsdB which had untouched epitopes and can be able to overcome immune imprint of S. aureus to clear the infection. We proposed potential staphylococcal vaccine approaches by targeting untouched or subdominant region of staphylococcal antigens.

 a. Tsai CM, Hajam IA, Caldera JR, Liu GY. Integrating complex host-pathogen immune environments into S. aureus vaccine studies. Cell Chem Biol. 2022 29(5):730-740. PMID: 35594849.
 b. Tsai CM, Caldera JR, Hajam IA. … George Y. Liu. Non-protective immune imprint underlies failure of S. aureus IsdB vaccine. Cell Host Microbe 2022 10; 30(8):1163- 1172. PMID: 35803276.
 c. Tsai CM, Nicole Soper, Monique Bennett, Jonathan K Fallon, Ashlin R Michell, Galit Alter, George Y Liu, Isaac Thomsen, 2021, “Adoptive Transfer of Serum Samples From Children With Invasive Staphylococcal Infection and Protection Against Staphylococcus aureus Sepsis”, The Journal of Infectious Diseases, 223(7): 1222-1231

 Complete List of Published Work in MyBibliography:

 https://www.ncbi.nlm.nih.gov/myncbi/chih-ming.tsai.1/bibliography/public/


-----

UEI*:
**Budget Type*:    ● Project    ❍ Subaward/Consortium**

**Enter name of Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2023      End Date*: 08-31-2024** **Budget Period: 1**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. George Liu Ph.D PD/PI 2.4

2 . Chih-Ming Tsai Co-Investigator 6.0

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

1 Post Doctoral Associates 12.0

Graduate Students
Undergraduate Students
Secretarial/Clerical

**1** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2023      End Date*: 08-31-2024** **Budget Period: 1**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost** **0.00**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2023      End Date*: 08-31-2024** **Budget Period: 1**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Animal Costs
9. NGN Charge (Next Generation Network)
10. HS-TSC (Health Sciences Technology Services Charge)
11. Data Management and Sharing Costs

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 58.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS Office of Inspector General, Arif Karim, (415) 437-7859

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: Budget_Justification_Liu_­ Mime Type: application/pdf

_2023.pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ● Project    ❍ Subaward/Consortium**

**Enter name of Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2024      End Date*: 08-31-2025** **Budget Period: 2**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. George Liu Ph.D PD/PI 2.4

2 . Chih-Ming Tsai Co-Investigator 6.0

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

1 Post Doctoral Associates 12.0

Graduate Students
Undergraduate Students
Secretarial/Clerical

**1** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2024      End Date*: 08-31-2025** **Budget Period: 2**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost** **0.00**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2024      End Date*: 08-31-2025** **Budget Period: 2**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Animal Costs
9. NGN Charge (Next Generation Network)
10. HS-TSC (Health Sciences Technology Services Charge)
11. Data Management and Sharing Costs

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 58.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS Office of Inspector General, Arif Karim, (415) 437-7859

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**817,237.00**

**L. Budget Justification*** File Name: Budget_Justification_Liu_­ Mime Type: application/pdf

_2023.pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ● Project    ❍ Subaward/Consortium**

**Enter name of Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2025      End Date*: 08-31-2026** **Budget Period: 3**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. George Liu Ph.D PD/PI 2.4

2 . Chih-Ming Tsai Co-Investigator 6.0

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

1 Post Doctoral Associates 12.0

Graduate Students
Undergraduate Students
Secretarial/Clerical

**1** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2025      End Date*: 08-31-2026** **Budget Period: 3**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost** **0.00**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2025      End Date*: 08-31-2026** **Budget Period: 3**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Animal Costs
9. NGN Charge (Next Generation Network)
10. HS-TSC (Health Sciences Technology Services Charge)
11. Data Management and Sharing Costs

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 58.0 337,728.00

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS Office of Inspector General, Arif Karim, (415) 437-7859

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: Budget_Justification_Liu_­ Mime Type: application/pdf

_2023.pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ● Project    ❍ Subaward/Consortium**

**Enter name of Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2026      End Date*: 08-31-2027** **Budget Period: 4**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. George Liu Ph.D PD/PI 2.4

2 . Chih-Ming Tsai Co-Investigator 6.0

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

1 Post Doctoral Associates 12.0

Graduate Students
Undergraduate Students
Secretarial/Clerical

**1** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2026      End Date*: 08-31-2027** **Budget Period: 4**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost** **0.00**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2026      End Date*: 08-31-2027** **Budget Period: 4**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Animal Costs
9. NGN Charge (Next Generation Network)
10. HS-TSC (Health Sciences Technology Services Charge)
11. Data Management and Sharing Costs

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 58.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS Office of Inspector General, Arif Karim, (415) 437-7859

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: Budget_Justification_Liu_­ Mime Type: application/pdf

_2023.pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ● Project    ❍ Subaward/Consortium**

**Enter name of Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2027      End Date*: 08-31-2028** **Budget Period: 5**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. George Liu Ph.D PD/PI 2.4

2 . Chih-Ming Tsai Co-Investigator 6.0

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

1 Post Doctoral Associates 12.0

Graduate Students
Undergraduate Students
Secretarial/Clerical

**1** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2027      End Date*: 08-31-2028** **Budget Period: 5**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost** **0.00**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** - Project    ❍ Subaward/Consortium

**Organization: The Regents of the Univ. of Calif., U.C. San Diego**

**Start Date*: 09-01-2027      End Date*: 08-31-2028** **Budget Period: 5**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Animal Costs
9. NGN Charge (Next Generation Network)
10. HS-TSC (Health Sciences Technology Services Charge)
11. Data Management and Sharing Costs

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 58.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS Office of Inspector General, Arif Karim, (415) 437-7859

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: Budget_Justification_Liu_­ Mime Type: application/pdf

_2023.pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

#### BUDGET JUSTIFICATION

**PERSONNEL (UCSD) DIRECT COST YEARS 1-5**

**Key Personnel**

**George Liu, M.D., Ph.D. (Principal Investigator, UCSD, will devote 2.4 calendar months for years 1-5): Dr. Liu**
is professor and chief of pediatric infectious diseases division at the University of California, San Diego. Dr. Liu
will be responsible for supervision of all aspects of Aim 1 and 2. He will work closely with Dr. Creech’s team,
and both Dr. Tsai and the postdoctoral fellow on experimental design, data analysis, personnel management,
research presentation and manuscript preparation. He will devote 20% effort to the project; however, he is
committed to spending whatever time is required to successfully complete all Aims of the proposal.

**Chih Ming Tsai, PhD. (Research scientist, UCSD, will devote 6 calendar months for years 1-5): Dr. Tsai**
spearheaded the immune imprinting project (Tsai et al. Cell Host Microbe 2022) and will once again devote fifty
percent effort on the current project. He, along with Dr. Liu, will oversee Aim 2 and 3 of the proposal. In
addition, Dr. Tsai will work with postdoctoral fellow 1 to complete all experiments outlined in the Aims.

**Postdoctoral fellow TBD. (Postdoctoral fellow, UCSD, will devote 12 calendar months for years 1-5): A**
postdoctoral fellow (Ph.D.) with experience in microbiology, B cell immunology and mouse modeling will be
recruited. He/she will be responsible for performing many of the experiments outlined in Aim 2 and 3 and will
work closely with Dr. Tsai and Dr. Liu on analysis of the data.

- All salaries are adjusted +3% yearly up to NIH cap

**OTHER DIRECT COSTS YEARS 1-5**

A. Materials and supplies:
Cell culture and immunologic supplies (Antibodies, ELISAs, cell assay kits, glycosylation studies) = $ /year

Reagents & general laboratory supplies (molecular biology reagents for generating recombinant proteins, protein
purification supply, adjuvant, custom probes/primers, Taq polymerase) = $ year 2, $ years 1,3,4,5

B. Animal cost:

-  purchase cost including shipping and species surcharge fees
C57BL6 mice from Jackson = 928/year x $ /mouse = $ / year

Humanized NSG mice from UCLA CFA core = 250/year x $ /mouse = year

- animal facility cost = 1178 mice x cage cost in infection facility ($ /3 mice/day) x average duration (28 days)
= $

- Total animal cost  =$ /year

Total non-personnel direct cost per year for years 1-3 = $ /year


-----

**Fringe Benefits**

Fringe benefits are calculated at rates currently in effect for the University of California

**Subcontract**
Vanderbilt University ($ Year 1, $ total)

**Next Generation Network Charge (NGN)**
UC San Diego Information and Technology Services (ITS) charges a flat per month fee for services to provide
state-of-the-art technology infrastructure and services to the campus community. These charges are directly
attributable and proportionally applied for the individual(s) included in the proposed budget on the project.
These costs are not included in the campus' Facilities & Administration (F&A) rate as an indirect cost. UC San
Diego auditors have determined that it is both equitable and consistent with the OMB Circular 2 CFR 200
provisions on cost allocability that the costs be assigned to FTE on grant and contract funds. Accordingly, an
allocable portion of these NGN costs are included in this budget as direct project costs.

**Health Sciences Technology Service Charge (HS-TSC)**
UC San Diego Health Information Services costs have been included to reflect costs associated with the
increased level of security required for all personnel within UC San Diego Health, which includes UC San
Diego School of Medicine, Skaggs School of Pharmacy and Pharmaceutical Sciences, and the hospitals and
clinics. These charges are directly attributable and proportionally applied for the individual(s) included in the
proposed budget on the project.

**Indirect Costs**
UC San Diego’s indirect costs are calculated based on Modified Total Direct Costs (MTDC) as defined in 2
CFR Part 200.68 using Facilities and Administration (F&A) rates approved by the U.S. Department of Health
and Human Services (DHHS).

Rates established by UC San Diego’s F&A rate agreement dated May 23, 2018 are as follows:

    - July 1, 2017, to June 30, 2018: 56.0%

    - July 1, 2018, to June 30, 2019: 57.0%

    - July 1, 2019, to June 30, 2020: 57.5%

    - July 1, 2020, to June 30, 2021: 57.5%

    - July 1, 2021, until amended: 58.0%


-----

#### g


Totals ($)

Section A, Senior/Key Person

Section B, Other Personnel

Total Number Other Personnel 5

Total Salary, Wages and Fringe Benefits
(A+B)

Section C, Equipment 0.00

Section D, Travel 0.00

0.00
1. Domestic

2. Foreign 0.00


Section E, Participant/Trainee Support
Costs

1. Tuition/Fees/Health Insurance 0.00

2. Stipends 0.00

3. Travel 0.00

4. Subsistence 0.00

5. Other 0.00

6. Number of Participants/Trainees 0

Section F, Other Direct Costs

1. Materials and Supplies

2. Publication Costs 0.00

3. Consultant Services 0.00

4. ADP/Computer Services 0.00

5. Subawards/Consortium/Contractual
Costs

6. Equipment or Facility Rental/User Fees 0.00

7. Alterations and Renovations 0.00

8. Other 1

9. Other 2

10. Other 3

11. Other 4 0.00

12. Other 5 0.00

13. Other 6 0.00

14. Other 7 0.00

15. Other 8 0.00

16. Other 9 0.00

17. Other 10 0.00

Section G, Direct Costs
(A thru F)

Section H, Indirect Costs


0.00


-----

(G + H)

Section J, Fee 0.00

Section K, Total Costs and Fee (I + J)


-----

UEI*:
**Budget Type*:    ❍ Project    ● Subaward/Consortium**

**Enter name of Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2023      End Date*: 08-31-2024** **Budget Period: 1**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. C. Buddy Creech M.D. Consortium PD/ 2.4
PI

2 . Dr. James Christopher Slaughter Ph.D Consortium Co- 0.6
Investigator

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

Post Doctoral Associates
Graduate Students
Undergraduate Students
Secretarial/Clerical

1 Senior Research Assistant 2.4

1 Research Assistant 2.4

**2** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2023      End Date*: 08-31-2024** **Budget Period: 1**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2023      End Date*: 08-31-2024** **Budget Period: 1**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Subject Payments
9. Biostat CORE

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 75.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS, Region 4, 404-562-7888

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: VUMC_Budget_Just.pdf Mime Type: application/pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ❍ Project    ● Subaward/Consortium**

**Enter name of Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2024      End Date*: 08-31-2025** **Budget Period: 2**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. C. Buddy Creech M.D. Consortium PD/ 2.4
PI

2 . Dr. James Christopher Slaughter Ph.D Consortium Co- 0.6
Investigator

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

Post Doctoral Associates
Graduate Students
Undergraduate Students
Secretarial/Clerical

1 Senior Research Assistant 2.4

1 Research Assistant 2.4

**2** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2024      End Date*: 08-31-2025** **Budget Period: 2**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2024      End Date*: 08-31-2025** **Budget Period: 2**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Subject Payments
9. Biostat CORE

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 75.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS, Region 4, 404-562-7888

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: VUMC_Budget_Just.pdf Mime Type: application/pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ❍ Project    ● Subaward/Consortium**

**Enter name of Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2025      End Date*: 08-31-2026** **Budget Period: 3**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. C. Buddy Creech M.D. Consortium PD/ 2.4
PI

2 . Dr. James Christopher Slaughter Ph.D Consortium Co- 0.6
Investigator

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

Post Doctoral Associates
Graduate Students
Undergraduate Students
Secretarial/Clerical

1 Senior Research Assistant 2.4

1 Research Assistant 2.4

**2** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2025      End Date*: 08-31-2026** **Budget Period: 3**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2025      End Date*: 08-31-2026** **Budget Period: 3**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Subject Payments
9. Biostat CORE

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 75.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS, Region 4, 404-562-7888

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: VUMC_Budget_Just.pdf Mime Type: application/pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ❍ Project    ● Subaward/Consortium**

**Enter name of Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2026      End Date*: 08-31-2027** **Budget Period: 4**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. C. Buddy Creech M.D. Consortium PD/ 2.4
PI

2 . Dr. James Christopher Slaughter Ph.D Consortium Co- 0.6
Investigator

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

Post Doctoral Associates
Graduate Students
Undergraduate Students
Secretarial/Clerical

1 Senior Research Assistant 2.4

1 Research Assistant 2.4

**2** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2026      End Date*: 08-31-2027** **Budget Period: 4**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2026      End Date*: 08-31-2027** **Budget Period: 4**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Subject Payments
9. Biostat CORE

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 75.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS, Region 4, 404-562-7888

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: VUMC_Budget_Just.pdf Mime Type: application/pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

UEI*:
**Budget Type*:    ❍ Project    ● Subaward/Consortium**

**Enter name of Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2027      End Date*: 08-31-2028** **Budget Period: 5**

**A. Senior/Key Person**

**#** **Prefix First Name*** **Middle** **Last Name*** **Suffix Project Role*** **Base** **Calendar Academic** **Summer**

**Name** **Salary ($)** **Months** **Months** **Months**

1 . Dr. C. Buddy Creech M.D. Consortium PD/ 2.4
PI

2 . Dr. James Christopher Slaughter Ph.D Consortium Co- 0.6
Investigator

**Total Funds Requested for all Senior Key Persons in the attached file**

**Additional Senior Key Persons:** File Name:

Mime Type:

**B. Other Personnel**

**Number of** **Project Role*** **Calendar Months Academic Months Summer Months Requested Salary ($)***

**Personnel***

Post Doctoral Associates
Graduate Students
Undergraduate Students
Secretarial/Clerical

1 Senior Research Assistant 2.4

1 Research Assistant 2.4

**2** **Total Number Other Personnel**

RESEARCH & RELATED Budget {A-B} (Funds Requested)


-----

####,,, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2027      End Date*: 08-31-2028** **Budget Period: 5**

**C. Equipment Description**

List items and dollar amount for each item exceeding $

**Equipment Item** **Funds Requested ($)***

**Total funds requested for all equipment listed in the attached file**

**Total Equipment** **0.00**

**Additional Equipment:    File Name:**

Mime Type:

**D. Travel** **Funds Requested ($)***

1. Domestic Travel Costs ( Incl. Canada, Mexico, and U.S. Possessions)
2. Foreign Travel Costs

**Total Travel Cost**

**E. Participant/Trainee Support Costs** **Funds Requested ($)***

1. Tuition/Fees/Health Insurance
2. Stipends
3. Travel
4. Subsistence
5. Other:

**Number of Participants/Trainees** **Total Participant Trainee Support Costs** **0.00**

RESEARCH & RELATED Budget {C-E} (Funds Requested)


-----

####, g

**UEI*:**
**Budget Type*:** ❍ Project    ● Subaward/Consortium

**Organization: Vanderbilt University Medical Center**

**Start Date*: 09-01-2027      End Date*: 08-31-2028** **Budget Period: 5**

**F. Other Direct Costs** **Funds Requested ($)***

1. Materials and Supplies
2. Publication Costs
3. Consultant Services
4. ADP/Computer Services
5. Subawards/Consortium/Contractual Costs
6. Equipment or Facility Rental/User Fees
7. Alterations and Renovations
8. Subject Payments
9. Biostat CORE

**Total Other Direct Costs**

**G. Direct Costs** **Funds Requested ($)***

**Total Direct Costs (A thru F)**

**H. Indirect Costs**

**Indirect Cost Type** **Indirect Cost Rate (%) Indirect Cost Base ($)** **Funds Requested ($)***

1 . MTDC 75.0

**Total Indirect Costs**

**Cognizant Federal Agency** DHHS, Region 4, 404-562-7888

(Agency Name, POC Name, and POC Phone Number)

**I. Total Direct and Indirect Costs** **Funds Requested ($)***

**Total Direct and Indirect Institutional Costs (G + H)**

**J. Fee** **Funds Requested ($)***

**K. Total Costs and Fee** **Funds Requested ($)***

**L. Budget Justification*** File Name: VUMC_Budget_Just.pdf Mime Type: application/pdf

RESEARCH & RELATED Budget {F-K} (Funds Requested)


-----

**BUDGET JUSTIFICATION**

**1. PERSONNEL Buddy Creech, MD, MPH, Co-Principal Investigator (Years 1-5: 2.4 calendar months)**
is Edie Carell Johnson Chair and Professor of Pediatric Infectious Diseases, Director of the Vanderbilt
Vaccine Research Program (VVRP), and Principal Investigator of the NIH-funded Vanderbilt Vaccine and
Treatment Evaluation Unit. In 2006, Dr. Creech established the Staphylococcal Research Laboratory, which
initially focused on staphylococcal colonization and molecular epidemiology of clinical isolates of S. aureus.
Working with Dr. Isaac Thomsen (former trainee of Dr. Creech who recently transitioned away from
Vanderbilt University Medical Center), the laboratory expanded approximately 15 years ago to focus on the
adaptive immune response to staphylococcal infections. Dr. Creech has worked closely with Dr. Liu to design
and refine the proposed research studies. Dr. Creech will oversee patient enrollment, sample acquisition,
and laboratory experiments of Aim 1 and 2. He and his team will analyze and interpret data generated from
this proposal and take co-lead on preparation of scientific abstracts and manuscripts. He will work closely
with Dr. Liu to ensure that the proposed scientific aims are met. The majority of Dr. Creech’s time is allocated
for research (>85%).
**Christopher Slaughter, PhD, Biostatistician (Years 1-5: 0.6 calendar months) is Associate Professor in**
the Department of Biostatistics at Vanderbilt. Dr. Creech has worked with Dr. Slaughter for previous studies
and they will continue their collaboration to analyze results from the current proposal. Dr. Slaughter will assist
Drs. Creech and Liu with the development of analysis plans for all experiments proposed in Aims 1-3 of the
proposal, ensuring that all analyses are technically sound and completely reproducible. He will also assist
with manuscript preparation. In the first two years of the proposed award, Dr. Slaughter will assist primarily
with analysis design and interpretation of initial data. In later years of the award, this effort will transition to
data analysis and manuscript preparation.

**Sandra Yoder, BS, MT(ASCP), Senior Research Assistant** (Years 1-5: 2.4 calendar months) is an
experienced medical technologist with advanced training and experience in flow cytometry whose 25-year
career has focused on characterizing the adaptive immune response to infection and vaccination. She played
a key role in establishing the Human Immunology Core at VUMC and we were fortunate to recruit her to the
VVRP Laboratory approximately 10 years ago. She has extensive experience conducting humoral assays
(ELISA, kinetic ELISA, and functional assays), cell-mediated immunity assays (including
immunophenotyping, multiparameter flow cytometry, and cytokine analyses), and preparation of samples for
multi-omics analysis. Ms. Yoder has nearly 20 years of experience with high parameter flow cytometry
specializing in immune monitoring and bead-based detection of soluble proteins. She has extensive
experience in development and optimization of flow cytometry stains of more than 10 parameters, and she
has broad knowledge of instrumentation and reagents needed to best address complex immune system
analyses. She will assist with the conduct of the liquid bead-based serology experiments outlined in Aim 1
and the flow-based experiments outlined in Aim 2. She will also oversee personnel working with patient
samples and will oversee biosafety training, compliance, and quality assurance for the laboratory.

**Eric Brady, BS, Research Assistant (Years 1-5: 2.4) has worked with the VVRP Laboratory for over five**
years. He will have primary responsibility for specimen acquisition, processing, labeling, and storage. He will
also assist with experiments outlined in Aims 1-3, specifically bead-based serology assays in Aim 1 and
functional assays described in Aim 2.

**2. NON-LABOR BUDGET**

**VVRP Laboratory Supplies (Years 1-2: $** Year 3: $ Years 4-5: $

Funds are requested to support the portion of the experiments that will be conducted in the VVRP Laboratory,
as outlined in Aims 1-2. These include multiplex IgG detection on the Luminex platform (Aim 1); complement
binding assays (Aim 2); antibody-mediated neutrophil phagocytosis assays (Aim 2); and cytotoxicity assays
(Aim 2) The largest initial expenses will be costs related to bead conjugation of staphylococcal antigens for


-----

performed on a Luminex platform, and all necessary equipment exists in the VVRP Laboratory. Additional
reagents, such as MagPlex microspheres and Sulfo-NHS are necessary and will be used primarily in the first
3 years of the project. Additional funds are requested for phlebotomy supplies (collection of samples, as well
as labels for the samples); reagents and supplies for cytotoxicity assays and neutrophil phagocytosis assays,
including CellTiter
Cell Proliferation Assay, RPMI-1640 Media, and 96-well plates; ELISA reagents, including blocking buffer,
human serum without IgG, M, or A, mouse anti-human IgG, goat anti-rabbit IgG and tetramethyl-benzadine;
biological reagents including cell culture materials, FBS, and antibiotics; and chemical reagents for gel
electrophoresis and characterization of immunoglobulins.

**3. OTHER EXPENSES**

**Human Subject Reimbursement (Years 1-5: $** /year): Subjects are compensated $ for participation
in the study, as per our standing, IRB-approved protocol for the enrollment of children and adults hospitalized
with S. aureus disease. We estimate 20 subjects per year, for a total of $ in reimbursement per year.

**Biostatistics Collaboration Center (Year 1-5: $**
The Biostatistics Collaboration Center (BCC) is a VUMC sponsored core resource whose goal is to provide
for, enhance, and facilitate statistical collaborations involving the design, conduct, analysis or publication of
biomedical research at the university. The BCC is a revenue-neutral resource. VUMC annually reviews the
BCC to ensure that it is in compliance with all applicable federal and state regulations, including Uniform
Administrative Requirements, Cost Principles, and Audit Requirements for Federal Awards. Rates are
adjusted annually to ensure that the BCC is operating on a strict non-profit cost recovery basis.

All biostatistics staff/faculty effort is billed directly to each project as a percentage of salary and fringe benefit
expenses. In addition, a scientific resource fee of $ per 100% annual FTE (faculty and staff combined)
is billed to each project for allowable costs related to providing biostatistics support beyond what will be
directly provided by Dr. Slaughter. The department uses robust computing technologies and innovative
methodologies to manage complex analyses. This scientific resource fee covers costs necessary to perform
the work of biostatisticians and systems analysts. These resources are directly related to the many
technologies used and types of data generated across multiple disciplines that biostatisticians must
competently handle.

**Travel (Years 1-5: $** /year): Funds are requested to support transportation, lodging, and meeting fees
for the principal investigators to present research findings from this project at two national scientific meetings
each year. Costs are estimated as airfare ($ per trip), hotel ($ /day for 3 days per trim), and daily
expenses ($ /day for 3 days per trip).


-----

#### g


Totals ($)

Section A, Senior/Key Person

Section B, Other Personnel

Total Number Other Personnel 10

Total Salary, Wages and Fringe Benefits
(A+B)

Section C, Equipment 0.00

Section D, Travel

1. Domestic

2. Foreign 0.00


Section E, Participant/Trainee Support
Costs

1. Tuition/Fees/Health Insurance 0.00

2. Stipends 0.00

3. Travel 0.00

4. Subsistence 0.00

5. Other 0.00

6. Number of Participants/Trainees 0

Section F, Other Direct Costs

1. Materials and Supplies

2. Publication Costs 0.00

3. Consultant Services 0.00

4. ADP/Computer Services 0.00


0.00


5. Subawards/Consortium/Contractual
Costs


0.00


6. Equipment or Facility Rental/User Fees 0.00

7. Alterations and Renovations 0.00

8. Other 1

9. Other 2

10. Other 3 0.00

11. Other 4 0.00

12. Other 5 0.00

13. Other 6 0.00

14. Other 7 0.00

15. Other 8 0.00

16. Other 9 0.00

17. Other 10 0.00

Section G, Direct Costs
(A thru F)

Section H, Indirect Costs


-----

(G + H)

Section J, Fee 0.00

Section K, Total Costs and Fee (I + J)


-----

Total Direct Costs less Consortium F&A

NIH policy (NOT-OD-05-004) allows applicants to exclude consortium/contractual F&A costs when determining if an application falls at or beneath any applicable direct cost limit. When a direct
cost limit is specified in an FOA, the following table can be used to determine if your application falls within that limit.

|Categories|Budget Period 1|Budget Period 2|Budget Period 3|Budget Period 4|Budget Period 5|TOTALS|
|---|---|---|---|---|---|---|
|Total Direct Costs less Consortium F&A|||||||


-----

OMB Number: 0925-0001

Expiration Date: 09/30/2024


-----

-----

OMB Number: 0925 0001

Expiration Date: 10/31/2025


-----

_Staphylococcus aureus (SA) is the leading cause of invasive bacterial infections in the US. Despite its status as_
a priority target for vaccine development, all SA vaccines tested to date have been unsuccessful. One consistent
barrier has been the lack of reliable translational animal models that predict vaccine protection in humans. Given
the impossibility of controlled human infection models of invasive staphylococcal infections, we have sought to
define the adaptive host response following natural invasive SA disease in children and older adults through
models that best recapitulate the natural human host environment. We recently demonstrated that the transfer
of convalescent sera from children with invasive staphylococcal disease protected mice from SA sepsis, and
alpha toxin-specific antibodies purified from protective sera conferred partial anti-staphylococcal immunity. Using
the same approach, we discovered non-protective human anti-SA antibodies that abrogated otherwise protective
SA vaccines. Vaccine interference occurred because of recall of non-protective memory responses and antibody
competition. Based on these findings, we hypothesize that SA infection in humans generates a functional, but
limited, antibody response that is beset by non-protective or interfering antibodies. **Development of a**
**successful antibody-based approach to SA must take these factors into account, but they remain poorly**
**defined. The central objective of this proposal is to define the protective components of the human antibody**
response to SA and to delineate these from non-protective or suppressive responses, in order to elucidate critical
mechanisms of anti-staphylococcal antibody protection. These studies will elucidate critical mechanisms of
adaptive staphylococcal immunity and inform novel antibody-based approaches to prevent or treat SA infections.
We propose three Aims to address these goals:

**Specific Aim 1: To define functionally protective antibody responses to SA antigens in children and older**
**adults with invasive SA infections.** SA is a highly evolved human pathogen, and it remains unclear what
antigens are produced in the setting of invasive human infections. While certain genes may be present in clinical
isolates, this does not indicate expression during human infection and functional recognition by the host. We will
leverage our existing infrastructure to develop a prospective cohort of clinical samples from children and older
adults with invasive SA infections and age-matched controls. We will define the targets and kinetics of the natural
humoral response to SA and follow these patients for serial serologic and clinical assessments, including the
possibility of re-infection. In parallel, we will engage our passive transfer model to define protective
characteristics of the human adaptive response. Completion of Aim 1 will generate a list of specific candidate
antibodies induced during human staphylococcal disease that are associated with protection against SA.

**Specific Aim 2: To identify and characterize protective and non-protective human antibodies targeting**
**clinically relevant SA antigens. Serologic assessment provides candidate antigen targets for intervention, but**
functional assays are critical for rational design of targets with a high likelihood of success. Using the cohort
established in Aim 1, we will interrogate clinical samples and specific antibodies for a) their ability to confer
protection, and b) the mechanisms of protection as defined by a series of in vivo and ex vivo models. Targeted
antibody depletion of serum will be performed against selected antigens identified in Aim 1, and structural and
functional profiling will elucidate protective and non-protective antibodies. In vitro bacterial killing and cytotoxicity
assays coupled with structural analyses will be part of the battery of assays used to characterize protective and
non-protective antibodies, and confirmatory assessments will occur by transfer to both wild-type and humanized
mouse models. In total, this Aim will reveal the key determinants of the functional, adaptive human response to
SA and define candidates for reverse vaccine development.

**Specific Aim 3: To determine how prior humoral interaction with SA shapes vaccine efficacy. The concept**
of original antigenic sin postulates that the immune response to first infection imprints itself on subsequent host
responses to infections and vaccination. Using a prototype vaccine that targets a SA surface protein, IsdB, we
have shown that immune imprinting and antibody interference impair an otherwise functional antibody response.
This aim will determine the impact of pre-existing SA antibodies on both passive and active immunization
strategies by defining antibody interference in specific vaccination models. We hypothesize that a truly effective
antibody-based intervention must account for antibody interference and suppression, and that subdominant
antigen targets or antigens not prone to interference may prove to be good vaccine targets. This Aim seeks to
rationally assess putative vaccine candidates by accounting for immune imprinting and interference related to
prior host exposure to SA.


-----

**A.1. Focus on an unrivalled pathogen that has defied all attempts at control with vaccination. SA is now**
the most common invasive bacterial pathogen in children in the US[1-3 ]. Highly effective vaccines have profoundly
reduced the rates of previously common invasive bacterial pathogens, such as S. pneumoniae and H.
_influenzae, but a successful vaccine against SA remains elusive[4 ]. SA is unrivalled among bacterial (and perhaps_
all) pathogens with regard to unsuccessful vaccine attempts. Equally remarkable is that the reason behind the
vaccine failures remains unclear. Proposed causes include strain-dependent expression of certain SA antigens,
poor clinical trial designs, and a mouse model that does not mimic the human condition (Fig. 1).

**A.2. An entirely new framework that explains failure of human SA vaccine trials. To date, animal models**
have lacked predictive value for development of a successful human vaccine. A key difference between humans
and laboratory animals is the frequency of host exposure to SA. Laboratory
mice are rarely colonized or infected with human _SA_ whereas half of
humans are colonized by 1.5 months of age and routinely have elevated
levels of SA-specific antibodies (Ab) in their sera[5,6]. In our recently
published study of the mechanisms underlying failed IsdB vaccine (Tsai
2022)[7 ], we showed that, while IsdB vaccine administered to naïve mice is
effective, the same vaccine, administered to SA-experienced mice, is
ineffective because of immune recall of non-protective IsdB memory
response. In preliminary experiments (below), we have extended our
finding to several other failed active and passive SA vaccines. Predictably,
naïve mice were protected by specific vaccination, but the same vaccines
were not protective in mice with pre-existing specific anti-SA immunity. We
thus hypothesize that _pre-existing pathogen-specific immunity critically_
_shapes vaccine efficacy in the SA-experienced host. Our expanded human_
study aims to broadly test our hypothesis across failed vaccines. **Figure 1. Potential reasons for prior**

**_S. aureus vaccine failures_**

#### A.3. Study of human SA-specific Ab to identify human-relevant
**candidate vaccine antigens and Ab determinants of protection. Few prior studies have attempted to identify**
functional, protective _SA_ antigens _in humans. One longstanding challenge to the search for mediators of_
protection has been the inability to determine which subjects generate a protective adaptive host response. For
some pathogens, human challenge models have addressed this barrier, but human challenge is not ethical for
invasive _SA_ disease. To begin addressing functional immunity to _SA_ in humans, we developed an adoptive
transfer model wherein transfer of sera from _S. pneumoniae_ vaccinated (vs. unvaccinated) individuals led to
predictable protection against a pneumococcal challenge[8]. We then used the model to show that children with
invasive SA infection develop protective sera over the course of convalescence against SA. We showed that
purified human serum Ab against the antigen IsdB (shown to be non-protective in our published study) is not
protective, whereas natural human Ab to the protective antigen alpha toxin (Hla)[9 ] conferred partial immunity
against SA challenge in the model (Fig. 2A and 12C). We further identified Fab and Fc features of the IsdB Ab
that determined non-protection (Tsai 2022). Hence, our proof-of-principle study of human Ab to SA demonstrates
the potential to leverage our adoptive transfer platform and structure-function assays to reveal SA antigens that
induce protective and non-protective responses following invasive disease in humans.
**A.4. Studying pediatric and elderly populations to define host Ab responses to invasive SA infections.**
Children represent the ideal host in which to study invasive SA infections in humans, for several
reasons. First, SA disease in children involves uniquely defined phenotypes of invasive infection that are
typically hematogenous in origin (e.g., acute osteomyelitis, septic arthritis, or visceral abscesses). This allows
for straightforward stratification of disease types and a true assessment of the host-pathogen interactions in the
setting of human bloodstream infection. Second, SA carriage exerts a variable effect on specific antistaphylococcal antibodies[10,11]. The pediatric serologic profile, lacking a lifetime of intermittent or persistent nasal
colonization, reflects the response to acute infection more directly. Finally, the relative lack of immune-modifying
characteristics (e.g., medical comorbidities seen in older individuals[12,13]) is an additional advantage to studying
responses in children. In the present study, pediatric sera will be contrasted against sera from older adults with
SA infection, to determine whether mechanisms of vaccine failure are affected by aging and a lifetime of SA
exposure. Older adults may have increased concentrations of interfering antibodies and potential changes in Ab
glycosylation that may impact phagocytosis negatively. Conversely, older patients have a lifetime to accumulate
protective antibodies against selective SA antigens. Our proposed experiments will determine if and how
tib di f ld d lt ld l d t b tt i


-----

recently published study points to two mechanisms that explain inefficacy of IsdB vaccine in SA pre-infected
mice (Tsai 2022). First, IsdB vaccine recalls ineffective IsdB memory response from prior SA infection, akin to
the original antigenic sin described with HIV, influenza, dengue, and RSV viruses[14-16 ]. Furthermore, when
protective Ab generated by IsdB vaccine is co-transferred with non-protective IsdB Ab from human sera,
protection from the vaccine Ab is significantly dampened by competition (Fig. 2A and Tsai 2022). We showed
similar evidence of interference with a monoclonal Ab (mAb) to SA Clumping factor A (ClfA) Tefibazumab that
failed clinical trial[17], when human serum samples with high anti-ClfA titers are added in vivo (Fig. 2B). Hence,
we suggest that **immune imprinting and direct Ab interference** are potential contributory mechanisms to
human trial failures. The proposed research will query both mechanisms to explain the failure of a list of active
and passive SA vaccines as we aim to build a more predictive model for human SA vaccines.


**B. INNOVATION**


**B.1. Technical innovation – Adoptive transfer model of human sera into mice and prior infection model**
**enable human-relevant studies of vaccines against SA. Vaccine studies are traditionally carried out in naïve**
animals as they have provided a good correlate of human protection. The failure of every SA vaccine brought to
clinical trial so far has prompted us to reevaluate the existing platform and led us to evaluate pre-infected mice
or mice pre-transfused with human anti-SA serum Ab as models of the human host. Development of the adoptive
transfer model was motivated by the need to directly evaluate human protective immunity in mice. When applied
prospectively to the study of invasive infection in children as proposed, it enables the generation of a powerful
platform for elucidating critical aspects of the adaptive host
response[8 ]. The complementary tools allow us to address why
past vaccines have not worked and what are potential
protective vaccine antigens.


**B.2. Conceptual innovation – Immune imprinting and Ab**
**interference.** Original antigenic sin posits recall of an
ineffective immune response on encounter with a closely
related pathogen, usually a pathogen that has undergone
mutations, e.g., influenza and RSV[14,18]. In the case of SA, we
have shown that the same antigen presented in the context of

**Figure 2. Human serum Ab abrogate efficacy of**

_SA_ infection versus adjuvant alum can lead to very different **protective anti-SA Ab. (A) Protective murine IsdB-specific**
outcomes (different epitope specificity and Ab glycosylation) Ab (mIsdB) generated by IsdB vaccination were mixed with
(Tsai 2022). Vaccination leads to protection in naïve mice but purified IsdB-specific antibodies from 17 human volunteers
recalls the non-protective Ab response in previously SA- individually (hIsdB) in equal molar ratio. Protection against

intraperitoneal _SA_ (LAC strain, 10[7 ] CFU) challenge was

infected mice. Furthermore, we showed that Ab competition

assessed 4h later. **(B)** Tefibazumab, a ClfA-specific mAb

between protective and non-protective Ab at physiologically that failed clinical trial was added at 8mg/kg to 5 human
relevant concentrations led to interference. These concepts can serum samples containing low (L4-5) or high levels of ClfA_potentially explain vaccine failures in SA vaccine trials and may_ specific Ab (H1-3). Four hours after Ab transfer, protection
_have implication for failures of vaccines to other pathogens._ was assessed by SA challenge as before. Statistics used in

all preliminary data are described in the Statistics section at

**B.3. Innovation in vaccine development – targeting of** the end of Aim 3.
**subdominant antigens to achieve protection. Based on our model, we have shown that a vaccine antigen**
that recalls little prior humoral memory induced robust protection, hence the concept of targeting subdominant
antigens to circumvent interference. This concept stands against a current principle that vaccine antigens should
elicit a robust Ab response to assure that the antigen is expressed in vivo. In our model, SA antigens that induce
robust human Ab response may be more likely to induce interference since SA has evolved many strategies to
suppress specific host adaptive immunity to promote human coexistence.

**B.4. Broad scale human study to identify potential vaccine antigens to SA: Our study approach combining**
human and animal experiments has the potential to identify a refined set of SA vaccine candidates encompassing
protective antigens (Aim 2.1) and subdominant SA antigens that escape interference (Aim 3.3). Our goal is to
identify from a list of candidate antigens, the most promising SA antigens that could be advanced to a vaccine
trial. Developing the most effective vaccine targets is critical since success or failure of such a vaccine in a
human trial could reflect on the validity of the immune imprinting hypothesis.


-----

**C.1.A. Adoptive Transfer Model to study existing human anti-SA** **Ab**
**function . We developed the adoptive transfer model specifically to address**
the aims of this proposal, prompted by the discrepant outcomes from
laboratory and human vaccine trials. The model permits sera from invasively
infected individuals to be adoptively transferred to a murine model and to
measure protective efficacy. We first established proof of concept by using
defined pre-and post-vaccine sera from subjects who received the conjugate
pneumococcal vaccine, and demonstrated that post-vaccine sera, when
transferred to a murine model, potently protected against invasive
pneumococcal infection[8]. Given this proof of concept, we developed this model
for the measurement of protective efficacy against _SA_ disease following

**Figure 3: Human sera is protective**

invasive human infection. We enrolled a patient cohort of 14 children infected

**when antibody levels peak.** _SA_ burden

with invasive _SA_ disease (bacteremia, osteomyelitis, and endocarditis) at (CFU) post IP infection is shown acutely
Vanderbilt. Sera were collected at three time points (Fig. 3) and screened (V1), 4-6 weeks post-infection (V2), and at
against a panel of SA antigens to ensure an Ab response was generated from 6 months (V3). Peak reduction in SA CFU

occurred at 4-6 weeks post infection.

infection. The sera were then transferred IP into mice which were infected with
_SA strain LAC 24 hours later for assessment of protection by CFU enumeration. Sera from 6 of the 14 patients_
induced significant reduction in disease burden compared to control samples, with 2 patient samples conferring
complete protection from disease. Importantly, protective efficacy peaked at the convalescent timepoint (V2, 46 weeks after enrollment) (Fig. 3), the time when post-infection IgG levels peak. These data indicate that human
serum from infected individuals contain factors capable of reducing bacterial load in vivo.

**C.1.B. Original antigenic sin: Impact of pre-existing antigen-specific immunity on vaccine efficacy**

Mice and humans are fundamentally different in that laboratory mice are largely naïve to human SA and humans
are colonized early after infancy. As noted previously, all promising vaccines developed in naïve mice have failed
in human trials[4]. One of
the most notable _SA_

vaccine “failures” to date
was a vaccine that
targeted the iron-regulated
surface determinant
protein B (IsdB), a crucial
antigen for nutrition via
acquisition of host iron[19].
Disappointingly, the


**Figure 3: Human sera is protective**
**when antibody levels peak.** _SA_ burden
(CFU) post IP infection is shown acutely
(V1), 4-6 weeks post-infection (V2), and at
6 months (V3). Peak reduction in SA CFU
occurred at 4-6 weeks post infection.


vaccine lacked efficacy in **Figure 4. IsdB vaccination confers Ab protection to naïve but not mice previously infected with SA.**
a Phase 3 clinical trial[19 ]. C57BL/6 mice were injected i.p. with PBS or 10[7 ] _SA (LAC strain) 3 times at 7-day intervals. Ten days after_

the last infection, mice were immunized with either alum (Ctrl) or alum plus IsdB three times at weekly

Since humans routinely

intervals. One week after immunization, the mice were challenged i.p. with **(A)** 10[7 ] _SA_ (LAC) for CFU

harbor high levels of Ab to enumeration or (B) 2x10[8 ] _SA for assessment of LD90_ (n=10 mice per group). (C) Adoptive transfer of 100 ml
IsdB, we sought to sera from naïve then vaccinated donor mice to naïve recipient mice conferred protection to 10[7 ]SA (LAC) i.p.

determine if prior memory challenge in the recipient mice.
of IsdB has a role in the lack of vaccine efficacy.


**Prior SA exposure undermines IsdB vaccine efficacy. To simulate human exposure, we infected mice by a**
variety of approaches: through skin infection, single IV infection followed by antibiotic treatment, or through 2-3
IP infections (given humoral response after 1 IP infection yields modest titer of SA-specific Ab). We showed that
each of these prior treatments dramatically reduced or abrogated efficacy of IsdB vaccination, and loss of
humoral protection is confirmed to be the mechanism and is antigen-specific ( Fig. 4 and Tsai 2022).

**IsdB vaccine recalls ineffective anti-IsdB humoral responses – We further showed that protective vaccine-**
generated Ab are different from non-protective infection induced Ab in two aspects that involve both Fab and Fc
fragments: Non-protective Ab have altered Fc α2,3 sialylation and impaired opsonophagocytic (OPK) killing of


-----

**Figure 5. Increased sialylation of Ab contributes to**
**impaired Opsonophagocytic clearance of SA.** Mice
were infected/immunized as in Fig. 4. (A) Reduced α2,3
sialylation of IsdB-specific Ab induced by IsdB vaccine
compared to _SA_ infection followed by vaccine. **(B)**
Sialidase treatment abrogates difference in OPK
between protective and non-protective groups.


**Figure 6. Immune imprinting - Recall of prior IsdB Ab response by IsdB**
**vaccination. (A) Naïve and SA-infected mice were immunized with alum+/-IsdB.**
Shown are IgG titers to IsdB on d3, 7 and 14 post vaccination (B) IsdB epitopes
targeted by vaccine- and/or infection- generated Ab - IsdB-specific B cells were
purified 7 days after the last infection or vaccine, and IsdB epitopes were mapped
by B cell receptor sequencing and plotted on the structure of IsdB.


**Figure 5. Increased sialylation of Ab contributes to**
**impaired Opsonophagocytic clearance of SA.** Mice
were infected/immunized as in Fig. 4. (A) Reduced α2,3
sialylation of IsdB-specific Ab induced by IsdB vaccine
compared to _SA_ infection followed by vaccine. **(B)**
Sialidase treatment abrogates difference in OPK
between protective and non-protective groups.


**Figure 6. Immune imprinting - Recall of prior IsdB Ab response by IsdB**
**vaccination. (A) Naïve and SA-infected mice were immunized with alum+/-IsdB.**
Shown are IgG titers to IsdB on d3, 7 and 14 post vaccination (B) IsdB epitopes
targeted by vaccine- and/or infection- generated Ab - IsdB-specific B cells were
purified 7 days after the last infection or vaccine, and IsdB epitopes were mapped
by B cell receptor sequencing and plotted on the structure of IsdB.


_SA_ compared to protective Ab, that is abrogated with sialidase treatment (Fig. 5). Among Fab features, we
showed that non-protective and protective IsdB Ab differ in their targeting of protective heme-binding NEAT2
domain (blue domain, Fig. 6B). Preliminary data link increased sialylation to IL-10, with anti-IL10 Ab treatment
reducing Ab sialylation and improving vaccine protection in vivo (Fig. 7). Thus, IL10 induced changes in
glycosylation appears to be a mechanism that explains why SA vaccines have failed. Importantly, we showed,
in SA-exposed hosts, that Ab generated by IsdB vaccine recalls both Fab and Fc features of the ineffective IsdB
Ab from prior infection, reminiscent of the concept of Original Antigenic Sin (Fig. 5, 6).

**Direct Ab interference by non-protective specific Ab – In addition to immune imprinting, we showed that non-**
protective Ab compete against protective Ab for binding to IsdB and abrogate in vitro and in vivo Ab mediated
protection (Fig. 8). To query the human relevance of our findings, we purified IsdB-specific Ab from human sera,
demonstrated first that they were largely non-protective against SA challenge upon adoptive transfer into naïve
mice (Fig. 2A). When injected along with protective vaccine-generated IsdB-specific Ab, the human antibodies
dramatically dampened efficacy of the protective specific Ab against SA challenge (Fig. 2A).

**Influence of prior SA exposure on other SA vaccines – To probe if interference extends beyond IsdB vaccine,**
we investigated vaccines against two
other cell surface proteins, Fhud2 and
IsdA[20,21]. Both vaccines were effective
when given to naïve mice but showed no
efficacy if the mice were previously
infected with SA (Fig. 9). Conversely, we
tested if vaccine against a previously
identified “protective” _SA_ antigen Hla
(alpha toxin) is effective (Fig. 12). By
adoptive transfer, we showed that human
Ab to Hla confer partial protection against
_SA_ challenge. When naïve and SA- **Fig. 7. Role of IL10 in Ab sialylation and vaccine interference. Mice were**
infected mice were immunized against infected and/or IsdB vaccinated as in Fig. 4. (A) Higher serum IL10 in mice that were

SA infected then IsdB vaccinated; (B) Anti-IL10 treatment at the time of IsdB

Hla, they were protected in both

vaccination abrogates vaccine Interference in SA-pre-exposed mice. (C) anti-IL10

instances, consistent with our proposed Ab reduced Ab sialylation of non-protective IsdB-specific Ab (from SA plus vaccine
hypothesis that prior specific immunity group) to level of protective Ab (from IsdB vaccine group). Ctrl: control; IsdB: vaccine.
plays a key role in vaccine function. We
also queried if human sera interfered with passive (mAb-mediated) immunization. We showed that the mAb
tefibazumab targeting clumping factor A (ClfA, that failed in clinical trial) was effective in naïve mice but ineffective
if injected along with human sera with high ClfA titers (Fig. 2B). Overall, our data strongly suggest that _pre­_
_existing humoral responses to SA have the potential to modify specific SA vaccine responses and thereby may_
_explain failures of past SA vaccine trials_


-----

**Figure 8. Competition between non-protective and protective IsdB-specific Ab.** **Figure 9. Prior SA infection abrogates**
Protective and non-protective IsdB-specific Ab generated by vaccination in naïve and **efficacy of vaccines against SA surface**
SA-infected mice respectively (as in Fig. 4) were purified, mixed, and assayed for: (A) **antigens IsdA and FhuD2. IsdA and FhuD2**
opsonophagocytic killing of SA in co-culture with human neutrophils with equal molar vaccine efficacy in naïve and SA infected mice
of both Ab; **(B)** competitive binding to recombinant IsdB. Titers reflect binding of was assessed as in Fig. 4.
protective Ab in the presence of increasing concentrations of non-protective Ab at the
indicated molar ratios; **(C)** protection of mice from _SA_ challenge following adoptive
transfer with protective and non-protective IsdB-specific Ab (1:1 ratio).

**_RESEARCH DESIGN AND METHODS_**

Hypothesis: Humans are routinely exposed to SA beginning in infancy. We hypothesize that this exposure leads
to both protective and non-protective humoral responses depending on the target antigens (Aim 1 and 2A).
Determinants of Ab protection include not only which specific antigens are targeted, but also Ab titer and specific
Fab and Fc-fragment characteristics (Aim 2B). Further, the humoral immune imprint (protective or non-protective)
established by prior SA exposure modulates vaccine efficacy (Aim 3A). Finally, we hypothesize that pre-existing,
inadequately protective antibodies compete with effective anti-SA antibodies to decrease efficacy of passive
immunization (Aim 3A and 3B).
Targeting of “subdominant” _SA_

antigens that show little imprint (low
Ab titers after _SA_ exposure) is
hypothesized as a strategy to
overcome vaccine interference (Aim
3C).

We propose three aims to address our
hypotheses. Aim 1 will prospectively
enroll children and older adults with
invasive _SA_ disease, perform serial
evaluation of Ab titers against a large
panel of _SA_ antigens, and correlate
titers against protection conferred by
the serum samples in functional in
vitro and in vivo assays, in addition to
recurrence of _SA_ infection in the
patient cohort. Aim 2 will identify and
investigate both protective and nonprotective specific Ab with the goal of
determining what Ab characteristics

**Figure 10: Study schematic and general timeline of events**

are drivers of robust or sub-optimal
protection. Aim 3 will investigate how non-protective or protective pre-existing humoral responses shape _SA_
vaccine responses, in the context of their potential to positively or negatively impact vaccine-mediated protection
through immune imprinting or direct Ab interference. Targeting of “subdominant” SA antigens will be explored as
an approach to circumvent interference from pre-existing humoral immunity. A summary of our hypotheses with
the corresponding plan of study is shown in Fig. 10.


**Figure 9. Prior SA infection abrogates**
**efficacy of vaccines against SA surface**
**antigens IsdA and FhuD2. IsdA and FhuD2**
vaccine efficacy in naïve and SA infected mice
was assessed as in Fig. 4.


-----

**and older adults with invasive S. aureus infections (Years 1- 4)**


Rationale: SA is a highly human-specific pathogen, and this is particularly true for certain antigens such as the
leukocidins[22 ]. Prior _SA_ vaccine targets have appeared promising in pre-clinical studies but were minimally
investigated for importance in human disease and lacked efficacy in human trials. We will determine critical
aspects of the host response to SA bloodstream infection by defining the antibody response in subjects who
survive invasive disease. These subjects are expected to generate the most effective memory responses, of
particular importance as recurrent invasive disease in humans is exceedingly rare in the absence of
immunodeficiency. To test this, we will leverage our well-established clinical research infrastructure and
informatics resources to study the host response to _SA_ antigens using samples prospectively obtained from
distinctly phenotyped subjects.

Approach: **Subject Enrollment, Invasive SA** **Disease. Working within a current, IRB-approved protocol for**
enrollment of subjects with SA disease at Vanderbilt, we will target two populations for this work: children (1-17
years of age) and older adults (>65 years of age). We have extensive experience enrolling each of these
populations in the setting of invasive SA disease[23-25 ]. In collaboration with the clinical microbiology laboratory,
we are made aware of all cultures growing SA, 7 days/week, immediately upon initial culture positivity. Sera and
peripheral blood mononuclear cells (PBMCs) will be obtained within 48 h of the growth of SA in culture and at
multiple timepoints up to 12 months post-infection, and the infecting isolates will be obtained. PBMCs will be
stored in anticipation that they could prove useful later, e.g. in relation to IL10 production by SA-specific T and B
cells.

**Defining the host Ab response to invasive SA** **disease in children and older adults. Given that SA** is a
highly adapted human pathogen, it has remained challenging to identify relevant antigens that
are definitively expressed during invasive infection. Detection of a high-titer Ab response (rising in
convalescence, and relative to controls) confirms that an antigen is expressed **Antigen** **#** **Antigens**
during natural human infection and targeted by the host. We aim, therefore, to **Category** **on Panel**

Nutrient

define the specific targets of the natural humoral response to SA, and the 19

Acquisition

kinetics of this response. We will employ liquid bead array technology, as we

Toxins 11

have previously used successfully[24,26], to broadly and efficiently measure IgG

Superantigens 8

responses to 65 selected SA antigens. Antigens included on the panel will
include all relevant aspects of pathogenesis (Table 1). All selected antigens IgG-binding 2
are surface-expressed or secreted, allowing immune recognition by the host. Extracellular 12

enzymes

Samples from invasive disease will be compared to non-invasive disease and
healthy control samples to identify which antigens are most relevant and Other 13
expressed during invasive disease. Further, we will define the kinetics of this **Table 1. Categories of specific antigens**
response by measurement at serial timepoints. Patient samples will be **to be assessed by multiplex serology**
measured in biological and technological triplicate to ensure reproducibility of
the results. Additional components of characterization studies will include the identification of infecting strain
type by multi-locus sequence typing and correlation of strain lineage with virulence factor profiles
from the infecting isolates.

**_In_** **_vivo characterization_** **of post-infection** **human sera by adoptive** **transfer.** Following serologic
characterization as above, all sera collected at 6 weeks (peak protection based on preliminary data) will be
further assessed for their ability to provide protection in the murine adoptive transfer model. If protective, the
sera from follow-up time points will also be assessed. In the murine model, patient sera will be adoptively
transferred (n=8 mice) by the intraperitoneal (IP) route for 24 hours before systemic challenge with SA by
IP. Importantly, we will assess rechallenge both with the same clinical isolate obtained from the infected patients,
as well as a strain from a distinct lineage, to evaluate breadth of protection. After 48 hours, the kidney and spleen
CFUs, cytokines (IL-1β, IL-6 and TNF-α) and kidney histopathology (gross pathology and H&E to assess
abscess size and numbers) will be measured. Samples will be selected for advancement to Aim 2 based on
evidence of significant protection at any timepoint, defined as >1 log CFU and/or significant reduction in
immunopathology (primary: kidney abscess size and number, and secondary: cytokines) with high protection
defined as >3 log reduction. Sera from serial timepoints will be measured to elucidate the kinetics of the humoral
response in vivo. Recognizing that some factors may show clear human tropism and efficacy may be missed
ith ild t d l ill l h i d NSG i t f th i iti l (UCLA CFAR

|Antigen Category|# Antigens on Panel|
|---|---|
|Nutrient Acquisition|19|
|Toxins|11|
|Superantigens|8|
|IgG-binding|2|
|Extracellular enzymes|12|
|Other|13|


-----

mice previously to demonstrate
the pathogenic role of human
tropic Panton-Valentine
Leukocidin[27 ]. The results from
this aim will stand alone in
defining the protective humoral
response to SA in a much more
clinically relevant way than in **Figure 11. Adoptive transfer model and volumes required for proposed experiments.**
_vitro assays alone._ The studies outlined in the proposal have been carefully designed for feasibility based on

realistic patient sample volumes.

**Analysis Plan: We anticipate**
100 subjects (75 children and 25 older adults) enrolled over the first four years of the study period (with the final
year dedicated to completing experimental work). This pediatric sample size is based on 18-22 children admitted
to Vanderbilt Children’s Hospital with invasive disease per year, consistent with current local epidemiology from
2014-present. Based on our preliminary data, we estimate that 50% of sera will be categorized as non-protective
in adoptive transfer, 40% moderately protective, and 10% highly protective. This sample size will provide
sufficient power (80%) to detect at least a 1.9-fold increase in the odds of protection per standard-deviation titer
increase for each antigen, with a significance level to 0.001 corresponding to a conservative Bonferonni-type
correction for 65 antigens. **Generation of a list of candidate antigens for downstream (Aim 2 and 3)**
**investigation:** Samples will be analyzed using logistic regression with specific Ab levels as the continuous
variable. This analysis will allow determination of a ranked list of which SA antigens are independently predictive
of functional protection in human pediatric sera following invasive infection. We have carefully considered the
volume of serum to assure feasibility in all 3 Aims (Fig. 11). Age/Sex as biologic variables: Children and older
adults of both sexes will be recruited.

Potential Challenges and Alternative Strategies: The work proposed in this aim depends on the collection
of clinical isolates, sera, and cells collected from children and older adults infected with SA disease. However,
rates of infection are known to vary over time and may wane over the course of the outlined studies. If this
occurs, we will draw on our previously collected repository containing >250 invasive samples, consented for
future use of leftover samples. The repository lacks sufficient serum volume on enough participants to support
the overall proposal but will be able to supplement with a small number of subjects if necessary.  The use of a
liquid bead array to test the Ab-antigen interaction of patient sera is an attractive option due to its efficiency and
reproducibility. However, these arrays can be difficult to use correctly while maintaining the integrity of the
proteins in question (e.g., improper conjugation of an antigen to the array would result in a false negative result).
To maximize rigor, extensive controls will be used in addition to technical reproducibility and validation by ELISA.
Anti-human IgG will be used to confirm the addition of sample and negative controls including buffer and antigen
tag controls will also be used to ensure the antigen is properly bound to the array. Our extensive experience in
this area allows navigation around these potential pitfalls.

**Specific Aim 2: Identify and characterize protective and non-protective human antibodies targeting**
**clinically relevant S. aureus antigens (2A: years 1-4; 2B years 2-4)**

Rationale: Successful human vaccines against many pathogens have targeted pathogen-expressed antigens
that induced protective human Ab immunity, e.g., capsular polysaccharide[28,29]. In preliminary experiments, we
have shown that human Ab to a protective antigen (Hla) is protective in both naïve and SA experienced hosts
(Fig. 12A). Conversely, we have shown that several non-protective antigens generate non-protective vaccines
in _SA_ experienced mice even though protection is achieved in naïve mice (Fig. 4A and 9). Hence, we
hypothesize that prior host humoral immune interaction with SA determines ultimate efficacy of SA vaccines. To
test our hypothesis, we aim first to define and characterize the vaccine-relevant Ab response to a large panel of
_SA antigens in humans._

Approach: We will study a list of human Ab, preselected to include major virulence factors and vaccine antigens
that failed in clinical trials. In parallel, we will characterize protective serum samples advanced from Aim 1 to
identify _SA_ antigens that are strongly associated with protective Ab responses, as these antigens represent
potential targets of intervention for invasive human disease. We will study characteristics of both protective and
non-protective Ab to determine what factors and Ab features confer functional protection.


-----

Approach: 1) Preselected SA antigens: we will assess specific Ab against 10 SA antigens of particular interest.
The list includes well known virulence determinants and major antigens that have been evaluated in murine
studies and human vaccine trials: Cell-surface antigens (IsdA, MntC*, ClfA*, SpA, FhuD2, EsxAB), PAMPs
(LTA*, Lipoprotein*) and toxins (Hla*, LukED) with * denoting vaccine trials that demonstrated lack of
efficacy.[17,20,30-39]. 2) Candidate protective SA antigens from Aim 1 - The analysis plan outlined in Aim 1 will
result in a ranked list of _SA_ antigens that are most likely to induce protective Ab based on titer correlation.
Specifically, this rank list will be based on relative titer of specific Ab in protective samples vs. non-protective
samples. We will study the **8 highest-ranked protective antigens. We will purify specific Ab using antigen**
columns, then evaluate the
Ab for protection in the
adoptive transfer model.
As a complementary
approach, specific Ab
protection will be evaluated
by determination of the
protection upon specific
depletion of the Ab from
that sample, where loss of
protection signifies **Figure 12. Effect of prior** **_SA_** **exposure on Hla (alpha toxin) active and passive vaccines. (A)** Hla
function of the depleted vaccine efficacy in naïve and SA-infected mice was assessed as in Fig. 4. (B) Neutralizing antibody to Hla
Abs. This approach (Sigma) was mixed with sera from human donors, then added to sheep blood for hemolysis measurement.

Significant interference was seen in with 4/11 human Ab. Shown is an example of an interfering Ab profile.

preserves the interaction

Depletion of Hla-specific Ab from the human serum restored full mAb function. (C) Suvratoxumab, anti-Hla

between Ab and other Ab that was unsuccessful in clinical trial, was injected at 10mg/kg into mice with Hla-Ab purified from human
serum factors of possible donors (H129, H150, H304, 100 ∝l serum equivalent). The mice were challenged s.c. with SA (2x10[7 ] LAC)
importance.  In the unlikely and lesions were measured.
case that we find fewer than 8 non-overlapping antigens from the candidate list from Aim 1, we have a priori
selected 8 alternative antigens of potential importance that we will study (FnBPA, LukPV, PNAG, CSA1a, SdrD,
CP5/8, WTA, LukAB)[40 ]. Therefore, there will be no critical dependency on Aim 1.

_- Contrasting protective and non-protective sera:_ Our initial study has shown that ~40-50% of patients who
recover from invasive diseases produce transient protective Ab based on in vivo serum protection against SA
challenge[8]. For each antigen target, we will aim to test protective sera from 5 pediatric and 5 older adult
individuals at the peak of protection (usually 6 weeks) and after the protection has subsided (at 6 months). By
contrast, some individuals may have moderate to high titer of Ab against the same antigen and yet not be
protected. When available, we would like to similarly test the sera from up to 5 such individuals. Analysis of
specific Ab that are protective from some individuals but not from others could provide important insight on
specific characteristics of the Ab that are particularly important for conferring protection (see Aim 2.2.).

- SA strains: the study will utilize primarily LAC, a prototype USA300 epidemic strain of SA that circulates within
community and healthcare settings. USA300 expresses most common virulence factors, but we will corroborate
RNA expression of the specific SA antigen by USA300 in vivo prior to proceeding with each study. A collection
of other SA strains is available if USA300 does not express the antigen. It is possible that some reduced Ab
efficacy that we discover between subjects derive from targeting of the same protein with non-conserved _SA_
sequences. Thus, we will also evaluate that possibility by comparing function in vitro as described below using
LAC and the infecting SA isolate obtained from that particular subject.
Experiments: _Purification of specific Ab_ – Recombinant _SA_ antigens expressed from _E. coli_ will be LPS
detoxified using a spun-column and purified on an affinity (nickel), then seizing column. Additional QC include
appropriate functional assays on each prep to verify and quantify protein function, e.g. cytolysis per ∝g of toxins.
Affinity column will then be generated with the antigens to facilitate purification of specific Ab. Eluate from the
column will be used to generate specific-Ab depleted sera (see Fig. 12B). Adoptive transfer of Ab to protect
_against SA challenge in mice – We will inject C57BL/6 mice (n=8) IV with the equivalent of 100 ∝l of purified_
human specific Ab IV. After 6h, we will challenge the mice with 10[7 ] late log-phase SA (USA300 strain LAC) IV


-----

opsonophagocytic killing (OPK) assays using standard methods. For toxins, cytotoxicity and cytokine secretion
in toxin-tropic human and mouse cell lines will be used. For secreted enzymes, we will use assays tailored to
test the enzymatic function. OPK: In brief, SA preincubated with sera for 15 mins will be added to THP1 or mouse
bone-marrow derived neutrophils at MOI of 10:1 for 1 hours and CFU will be enumerated[41 ]. Toxin neutralization:
The selected recombinant toxin will be incubated with control or test sera prior to addition to the appropriate host
cells selected based on tropism. Cytolysis and, as appropriate, cytokines from supernatant will be measured[42 ].
_Defining protection – Protection will be primarily evaluated based on the in vivo adoptive transfer assay. In case_
of marginally significant protection, evidence from the in vitro assays will be used as secondary supportive
evidence. Criteria for in vivo protection are the same as in Aim 1, based on CFU and histopathology at 48h.
Anticipated results, pitfalls, and alternative strategies: A hypothesis by Miller, Proctor and Fowler proposed that
toxins (TSST, Hla) are protective antigens whereas cell-surface adhesins are not[4]. Our preliminary studies of
human IsdB- and Hla- specific Ab are consistent with the hypothesis. More extensive analysis of toxin- and
adhesin- specific Ab as proposed above and in Aim 2.2. will provide more clarity on that question. A potential
caveat of the study is the use of the adoptive transfer of human sera or Ab into mouse blood. Human serum Ab
are largely compatible with mouse Fc and OPK, which has allowed this model to be widely adopted across a
broad range of pathogens to gain human relevance[43-45 ]. We have complemented this in vivo assay with traditional
in vitro functional assays, with acknowledgement that each assay is likely to report and predict aspects of human
protection. Another pitfall is the use of one single mouse strain for our initial studies. For SA antigens that are
shown to be highly promising vaccine targets as assessed by experiments proposed in Aim 2.1 and 3.1., future
studies will aim to validate the findings across SA strains and mice with diverse genetic backgrounds.

**Aim 2.2. Perform structural and functional profiling of protective and non-protective human anti-SA Ab.**

Effective antibody-mediated protection depends on specific interaction of Fab with the pathogen target as well
as Fc interaction with host effectors (complement and immune cells). Fab antigen-specificity and affinity
determine virulence target neutralization, whereas Fc and Ab glycosylation affect the quality of interaction with
complement and Fc receptors and related opsonophagocytic functions[46 ]. To gain insight on specific determinants
of Ab protection (or lack thereof), we will query specific Fab and Fc-mediated functions per our published
characterization of IsdB antibodies (Tsai 2022). The use of genetic or pharmacologic inhibitory approaches will
corroborate the suggested functions.
Experiments: - Selecting SA antigens and serum samples – From the list of antigens evaluated in Aim 2.1., we
will **investigate up to 10 anti-SA** **Ab, ideally 4 against “protective” antigens, and 6 against “non-protective”**
antigens. We will aim to include toxins, cell-wall anchored adhesins and secreted proteins. Since Ab protection
to an antigen could vary among human subjects, we will aim to study serum samples from up to 10 individuals,
preferentially picking individual samples that provide highest or lowest levels of protection within the specific
antibody group (after controlling for titers), as these would likely provide additional insight towards protective
mechanisms. Further, if any of the antigens demonstrated differential efficacy related to age (pediatric vs older
adult) in Aim 2.1, this will be further explored in this subaim to identify mechanistic differences related to the
effects of aging on antibody characteristics and functions.

_- Profile Ab characteristics and functions: We will perform 3 types of assays that will inform on antibody protective_
functions: I. Titer and Ig class / subclass. Clearly, low specific titers would lead to non-protection. Therefore, for
subsequent functional comparisons, we will use equimolar quantity of the antibodies across subjects. II. _Fab-_
_mediated antigen neutralization: 1) Ag binding avidity using a urea stringency assay[47 ], 2) Epitope mapping by_
BCR sequencing, B cell hybridoma generation and mapping using overlapping peptides as performed for IsdB
(Tsai 2022), 3) Neutralization/functional assays, e.g. for toxin neutralization[48 ], or heme survival assays for
assessment of IsdA or IsdB neutralization. III. _Protection related to Fc interaction with complement and_
_phagocytes: 1) glycan analysis[49 ], 2) complement binding assay[50 ], 3) OPK by human neutrophils[41 ], 4) Ab_
mediated neutrophil phagocytosis[51 ].
These initial assays will inform on the potential mechanisms that contribute to suboptimal Ab functions.
Thereafter, we will corroborate loss of function by using pharmacologic or genetic approaches, as shown for
IsdB-specific Ab (Tsai et al. 2022).  Because mapping of epitope is effort and resource intensive, we will limit to
3 Ab targeting _SA_ antigens, IsdB (not yet performed on human Ab), IsdA and Hla, which have well-defined
protective subdomain(s) based on published structural data[52-54 ]. For each antigen, we will seek out the 2 most
and 2 least neutralizing Ab from the samples and correlate the epitope map for the 4 samples (for each antigen)


-----

assay for Hla). Addressing the short duration of protective memory: Although protective Ab were noted in
1/3 individual after SA invasive disease, no protection was evident after 6 months (Fig. 3).  We currently
hypothesize that change in Ab titer or glycosylation is most likely the cause. Hence, for up to 3 of the protective
antigens that exhibit loss of Ab protection at 6 months, we will compare the structural and functional profile of
the same antibodies at 6 weeks and 6 months after SA infection. If Ab titer is suspected to be the reason, we
will assess equimolar concentration of the Ab from the different time points. Findings from these studies will
inform on a more comprehensive future study that explores the molecular and cellular bases of the short-lived
protection as well as potential strategies to overcome the shortened memory (e.g. via adjuvants).
Potential challenges and alternative strategies – Our battery of assays will identify Ab structural and functional
characteristics that differentiate protective from non-protective Ab. If questions persist that could not be
addressed using the proposed battery of tests, we will perform additional assays, for example, Ab binding to
specific FcR’s. The finding of IL10 link to non-protective α2,3 sialylation on IsdB Ab begs the question if IL10
universally drives non-protective anti-SA Ab function. If we find similarly modified α2,3 sialylation across nonprotective Ab, we will evaluate for increased IL10 secretion by antigen-specific T and B cells from that human
donor using the preserved PBMCs from Aim 1. This, along with the use of anti-IL10 (as performed in Fig. 7 and
proposed in Aim 3) will allow us to determine the causal link between IL10 and non-protective glycosylation.
Although we propose to compare both protective and non-protective Ab samples against the same antigen, in
some studies, it is likely that we will only have fully protective or non-protective Ab samples, with e.g. only one
type of glycan profile. The interpretation of protective role of the profile will then depend on comparison to profiles
of other anti-SA Ab and on specific glycosidase treatment, with further corroboration of phenotype from mouse
studies (see Aim 3). All proposed assays have been fine-tuned and published in our study of IsdB Ab (Tsai
2022). Completion of Aim 2 will lead to an understanding of the types of SA proteins that induce protective or
non-protective Ab and the characteristics of the antibodies that are protective or not protective. Aim 3 will directly
assess protection conferred by vaccines targeting these antigens in SA-pre-exposed hosts, and will determine
the capacity of non-protective Ab to outcompete protective anti-SA Ab.


_In vitro reproducibility note: Throughout the project, in vitro experiments will be performed using primary cells or cell lines from mice or_
human of both sexes. To date, we have not observed gender differences for the in vitro cells/assays to be performed here, but we will
continue to make note of the age/gender source of the cells used in case such differences become apparent. In vitro experiments
throughout the project will be done in triplicate and repeated at least three times to assure reliability.


**Specific Aim 3: Determine how prior humoral immune interaction with S. aureus shapes vaccine efficacy**
**(3A: Years 1- 4; 3B: 2 – 5; 3C: 3-5)**

Hypothesis: Vaccination against non-protective antigens recalls an ineffective memory response in the setting
of prior _SA_ infection. Furthermore, competition between non-protective and protective vaccine Ab leads to
reduced vaccine efficacy. Conversely, vaccination against “protective” antigens recalls a protective Ab response
(see Fig. 12A). Approach: We will assess how the characteristics of host humoral responses to SA antigens,
defined in Aim 2.1 and 2.2, predict the efficacy of passive and active SA vaccines (Aim 3.1). We will query the
roles of immune imprinting and direct Ab competition in vaccine interference (Aim 3.2). We will develop a list of
_SA antigens that induce minimal Ab response in human subjects (subdominant antigens) and query if protective_
vaccine could be more readily generated to these antigens (Aim 3.3).

**Aim 3.1. Determine how the protective function of pre-existing anti-SA** **immunity affects efficacy of**
**specific SA vaccines**

Experiments: Evaluate active vaccines – We will select 8 SA antigens from Aim 2.1/2.2 for active immunization
study. Given a choice, we will aim for a third to a half of the antigens to be “protective” and to consist of toxins,
adhesins and secreted factors. For the protective antigens, we will determine if the vaccines are protective in
both naïve and SA-experienced hosts. For non-protective antigens, we will preferentially pick antigens that failed
clinical trials, with an aim to assess if these vaccines are ineffective in SA-experienced mice. All antigens should
1) induce protection in naïve mice as a vaccine (this is already confirmed for to the 18 SA antigens listed in Aim
2), and 2) should induce at least moderate level of Ab response to SA to permit the effect of prior specific humoral
immunity on vaccination to be studied. There are at least 11 antigens from the list in Aim 2 that fit the criteria.
Therefore, critical dependency on Aim 2 will not be an issue. To simulate exposure to SA (Fig. 4A), we will
inoculate mice with 10[7 ] _SA (LAC) or PBS control IP at weekly intervals x 2-3, to induce a robust specific Ab titer_


-----

x 3, then challenge the mice 10 days after with the same SA strain. We will measure CFU and tissue IL1β, IL6,
IL17A, IFNγ, IL23, IL10, TGFβ and histopathology from spleen and kidneys at 48h. To corroborate Ab protection,
we will perform adoptive transfer of 100 ∝l of the serum to naïve mice, then challenge the mice 4h later and
evaluate protection based on CFU, cytokines and histopathology as before. For the study of vaccine antigens
that demonstrate human tropism, we will use humanized mice. To corroborate specificity in cases where vaccine
interference is observed, we will challenge the mice with an isogenic mutant strain, which would be expected to
remove the specific source of interference (as per IsdB findings in Tsai 2022). Knockouts are available for many
antigens we are testing, but as needed we will generate the deletion mutant which is a basic skill of the lab.

**_Evaluate passive vaccines – We will assess the efficacy of 4 anti-SA human monoclonal Ab in mice that_**
have been pre-injected with human sera. The mAbs selected represent mAbs that have failed clinical trials and
that we have verified to be available for purchase (LTA, ClfA, lipoprotein, and Hla) from Creative Biolabs.
Preliminary data are already presented for two of the mAb (Fig. 2B and 12C). Each mAb will be matched with
human samples with either high or low levels of specific Ab against the corresponding antigen (5 high and 5 low).
We will inject mice IV with 100∝L of human sera, followed 4h later with SA challenge, then 6h later with the mAb
(dosed to simulate the clinical trial). Controls will consist of mAb alone, isotype control and the human serum
alone. Readouts at 24h post infection will consist of tissue CFU, cytokines and histopathology per above. To
verify that any interference is antigen specific, we will deplete the antigen-specific Ab by passage through an
affinity column loaded with the antigen and determine whether interference is abrogated.

Anticipated results, pitfalls, and alternative strategies: This subaim will provide crucial insight into the
underpinning of Ab interference with vaccine responses. Based on our hypothesis, efficacy of vaccine will
depend critically on efficacy of prior antibody imprint. To date, all our specific vaccine data have closely matched
findings from clinical trials. _Reinfection model – It could be argued that multiple IP infections as proposed does_
not truly mimic human exposure to SA. We have previously addressed this issue and demonstrated similar
vaccine interference after IV infection followed by antibiotic (tsai 2022). In both scenarios, it appears that
prolonged exposure to SA is what is required to induce a robust SA specific humoral response that interferes.
Furthermore, transfer of B cells from SA infected mice followed by immunization of the recipient is sufficient to
induce IsdB vaccine interference arguing against innate training (Tsai 2022). We will selectively corroborate
findings using the model of prior IV infection followed by vancomycin which mimics a real-life clinical scenario.

_In vivo reproducibility note: We will perform all our experiments with male and female mice. All in vivo experiments will be done with_
groups of at least 8 age- and sex- matched animals as we have determined that this group size is sufficient to detect the differences
being tested using α=0.05 and power=0.8. Experiments will be performed at least twice (n = 4 x 2 exps) to assure reproducibility.


**Aim 3.2. Determine the role of immune imprinting and Ab competition in shaping SA vaccine efficacy**

Our IsdB vaccination study in naïve and _SA_ infected mice revealed two important mechanisms of vaccine
interference: vaccine recall of a non-protective IsdB Ab response generated from prior infection, and competition
between protective and non-protective Ab. We will evaluate these mechanisms in up to 6 active and 4 passive
**immunizations to explain vaccine interference or lack thereof.**

Experiments: **_Active immunization - Evaluate immune imprinting:_** We will 1) vaccinate naïve or SA infected
mice as per **Fig. 4A, then purify** _SA_ antigen-specific B cells and analyze B-cell receptors for memory clonal
expansion that denotes immune imprinting. We will measure SA antigen-specific IgM level at 3 and 7 days after
vaccination of naïve and SA infected mice to look for prompt recall activation of antigen-specific cells.

- Profile Ab characteristics and functions: To determine if protective Ab generated by vaccination in naïve mice
is different from specific Ab derived from SA infection alone or from vaccination of SA infected mice, we will
assay the Ab from each setting for: titers of Ig classes and subclasses, affinity, glycan profile, OPK, complement
binding, cytolysis assays, and selective epitope map as in Aim 2.2. If the analyses point to specific reasons for
loss of Ab function, e.g., glycosylation differences, we will perform inhibition experiments using pharmacologic
or genetic tools to corroborate the suggested mechanism, e.g., use of specific FcR mutant or removal of unique
glycan group to determine if differences in function are reduced. Because of our preliminary data suggesting
IL10 linkage to glycosylation to Fc, we will assess if anti-IL10 treatment at the time of vaccination reverses
vaccine efficacy and if that is related to reversion of glycosylation per IsdB finding


-----

high or low titers of specific Ab in the following assays: 1) competitive binding assays as per **Fig. 8B** for
recombinant antigens or antigens on SA surface, with detection of biotin-labeled mAb by streptavidin. 2) We will
also perform OPK and cytolysis experiments as described above, where appropriate, using different ratios of
mAb to the human sera. In all cases where inhibition is observed, we will corroborate the specificity of the
inhibition by repeating the experiment with specific-Ab depleted serum samples as shown in Fig. 12B. If Aim 2
identifies structural or quantitative Ab differences in aged and pediatric patients that lead to protective differences
in vivo, we will assess if these antibodies directly interfere with protective Ab in the infection model.

Potential challenges and alternative strategies: We anticipate that each SA vaccine will recall and amplify nonprotective humoral responses in approximate proportion to the magnitude of the pre-existing specific humoral
response. We anticipate that vaccines will recall Fab- and Fc-specific features of specific Ab that are associated
with weak protection – for example, propagation of non-neutralizing Ab (Fab) or glycan profiles associated with
poor phagocytic killing of SA (Fc), which we noted with IsdB (Tsai 2022). We anticipate that direct Ab interference
through competition would be complex and depend on the titer, affinity and epitope targeted by the competing
Ab and the concentration of antigen targets. Our experiments will use mAb and human Ab concentrations that
are most likely to be encountered in clinical trials.

**Aim 3.3. Target subdominant SA antigens to circumvent vaccine interference**

If immune imprinting and direct Ab competition are important roadblocks to
effective _SA_ vaccination, then targeting “subdominant" _SA_ antigens that do not
induce robust humoral response to _SA_ could be a way to circumvent vaccine
interference. In support of this strategy, effective experimental vaccines have been
developed that target subdominant or pathogen targets that induce low level of
Ab[55 ]. For preliminary support, we show that SdrE, which induces little Ab during
_SA infection can protect both naïve and SA infected mice as a vaccine (Fig. 13)._
Experiments: - Identify subdominant SA antigens – We will collate the list of SA

**Figure 13. Targeting sub-**

antigens that induced low or no Ab in our pediatric study (Aim 1). We will verify **dominant antigen SdrE. SdrE**
that the SA antigens induce low specific Ab titer following SA infection in mice and vaccine efficacy is assessed as in
perform in vivo transcriptomics study[56 ] of spleen _SA_ at 6h and 24h post _SA_ Fig. 4. SA infection alone induced
infection to determine expression of the SA antigens for our standard infection. We 1/100 SdrE-specific Ab compared

to IsdB-specific Ab (not shown).

will then investigate 3 antigens (including SdrE) in passive and active vaccination
studies. For some of these antigens, there likely will be already developed vaccines, as is the case for SdrE[20 ].
Other vaccines will have no reported vaccine studies and require de novo evaluation of these antigens as vaccine
candidates (as needed, we will evaluate up to 5 new antigens for vaccine efficacy). _Active vaccines: We will_
corroborate efficacy of the SA vaccines in naïve mice. If the SA antigen is not protective in naïve mice, we will
select an alternative antigen that meets the above criteria. We will then compare protection conferred by the
vaccine in naïve and mice infected with SA per Aim 2.1 and evaluate the duration of protection in naïve and SAinfected mice for up to 6 months. We will verify that protection is Ab-mediated by adoptive transfer of the serum
Ab followed by SA challenge as before. Passive vaccines: We will assess if the subdominant vaccine is more
effective by performing passive transfer of the protective antibodies into mice pre-injected with human sera with
low corresponding SA antigen-specific Ab. We will then challenge the mice with SA and assess as before.
Potential challenges and alternative strategies: This sub-aim addresses the hypothesis that subdominant
antigens are more effective vaccine antigens in SA-exposed host. We anticipate that vaccines targeting
subdominant SA antigens will protect both naïve and SA exposed mice because there will be no interfering Ab.
Given that a successful SA vaccine in humans is likely to consist of multiple targets, subdominant antigens may
represent a crucial component of this approach by maximizing efficacy given the absence of interference. Our
future goal is to advance the most promising targets from the study to allow testing of the immune imprinting
hypothesis in a clinical trial. This justifies our evaluation of more than one subdominant antigen.
**Statistics - Two-group analysis will use either unpaired two-tailed t-test or a non-parametric Mann–Whitney U-**
test in the case of missing normality. Comparisons of multiple groups will be performed using one-way ANOVA
and subsequent Bonferroni multiple comparisons. If normality or equal variance tests fail, then a Kruskal-Wallis
test and subsequent Dunn’s multiple comparisons will be used. Correlation analyses will be performed using
linear regression and evaluation of R[2].


-----

OMB Number: 0925-0001

Expiration Date: 09/30/2024

|Use of Human Specimens and/or Data|● Yes ❍ No|
|---|---|
|Does any of the proposed research in the application involve human specimens and/or data *||
|Provide an explanation for any use of human specimens and/or data not considered to be human subjects research.||
|Are Human Subjects Involved|● Yes ❍ No ❍ Yes ● No ❏ 1 ❏ 2 ❏ 3 ❏ 4 ❏ 5 ❏ 6 ❏ 7 ❏ 8|
|Is the Project Exempt from Federal regulations?||
|Exemption Number|❏ 1 ❏ 2 ❏ 3 ❏ 4 ❏ 5 ❏ 6 ❏ 7 ❏|
|Other Requested Information||


-----

|Col1|Human Subject Studies|Col3|Col4|
|---|---|---|---|
||Study#|Study Title|Clinical Trial?|
||1|Interrogating human anti-staphylococcal antibody responses for staphylococcal vaccine insights|No|


-----

**Section 1 - Basic Information (Study 1)**

1.1. Study Title *

Interrogating human anti-staphylococcal antibody responses for staphylococcal vaccine insights

1.2. Is this study exempt from Federal
❍ Yes              - No
Regulations *

1.3. Exemption Number ❏ [1] ❏ [2] ❏ [3] ❏ [4] ❏ [5] ❏ [6] ❏ [7] ❏ [8]

1.4. Clinical Trial Questionnaire *

1.4.a. Does the study involve human participants?   - Yes ❍ No

1.4.b. Are the participants prospectively assigned to an intervention? ❍ Yes   - No

1.4.c. Is the study designed to evaluate the effect of the intervention on the
❍ Yes                               - No
participants?

1.4.d. Is the effect that will be evaluated a health-related biomedical or

                                - Yes ❍ No
behavioral outcome?

[1.5. Provide the ClinicalTrials.gov Identifier (e.g.](https://ClinicalTrials.gov)
NCT87654321) for this trial, if applicable

|❍ Yes ● No|Col2|Col3|
|---|---|---|
||❏ 1 ❏ 2 ❏ 3 ❏ 4 ❏ 5 ❏ 6 ❏ 7 ❏ 8||


-----

**Section 2 - Study Population Characteristics (Study 1)**

2.1. Conditions or Focus of Study

❍ Staphylococcus aureus invasive infection (e.g. bloodstream infection)

2.2. Eligibility Criteria

1) Children (age 6 months to 18 years) or adults (>65 years of age) admitted to Vanderbilt University Medical Center with
culture-proven Staphylococcus aureus infection.

2) Have provided informed consent and informed assent (when applicable) to participate in the study.

2.3. Age Limits Min Age: 6 Months Max Age: 99 Years

2.3.a. Inclusion of Individuals Across the Lifespan Inclusion__individuals_across_lifespan.pdf

2.4. Inclusion of Women and Minorities Inclusion_of_Women_Children_Minorities.pdf

2.5. Recruitment and Retention Plan Recruitment_and_Retention_R01.pdf

2.6. Recruitment Status Not yet recruiting

2.7. Study Timeline Study_Timeline_R01_.pdf

2.8. Enrollment of First Participant 10/01/2023 Anticipated


-----

**INCLUSION OF INDIVIDUALS ACROSS THE LIFESPAN**

**1. Scientific and Ethical Rationale for Age Range of Participants**

As detailed in Aim 1 of the Research Strategy Section, we plan to enroll children under the age of
18 (as defined by the NIH Policy on Inclusion of Children) and older than 6 months of age, inclusive.
Children under the age of 6 months are excluded due to the significant impact of the maternal IgG
profile (transmitted via the placenta to the fetus) on measurements of anti-staphylococcal antibodies
in this project.

Children represent the ideal host in which to study the specific questions being investigated in this
research proposal, for several reasons. First, S. aureus disease in children involves uniquely defined
phenotypes
of invasive infection that are typically hematogenous in origin (e.g., acute hematogenous osteomyelitis,
septic arthritis, or visceral abscesses). This allows for straightforward stratification of disease types and
a true assessment of the host-pathogen interactions in the setting of human bloodstream infection.
Second, staphylococcal carriage exerts a variable effect on specific anti-staphylococcal antibodies. The
pediatric serologic profile, lacking a lifetime of intermittent or persistent nasal colonization, reflects the
response to acute infection more directly. Finally, the relative lack of immune-modifying characteristics
(e.g., medical comorbidities and age-related dysregulation of immune responses seen in older
individuals) is an additional advantage to studying responses in children.

Children will be enrolled from the Monroe Carell, Jr. Children’s Hospital at Vanderbilt (MCJCHV) in
Nashville, Tennessee. Children will be approached for the study upon determination of culture-proven
_Staphylococcus aureus disease if they meet specific inclusion and exclusion criteria (See: Protection of_
_Human Subjects Attachment)._

For children able to provide assent (based on age, maturity, and psychological state), informed
assent will be solicited prior to enrollment in the study. Children will be asked to sign an age-appropriate
assent form describing the risks, benefits, and purpose of the study. It will be emphasized to children
that they may opt out of the study at any time, and that their decision regarding whether to participate
in the study will not alter their care or treatment during their hospitalization or emergency department
visit in any way. Additional Protections for Children Involved as Subjects in Research (45 CFR Part 46
Subpart D) are addressed under the Protections Against Risk subheading of the Protections of Human
Subjects Section.

**2. Expertise and Experience of Investigative Team and Facilities Working with Children**

The study will exclusively involve subjects admitted to MCHCHV, an accredited 271-bed
freestanding children’s hospital with ample volume to meet the required sample size for this study over
a 5-year period. The principal investigator, Dr. Buddy Creech, is Professor of Pediatric Infectious
Diseases at Vanderbilt University Medical Center. Dr. Creech completed 3-year Pediatric Infectious
Diseases Fellowship and is an American Board of Pediatrics-certified pediatrician and infectious
diseases specialist with extensive experience providing clinical care for hospitalized children. Dr.
Creech has extensive experience in pediatric patient-oriented research ranging from multicenter
industry-sponsored clinical trials to investigator-initiated, NIH-funded studies.

The Monroe Carell, Jr. Children’s Hospital at Vanderbilt is a 277-bed free-standing facility built in
2004, which opened a $ million 30,000 sq. ft. expansion in May 2012. In. Since 2012, the Children's
Hospital has consistently been recognized as one of the top children's hospitals in the nation by U.S.
News & World Report.

**3. Inclusion of a Sufficient Number of Children to Contribute to the Analysis**

The proposed work is focused on the pediatric host response to S. aureus disease in children. The
estimated sample sizes are based on our knowledge of the current epidemiology of invasive S. aureus
disease within our hospital catchment area and our previous experience enrolling subjects in this
population. We plan to enroll all eligible children during the study period. We anticipate approximately
20 subjects per year, a number that has remained consistent for the past several years in our catchment
area. This number will be sufficient to obtain sufficient sera to investigate the questions proposed in
Aims 1-3 of the Research Plan.


-----

**INCLUSION OF WOMEN AND MINORITIES**

This study will be inclusive of all pediatric patients hospitalized at Monroe Carell Jr. Children’s Hospital at
Vanderbilt (MCJCHV) with culture-proven _S. aureus_ infection. All subjects, age 6 months to 18 years, who
meet the eligibility criteria (See: Protection of Human Subjects Attachment) will be approached for the study,
regardless of religion, sex, or ethnic background. We will also enroll 25 older adults (>65 years of age)
admitted to Vanderbilt University Hospital (VUH) with culture-proven S. aureus bacteremia.

Based on current demographics in the referral area of MCJCHV and VUH, targeted/planned enrollment by
race, ethnicity, and sex are provided in the accompanying table (see: Targeted/Planned Enrollment Table).

We anticipate a ratio of 55% females, 45% males based on population demographics and our previous
studies.

**INCLUSION OF CHILDREN**

**1. Plans to Include Children and Rationale for Age Range Selected**

As detailed in Aim 1 of the Research Strategy Section, we plan to enroll children under the age of 18 (as
defined by the NIH Policy on Inclusion of Children) and older than 6 months of age, inclusive. Children under
the age of 6 months are excluded due to the significant impact of the maternal IgG profile (transmitted via the
placenta to the fetus) on measurements of anti-staphylococcal antibodies in this project.

Children will be enrolled from the Monroe Carell, Jr. Children’s Hospital at Vanderbilt (MCJCHV) in
Nashville, Tennessee. Children will be approached for the study upon determination of culture-proven
_Staphylococcus aureus disease if they meet specific inclusion and exclusion criteria (See: Protection of Human_
_Subjects Attachment)._

For children able to provide assent (based on age, maturity, and psychological state), informed assent will
be solicited prior to enrollment in the study. Children will be asked to sign an age-appropriate assent form
describing the risks, benefits, and purpose of the study. It will be emphasized to children that they may opt out
of the study at any time, and that their decision regarding whether to participate in the study will not alter their
care or treatment during their hospitalization or emergency department visit in any way. Additional Protections
for Children Involved as Subjects in Research (45 CFR Part 46 Subpart D) are addressed under the
Protections Against Risk subheading of the Protections of Human Subjects Section.

**2. Investigative Team and Facilities**

The study will exclusively involve subjects admitted to MCHCHV, an accredited 271-bed freestanding
children’s hospital with ample volume to meet the required sample size for this study over a 5-year period. The
principal investigator, Dr. Buddy Creech, is Professor of Pediatric Infectious Diseases at Vanderbilt University
Medical Center. Dr. Creech completed 3-year Pediatric Infectious Diseases Fellowship and is an American
Board of Pediatrics-certified pediatrician and infectious diseases specialist with extensive experience providing
clinical care for hospitalized children. Dr. Creech has extensive experience in pediatric patient-oriented
research ranging from multicenter industry-sponsored clinical trials to investigator-initiated, NIH-funded studies.

The Monroe Carell, Jr. Children’s Hospital at Vanderbilt is a 277-bed free-standing facility built in 2004,
which opened a $ million 30,000 sq. ft. expansion in May 2012. In. Since 2012, the Children's Hospital has
consistently been recognized as one of the top children's hospitals in the nation by U.S. News & World Report.

**3. Inclusion of a Sufficient Number of Children to Contribute to the Analysis**

The proposed work is focused on the pediatric host response to S. aureus disease in children. The
estimated sample sizes are based on our knowledge of the current epidemiology of invasive S. aureus disease
within our hospital catchment area and our previous experience enrolling subjects in this population. We plan
to enroll all eligible children during the study period. We anticipate approximately 20 subjects per year, a
number that has remained consistent for the past several years in our catchment area. This number will be
sufficient to obtain sufficient sera to investigate the questions proposed in Aims 1-3 of the Research Plan.


-----

**RECRUITMENT AND RETENTION**

**Study Recruitment: Dr. Creech and the study team will identify potential study subjects through daily contact**
with the Infectious Diseases and Hospital Medicine inpatient services, as they have done successfully for prior
studies. Potential study subjects will be defined as children 6 months to 18 years of age, and adults >65 years
of age, with culture-proven Staphylococcus aureus infection from a sterile site (e.g., blood, bone aspirate, or
joint fluid). Informed consent will be obtained, as well as informed assent when applicable, and children will be
screened for the following exclusion criteria: polymicrobial infection, primary or secondary immune compromise
(including long-term oral or parenteral corticosteroids), history of (or current) malignancy, receipt of IVIG or
blood products in the past 12 months, and known prior history of invasive staphylococcal disease.

All participating subjects must sign an informed consent form that complies with the requirements of 21
CFR Part 50 and 45 CFR 46.  Informed consent is initiated prior to the individual’s agreeing to participate in the
study and continuing throughout the individual’s study participation. Prior to participation in the study, subjects
(and their parent/guardian) will receive a comprehensive explanation of the proposed procedures, including the
nature and risks of the study and all elements that are part of obtaining proper informed consent. Subjects will
also receive a detailed explanation of the proposed use and disclosure of their protected health information,
which also includes their serum samples. Subjects (and their parent/guardian) will be allowed sufficient time to
consider participation in the trial, after having the nature and risks of the trial explained to them, and having the
opportunity to discuss the study with their family, friends or legally authorized representative prior to agreeing
to participate. Informed assent will be obtained from all children who are able to provide assent.

Consent (and age-appropriate assent, where applicable) forms describing in detail the study procedures,
risks and possible benefits are given to the subject. Consent/assent forms will not include any exculpatory
statements. Consent/assent forms are IRB-approved and the subject will be asked to read and review the
document. Upon reviewing the document, Dr. Creech or a member of the clinical research team will explain
the research study to the subject and answer any questions that may arise. The subjects (or their
parent/guardian) must sign the informed consent form and written documentation of informed consent is
required prior to starting any procedures/interventions being done specifically for the study including
administering study product. For participants 7-17 years, assent to participate in the study will also be
obtained. A written script in age-appropriate language will also be used for participants 3-6 years of age.
Copies of consent/assent documents will also be provided to study participants for their records (See:
_Appendix for sample informed consent and age-appropriate Assent documents)_

Study personnel may employ recruitment efforts prior to the subject consenting; however, before any
protocol-specific procedures are performed to determine protocol eligibility an informed consent form will be
signed.

**Study Retention: By signing the informed consent form, the subject (and their parent/guardian where**
applicable) agrees to complete all evaluations planned by the study, unless the subject withdraws voluntarily or
is terminated from the trial for any reason. The rights and welfare of the subjects will be protected by
emphasizing to them that the quality of their medical care will not be adversely affected if they decline to
participate in this study.

Retention in the study will be maximized by clear communication of the study timeline and expectations at the
time of informed consent and at each study visit. Retention is also maximized by the fact that, in most cases,
the majority of study visits / sample collections occur in conjunction with other health care encounters with
blood draws, so that study blood samples can be drawn in conjunction with routine care samples.

For the late follow-up visits (~6 months after infection), numerous contact methods will be obtain from
parents / caregivers (e.g. home, work, and cell phone numbers as well as email addresses). Subjects are
reimbursed for time/travel for attending the follow-up visits. We also offer wide flexibility in follow-up visit times
to accommodate a variety of caregiver schedules.


-----

**STUDY TIMELINE**

At the onset of the study period in Year 1 of the award, participant recruitment will begin. We have an active
and effective research infrastructure in place from previous awards, and therefore anticipate no delays in the
initiation of participant recruitment.

A general schematic of the study timeline is provided below. Briefly, all children admitted to the Monroe
Carell Jr. Children’s Hospital at Vanderbilt and adults >65 admitted to Vanderbilt University Hospital with cultureproven Staphylococcus aureus infection from a sterile site and who meet eligibility criteria (see: Recruitment and
_Retention) will be approached for participation in the study. This will begin at the onset of the award period and_
continue until 6 months remain in the final year of the award.

In parallel to subject enrollment, Aim 1 (generation of ranked list of candidate antigens based on antibody
titers and protection) will proceed during the first four years of the award. The experiments proposed in Aim 2
(characteristics of protective antibodies) will begin in Year 2 and continue through year 4. The third Aim (influence
of prior antibody response on protective efficacy) will begin in the 1[st ]year of the award and continue through the
final year.

**Specific sample collection timeline:**

For each subject enrolled in the study, blood will be obtained at 3 pre-specified timepoints, as follows:

  - The first sample (“early” sample) will be obtained within one day of enrollment and documentation of
informed consent.

  - The second sample (“convalescent” sample) will be obtained 4-6 weeks following enrollment.

         - The third sample (“late convalescent” sample) will be obtained approximately 6 months following
enrollment (window 5 to 7 months following enrollment)


-----

|IER ID#|Enrollment Location Type|Enrollment Location|
|---|---|---|
|Study 1, IER 1|Domestic|Vanderbilt University Medical Center, Nashville, TN|


-----

**Inclusion Enrollment Report 1**

1. Inclusion Enrollment Report Title* : Anti-S. aureus humoral responses post invasive diseases

2. Using an Existing Dataset or Resource* : ❍ Yes - No

|1. Inclusion Enrollment Report Title* :|Anti-S. aureus humoral responses post invasive diseases|
|---|---|

|3. Enrollment Location Type* :|● Domestic ❍ Foreign|
|---|---|
|4. Enrollment Country(ies):|USA: UNITED STATES|
|5. Enrollment Location(s):|Vanderbilt University Medical Center, Nashville, TN|
|6. Comments:|We plan to enroll all children admitted to the Monroe Carell Jr. Children's Hospital at Vanderbilt with culture-proven Staphylococcus aureus infection who meet eligibility criteria and provide informed consent / assent to participate in the study, regardless of race, ethnicity, or sex. Planned enrollment is estimated based on local demographics. In addition, 25 adults with invasive S. aureus infection will be enrolled.|

|Planned|Col2|Col3|Col4|Col5|Col6|
|---|---|---|---|---|---|
|Racial Categories|Ethnic Categories||||Total|
||Not Hispanic or Latino||Hispanic or Latino|||
||Female|Male|Female|Male||
|American Indian/ Alaska Native|0|0|0|0|0|
|Asian|4|3|0|0|7|
|Native Hawaiian or Other Pacific Islander|0|0|0|0|0|
|Black or African American|11|8|0|0|19|
|White|23|17|20|14|74|
|More than One Race|0|0|0|0|0|
|Total|38|28|20|14|100|

|Cumulative (Actual)|Col2|Col3|Col4|Col5|Col6|Col7|Col8|Col9|Col10|Col11|
|---|---|---|---|---|---|---|---|---|---|---|
|Racial Categories|Ethnic Categories|||||||||Total|
||Not Hispanic or Latino|||Hispanic or Latino|||Unknown/Not Reported Ethnicity||||
||Female|Male|Unknown/ Not Reported|Female|Male|Unknown/ Not Reported|Female|Male|Unknown/ Not Reported||
|American Indian/ Alaska Native|0|0|0|0|0|0|0|0|0|0|
|Asian|0|0|0|0|0|0|0|0|0|0|
|Native Hawaiian or Other Pacific Islander|0|0|0|0|0|0|0|0|0|0|
|Black or African American|0|0|0|0|0|0|0|0|0|0|
|White|0|0|0|0|0|0|0|0|0|0|
|More than One Race|0|0|0|0|0|0|0|0|0|0|
|Unknown or Not Reported|0|0|0|0|0|0|0|0|0|0|
|Total|0|0|0|0|0|0|0|0|0|0|


-----

**Section 3 - Protection and Monitoring Plans (Study 1)**

3.1. Protection of Human Subjects Protection_of_Human_Subjects.pdf

3.2. Is this a multi-site study that will use the same protocol to ❍ Yes - No ❍ N/A
conduct non-exempt human subjects research at more than one
domestic site?

Single IRB plan attachment

3.3. Data and Safety Monitoring Plan


3.4. Will a Data and Safety Monitoring Board be appointed for
this study?

3.5. Overall structure of the study team


❍ [Yes] - No


-----

**PROTECTION OF HUMAN SUBJECTS**

**1. Risks to Human Subjects**

**_a._** **_Human Subjects Involvement, Characteristics, and Design_**

The primary goal of this study is to define the naturally occurring, functional antibody response to selected
toxins of _Staphylococcus aureus_ following human infection. To accomplish this, a prospective cohort of
pediatric subjects admitted to the Monroe Carell, Jr. Children’s Hospital at Vanderbilt (MCJCHV) with
documented _S. aureus_ infection will be enrolled. The relevant characteristics of the subjects, including
inclusion/exclusion criteria and anticipated number in each group, are detailed below.

The target population of this cohort will be children over 6 months of age admitted to MCJCHV with
invasive S. aureus disease. Invasive disease is defined as the isolation of S. aureus from an otherwise sterile
site (such as blood, bone, or joint fluid). Approximately 18 children are estimated to be enrolled each year,
for a total of 90 subjects over the proposed 5-year award period. This estimate is based on our current local
epidemiology of invasive pediatric S. aureus disease within our catchment area, as defined by local studies
and our own experience enrolling subjects of this nature for the past 7 years.

Eligible subjects will be identified by referral from the infectious diseases, orthopedic, and hospitalist
services at MCJCHV, as well as notification from the clinical microbiology lab. We have established a robust
electronic algorithm via the Sentri7[® ]software that interfaces with the clinical microbiology laboratory
and notifies our research team of new positive cultures for S. aureus in real time. All children admitted to
MCJCHV will be considered for the study if they meet the following inclusion criteria: age between 6
months and 18 years, with culture-proven _Staphylococcus aureus_ disease from an otherwise sterile site.
Subjects will be excluded if they meet any of the following exclusion criteria: known primary or secondary
immune deficiency; history of malignancy, bone marrow transplant or solid organ transplant; receipt of IVIG
or blood products in the past 12 months; pregnancy; or any condition that, in the opinion of the investigator,
might interfere with study objectives or confer additional risk to the subject.

This study will be inclusive of all subjects who meet the eligibility criteria for each cohort, regardless of religion,
sex, or ethnic background.

Children older than 6 months of age will be the only vulnerable population included in this project. Enrolling
children in studies to understand the immune response to S. aureus is highly important for several reasons:

       - The relative lack of characteristics that may alter the immune response to S. aureus (e.g., certain
medical comorbidities and age-related dysregulation of immune responses seen in older individuals)
may allow for more accurate determination of the humoral response to infection.

       - The pediatric serologic profile, lacking a lifetime of intermittent or persistent nasal colonization, may
reflect the response to acute invasive S. aureus disease more directly.

       - Children with staphylococcal disease have uniquely defined phenotypes of invasive disease (e.g.,
acute hematogenous osteomyelitis), allowing for more straightforward stratification of disease types.

No aspect of this observational study will affect treatment decisions or alter the routine care of the children
enrolled in the study in any way. No investigational products will be used. The results of the testing in this
study will not be not be used to make clinical decisions in the treatment of the subjects enrolled in the study.

**_b._** **_Study Procedures, Materials, and Potential Risks_**

Up to two 10mL tubes of blood (20 mL total, and no more than 1.0 ml/kg if subject <20 kg) will be obtained
from each subject at a maximum of four separate time points: Immediately upon enrollment in the study; 4-6


-----

; ; ( p y) y j g y
antibodies. This volume of blood meets the minimal risk description for all subjects in the study. When
applicable, the infecting bacterial isolate will be obtained from the Clinical Microbiology Laboratory at
Vanderbilt University Medical Center (VUMC).

Clinical data will be collected from each subject via the Vanderbilt Electronic Medical Record System
(EpicLeap). Information obtained from EpicLeap will include: age of the patient, admitting and discharge
diagnosis, results of microbiologic cultures, duration and height of fever, and laboratory values including white
blood cell count, hematocrit, erythrocyte sedimentation rate (ESR), and c-reactive peptide (CRP). Only Dr.
Creech and Key Study Personnel will access patient charts for data collection.

Data will be stored in a de-identified manner by unique subject identification number. All data will be
managed stored electronically in the Vanderbilt Research Electronic Data Capture (REDCap) database, a
secure, HIPAA and FISMA-compliant web-based data collection system. Only Dr. Creech and Key Study
Personnel will have access to the REDCap database.

Subject confidentiality is strictly held in trust by Dr. Creech and the study personnel. Access to study
documents will be limited to Dr. Creech, key study personnel, and the Vanderbilt IRB. This confidentiality is
extended to cover testing of biological samples, in addition to the clinical information relating to participating
subjects. The study protocol, documentation, data, and all other information generated will be held in strict
confidence. No information concerning the study or the data will be released to any unauthorized third party.

All data and information generated as part of the study (other than a subject’s medical records) will be
kept confidential by Dr. Creech and other study personnel. This information and data will not be used by Dr.
Creech or other study personnel for any purpose other than conducting the study. These restrictions do not
apply to: (1) information which becomes publicly available through no fault of the study personnel;
(2) information which it is necessary to disclose in confidence to an IRB solely for the evaluation of the study;
(3) information which it is necessary to disclose in order to provide appropriate medical care to a study
subject; or (4) study results which may be published.

No risk is conferred to the subjects in this study other than a small volume of blood obtained (adhering to
the minimal risk description). Thus, potential study-related risks are limited to local reactions at the site of
blood draw and systemic reactions related to venipuncture and blood sampling. Every effort will be made to
obtain the blood sample simultaneous with other laboratory tests required for the routine care of the patient,
thus reducing unnecessary blood draws. The subject has the ability to opt out of the blood draw at any time.

**2. Adequacy of Protection Against Risks**

**_a._** **_Informed Consent and Assent_**

Dr. Creech will identify subjects in accordance with the eligibility criteria detailed in the Research Plan.
All subjects must sign an informed consent form that complies with the requirements of 21 CFR Part 50 and
45 CFR 46.

Informed consent is a process that is initiated prior to the individual’s agreeing to participate in the study
and continuing throughout the individual’s study participation. Prior to participation in the study, subjects (and
their parent/guardian, if age <18) will receive a comprehensive explanation of the proposed procedures,
including the nature and risks of the study and all elements that are part of obtaining proper informed consent.
Subjects will also receive a detailed explanation of the proposed use and disclosure of their protected health
information, which also includes their serum samples. Subjects (and their parent/guardian, if age <18) will be
allowed sufficient time to consider participation in the trial, after having the nature and risks of the trial
explained to them, and having the opportunity to discuss the study with their family, friends or legally
authorized representative prior to agreeing to participate. Informed assent will be obtained from all children
who are able to provide assent.

Consent (and age-appropriate assent, where applicable) forms describing in detail the study procedures,
risks and possible benefits are given to the subject. Consent/assent forms will not include any exculpatory


-----

pp j
document. Upon reviewing the document, Dr. Creech or a member of the clinical research team will explain
the research study to the subject and answer any questions that may arise. The subjects (or their
parent/guardian, if age <18) must sign the informed consent form and written documentation of informed
consent is required prior to starting any procedures/interventions being done specifically for the study
including administering study product. (See: Appendix for sample informed consent and age-appropriate
Assent document)

Study personnel may employ recruitment efforts prior to the subject consenting; however, before any
protocolspecific procedures are performed to determine protocol eligibility an informed consent form will be
signed. Subjects will be given a copy of all consent forms that they sign.

By signing the informed consent form, the subject (and their parent/guardian, if age <18) agrees to
complete all evaluations required by the trial, unless the subject withdraws voluntarily or is terminated from the
trial for any reason. The rights and welfare of the subjects will be protected by emphasizing to them that the
quality of their medical care will not be adversely affected if they decline to participate in this study. b. Protections
**_Against Risk_**

This observational study is expected to confer no more than minimal risk to the study subjects. Every
effort will be made to obtain the blood sample simultaneous with other laboratory tests required for the routine
care of the patient, thus reducing unnecessary blood draws, and the subject (or their parent/guardian, if age
<18) has the ability to opt out of the blood draw at any time. Data will be kept strictly confidential using an
electronic database (REDCap). Subjects will have code numbers and will not be identified by name. Subject
confidentiality is strictly held in trust by Dr. Creech and study personnel.

For participants 7-17 years, assent to participate in the study will also be obtained. A written script in ageappropriate language will also be used for participants 3-6 years of age. All participants will have written
informed consent and when necessary verbal informed consent. Copies of consent/assent documents will
also be provided to study participants for their records (See: Appendix for sample age- appropriate Assent
_document)._

**_c._** **_Vulnerable Subjects_**

This observational, no-more-than-minimal-risk study involves the recruitment and enrollment of children
between the ages of 6 months and 18 years (Children under the age of 6 months are excluded due to the
effect of maternally transferred antibodies on measurements of anti-staphylococcal antibodies in this
project).

The study will exclusively involve subjects admitted to MCHCHV, an accredited 271-bed freestanding
children’s hospital with ample volume to meet the required sample size for this study over a 5-year period.
The principal investigator, Dr. Creech, completed a 3-year Pediatric Infectious Diseases Fellowship and is
an American Board of Pediatrics-certified pediatrician and infectious diseases specialist with extensive
experience providing clinical care for hospitalized children.

Dr. Creech has experience in pediatric clinical research ranging from multicenter industry-sponsored
clinical trials to investigator-initiated prospective cohort studies. Shanda Phillips, RN, will be the clinical
research coordinator for the study. Ms. Phillips is an experienced clinical research nurse, with more than 10
years of experience conducting pediatric clinical studies.

**3. Potential Benefits of the Proposed Research to Human Subjects and Others**

Participation in this study provides no direct benefit to the subjects. The potential benefits to humankind,
however, are significant. These include an improved understanding of how our body responds to S. aureus
infection, and the assessment of the immune response against potential targets of intervention against this
organism.


-----

**p** **g**

_Staphylococcus aureus is the most common invasive bacterial pathogen in children in the United States,_
and is responsible for substantial morbidity, mortality, and health care expenditures in all age groups.
Antibiotic-resistant strains of this pathogen are increasingly common, and there is an urgent need for
improved therapeutic and preventive agents. This research is designed to advance our understanding of the
functional immune response to key staphylococcal antigens which may be of high importance study the
feasibility of novel treatment modalities. The data generated from this study may identify critical elements in
the host response against this organism, and may identify potential targets for _S. aureus_ intervention or
prevention.


-----

**Section 4 - Protocol Synopsis (Study 1)**

4.1. Study Design

4.1.a. Detailed Description

4.1.b. Primary Purpose

4.1.c. Interventions

**Type** **Name** **Description**

4.1.d. Study Phase

Is this an NIH-defined Phase III Clinical Trial? ❍ Yes      - No

4.1.e. Intervention Model

4.1.f. Masking ❍ Yes   - No

❏ [Participant] ❏ [Care Provider] ❏ [Investigator]

4.1.g. Allocation

4.2. Outcome Measures

**Type** **Name** **Time Frame** **Brief Description**

4.3. Statistical Design and Power

4.4. Subject Participation Duration

4.5. Will the study use an FDA-regulated intervention? ❍ Yes - No

4.5.a. If yes, describe the availability of Investigational
Product (IP) and Investigational New Drug (IND)/
Investigational Device Exemption (IDE) status

4.6. Is this an applicable clinical trial under FDAAA? ❍ Yes - No

4.7. Dissemination Plan

|Type|Name|Description|
|---|---|---|

|Type|Name|Time Frame|Brief Description|
|---|---|---|---|


-----

Delayed
Onset Study#


Study Title Anticipated Clinical
Trial?


Justification


The form does not have any delayed onset studies


-----

**VERTEBRATE ANIMALS**

**1. Description of the proposed use of animals in this work**
Detailed description of each animal experiment is provided in the research design section. Unless otherwise
specified, each control and experimental group will consist of ten 8-10 week old male or female C57BL/6 mice
or humanized NSG mice purchased from the CFAR UCLA animal core facility. Experiments in Aim 1 and 2 will
consist of adoptive transfer of human sera or anti-SA antibodies into naïve mice followed by challenge with S.
aureus. Experiments in Aim 3 will, in addition, test active vaccination of mice with recombinant S. aureus
antigens in naïve mice or mice previously infected with S. aureus.

Aim 1
Adoptive transfer study of human sera into mice 2400 mice

Aim 2
2.1 Adoptive transfer study of human anti-S. aureus antibodies into mice 1800 mice

2.2 characterization of protective and non-protective antibodies 30 mice

Aim 3
3.1 Study of passive and active anti-SA immunizations in naïve and SA-experienced mice 920 mice

3.2 Study of mechanisms of vaccine suppression 200 mice

3.3 Study of passive and active immunizations targeting subdominant SA antigens 540 mice

In all, approximately 5890 mice will be budgeted for the project. This is a project that is reliant on screen of
vaccine candidates using mice, and thus a high number of mice are required.  We will employ highly
experienced postdoctoral researchers to reduce waste. All of the proposed experiments have either been
approved or are pending approval under UCSD IACUC protocol #

**_2. Justification:_**
Mice have been the standard model for studies of human S. aureus infections. The murine models proposed
are well established and availability of knockout mice allows mechanism of immunopathology to be studied.

**_3. Minimization of Pain and Distress:_**
Appropriate effort will be made always to ensure minimum discomfort and distress to the mice during
procedures. Mice will be appropriately anesthetized with isoflurane. If animals appear to be unthrifty or
suffering during procedures, then they will be euthanized.

**Euthanasia: The only method to be used for euthanasia in this proposal follows the current guidelines**
established by the American veterinary medical Association panel on euthanasia. Mice will be euthanized by
inhalation of isoflurane. This will be followed to cervical dislocation to assure death.


-----

**SELECT AGENT RESEARCH**
This proposal does not make use of pathogens listed on the select agent list. Performance of all S. aureus
infection experiments will adhere to BSL2 guidelines and will be performed by laboratory staff who have
completed BSL2 training.


-----

**Multiple Principal Investigator Project Leadership and Management Plan**

PIs Dr. Liu and Dr. Creech are members of the Pediatrics Department at UCSD and Vanderbilt University
Medical Center (VUMC), respectively. Dr. Liu is an infectious diseases physician and head of a S. aureus
basic / translational pathogenesis lab. Dr. Creech, also a pediatric infectious diseases physician, is a
patient-oriented investigator who has vast experience with studies of S. aureus infections in children and
adults. In addition, he has conducted many vaccine trials in children and adults.
PI#1 (George Liu, MD, PhD) and PI#2 (Buddy Creech, MD) will jointly provide oversight of the entire
proposed program and the development and implementation of all policies, procedures and processes.
In these roles, PI#1 and PI#2 will be responsible for the implementation of the Research Agenda, the
Leadership Plan, and the specific aims. They will ensure that systems are in place to guarantee
institutional compliance with US laws and NIH policies including biosafety, animal research, and data and
facilities.

_• Roles and areas of responsibility of the PIs_

Areas of responsibility are defined by the core expertise and prior experience of each PI. PI#1 will
oversee all animal experiments (e.g., adoptive transfer in vivo models) proposed in Aims 1 – 3, to be
conducted at UCSD. In addition, PI#1 will oversee Fc-fragment experiments such as glycan analysis and
immunoglobulin subclass. PI#2 will be responsible for human subject enrollment and sample acquisition
as outlined in Aim 1. PI#2 will also oversee the subset of experiments to be conducted at VUMC,
including all serologic assays, complement binding assay, antibody-mediated neutrophil phagocytosis,
and cytotoxicity assays. PI#1 and PI#2 will work closely for all three proposed studies involving patient
samples. PI#1 will serve as contact PI. He will be responsible for communication with NIH and
submission of annual reports.

_• Process for making decisions on scientific direction and allocation of resources_

Both PIs will make scientific decisions impacting the overall project, and will assume fiscal and
administrative management including maintaining communication among all key personnel through
meetings at least every three months.

_• Fiscal and management coordination_

Each PI will be responsible for financial oversight and management issues, and relevant record-keeping.
The department (Pediatrics) at UCSD and Vanderbilt University will be the site for immediate fiscal
interactions with the internal accounting system at each institution.

_• Publication and intellectual property (if needed) policies_

The Technology Transfer Office at both institutions will be responsible for handling any Intellectual
Property issues arising. Publication authorship will be based on the relative scientific contributions of the
PIs and key personnel.

_• Procedures for resolving conflicts_

In the highly unlikely event that a potential conflict develops, the PIs shall meet and attempt to resolve
the dispute. If they fail to resolve the dispute, the disagreement shall be referred to an arbitration
committee consisting of 1-3 impartial senior personnel from a neutral institution agreed upon by both PIs.

_• Data sharing and communication among investigators_

This issue will be greatly facilitated by having all investigators communicate on monthly basis. All key
personnel will meet at least once every 3 months and much more frequently during studies involving both
labs. Project-related data sharing will be set up via emails or internet-enabled tools.


-----

1 Kaplan, S. L. Staphylococcus aureus Infections in Children: The Implications of Changing Trends.
_Pediatrics 137, doi:10.1542/peds.2016-0101 (2016)._

2 Klevens, R. M. et al. Invasive methicillin-resistant Staphylococcus aureus infections in the United
States. JAMA 298, 1763-1771, doi:10.1001/jama.298.15.1763 (2007).

3 Sutter, D. E. et al. Changing Susceptibility of Staphylococcus aureus in a US Pediatric Population.
_Pediatrics 137, doi:10.1542/peds.2015-3099 (2016)._

4 Miller, L. S., Fowler, V. G., Shukla, S. K., Rose, W. E. & Proctor, R. A. Development of a vaccine
against Staphylococcus aureus invasive infections: Evidence based on human immunity, genetics and
bacterial evasion mechanisms. FEMS Microbiol Rev 44, 123-153, doi:10.1093/femsre/fuz030 (2020).

5 Lebon, A. et al. Dynamics and determinants of Staphylococcus aureus carriage in infancy: the
Generation R Study. J Clin Microbiol 46, 3517-3521, doi:10.1128/JCM.00641-08 (2008).

6 Kluytmans, J., van Belkum, A. & Verbrugh, H. Nasal carriage of Staphylococcus aureus: epidemiology,
underlying mechanisms, and associated risks. Clin Microbiol Rev 10, 505-520 (1997).

7 Tsai, C. M. et al. Non-protective immune imprint underlies failure of Staphylococcus aureus IsdB
vaccine. Cell Host Microbe, doi:10.1016/j.chom.2022.06.006 (2022).

8 Tsai, C. M. et al. Adoptive Transfer of Serum Samples From Children With Invasive Staphylococcal
Infection and Protection Against Staphylococcus aureus Sepsis. J Infect Dis 223, 1222-1231,
doi:10.1093/infdis/jiaa482 (2021).

9 Fritz, S. A. et al. A serologic correlate of protective immunity against community-onset Staphylococcus
aureus infection. Clin Infect Dis 56, 1554-1561, doi:10.1093/cid/cit123 (2013).

10 Verkaik, N. J. et al. Anti-staphylococcal humoral immune response in persistent nasal carriers and
noncarriers of Staphylococcus aureus. J Infect Dis 199, 625-632, doi:10.1086/596743 (2009).

11 Verkaik, N. J. et al. Induction of antibodies by Staphylococcus aureus nasal colonization in young
children. Clin Microbiol Infect 16, 1312-1317, doi:10.1111/j.1469-0691.2009.03073.x (2010).

12 Jacobsson, G., Colque-Navarro, P., Gustafsson, E., Andersson, R. & Mollby, R. Antibody responses in
patients with invasive Staphylococcus aureus infections. Eur J Clin Microbiol Infect Dis 29, 715-725,
doi:10.1007/s10096-010-0919-x (2010).

13 Weksler, M. E. & Szabo, P. The effect of age on the B-cell repertoire. J Clin Immunol 20, 240-249,
doi:10.1023/a:1006659401385 (2000).

14 Monto, A. S., Malosh, R. E., Petrie, J. G. & Martin, E. T. The Doctrine of Original Antigenic Sin:
Separating Good From Evil. J Infect Dis 215, 1782-1788, doi:10.1093/infdis/jix173 (2017).

15 Tripp, R. A. & Power, U. F. Original Antigenic Sin and Respiratory Syncytial Virus Vaccines. Vaccines
_(Basel) 7, doi:10.3390/vaccines7030107 (2019)._

16 Oxford, J. S., Frezza, P. & Race, E. Challenges and strategies for AIDS vaccine development. Vaccine
**11, 612-614, doi:10.1016/0264-410x(93)90303-f (1993).**

17 Weems, J. J., Jr. et al. Phase II, randomized, double-blind, multicenter study comparing the safety and
pharmacokinetics of tefibazumab to placebo for treatment of Staphylococcus aureus bacteremia.
_Antimicrob Agents Chemother 50, 2751-2755, doi:10.1128/AAC.00096-06 (2006)._

18 Vatti, A. et al. Original antigenic sin: A comprehensive review. J Autoimmun 83, 12-21,
doi:10.1016/j.jaut.2017.04.008 (2017).

19 Fowler, V. G. et al. Effect of an investigational vaccine for preventing Staphylococcus aureus infections
after cardiothoracic surgery: a randomized trial. JAMA 309, 1368-1378, doi:10.1001/jama.2013.3010
(2013).


-----

Staphylococcus aureus. Proc Natl Acad Sci U S A 103, 16942-16947, doi:10.1073/pnas.0606863103
(2006).

21 Mishra, R. P. et al. Staphylococcus aureus FhuD2 is involved in the early phase of staphylococcal
dissemination and generates protective immunity in mice. J Infect Dis 206, 1041-1049,
doi:10.1093/infdis/jis463 (2012).

22 Spaan, A. N., van Strijp, J. A. G. & Torres, V. J. Leukocidins: staphylococcal bi-component poreforming toxins find their receptors. Nat Rev Microbiol 15, 435-447, doi:10.1038/nrmicro.2017.27 (2017).

23 Leuzzi, R. et al. Dissecting the Human Response to Staphylococcus aureus Systemic Infections. Front
_Immunol 12, 749432, doi:10.3389/fimmu.2021.749432 (2021)._

24 Radke, E. E. et al. Hierarchy of human IgG recognition within the Staphylococcus aureus immunome.
_Sci Rep 8, 13296, doi:10.1038/s41598-018-31424-3 (2018)._

25 Thomsen, I. P. et al. Children with invasive Staphylococcus aureus disease exhibit a potently
neutralizing antibody response to the cytotoxin LukAB. Infect Immun 82, 1234-1242,
doi:10.1128/IAI.01558-13 (2014).

26 Bennett, M. et al. A high-throughput liquid bead array assay confirms strong correlation between SARSCoV-2 antibody level and COVID-19 severity. iScience 24, 102052, doi:10.1016/j.isci.2021.102052
(2021).

27 Tseng, C. W. et al. Increased Susceptibility of Humanized NSG Mice to Panton-Valentine Leukocidin
and Staphylococcus aureus Skin Infection. PLoS Pathog 11, e1005292,
doi:10.1371/journal.ppat.1005292 (2015).

28 Bonten, M. J. et al. Polysaccharide conjugate vaccine against pneumococcal pneumonia in adults. N
_Engl J Med 372, 1114-1125, doi:10.1056/NEJMoa1408544 (2015)._

29 Peltola, H., Kayhty, H., Virtanen, M. & Makela, P. H. Prevention of Hemophilus influenzae type b
bacteremic infections with the capsular polysaccharide vaccine. N Engl J Med 310, 1561-1566,
doi:10.1056/NEJM198406143102404 (1984).

30 Francois, B. et al. Efficacy and safety of suvratoxumab for prevention of Staphylococcus aureus
ventilator-associated pneumonia (SAATELLITE): a multicentre, randomised, double-blind, placebocontrolled, parallel-group, phase 2 pilot trial. Lancet Infect Dis 21, 1313-1323, doi:10.1016/S1473­
3099(20)30995-6 (2021).

31 Gurtman, A. et al. The development of a staphylococcus aureus four antigen vaccine for use prior to
elective orthopedic surgery. Hum Vaccin Immunother 15, 358-370,
doi:10.1080/21645515.2018.1523093 (2019).

32 Magyarics, Z. et al. Randomized, Double-Blind, Placebo-Controlled, Single-Ascending-Dose Study of
the Penetration of a Monoclonal Antibody Combination (ASN100) Targeting Staphylococcus aureus
Cytotoxins in the Lung Epithelial Lining Fluid of Healthy Volunteers. Antimicrob Agents Chemother 63,
doi:10.1128/AAC.00350-19 (2019).

33 Yu, X. Q. et al. Safety, Tolerability, and Pharmacokinetics of MEDI4893, an Investigational, ExtendedHalf-Life, Anti-Staphylococcus aureus Alpha-Toxin Human Monoclonal Antibody, in Healthy Adults.
_Antimicrob Agents Chemother 61, doi:10.1128/AAC.01020-16 (2017)._

34 Aman, M. J. Integrated BioTherapeutics. Hum Vaccin Immunother 14, 1308-1310,
doi:10.1080/21645515.2018.1440105 (2018).

35 Bagnoli, F. et al. Vaccine composition formulated with a novel TLR7-dependent adjuvant induces high
and broad protection against Staphylococcus aureus. Proc Natl Acad Sci U S A 112, 3680-3685,
doi:10.1073/pnas.1424924112 (2015).

36 DeJonge, M. et al. Clinical trial of safety and efficacy of INH-A21 for the prevention of nosocomial
staphylococcal bloodstream infection in premature infants. J Pediatr 151, 260-265, 265 e261,
doi:10.1016/j.jpeds.2007.04.060 (2007).


-----

and a recombinant Panton-Valentine leukocidin subunit, in healthy adults. Hum Vaccin Immunother 13,
791-801, doi:10.1080/21645515.2016.1248326 (2017).

38 Shi, M. et al. A protein A based Staphylococcus aureus vaccine with improved safety. Vaccine 39,
3907-3915, doi:10.1016/j.vaccine.2021.05.072 (2021).

39 Weisman, L. E. et al. A randomized study of a monoclonal antibody (pagibaximab) to prevent
staphylococcal sepsis. Pediatrics 128, 271-279, doi:10.1542/peds.2010-3081 (2011).

40 Armentrout, E. I., Liu, G. Y. & Martins, G. A. T Cell Immunity and the Quest for Protective Vaccines
against Staphylococcus aureus Infection. Microorganisms 8, doi:10.3390/microorganisms8121936
(2020).

41 Liu, G. Y. et al. Staphylococcus aureus golden pigment impairs neutrophil killing and promotes
virulence through its antioxidant activity. J Exp Med 202, 209-215, doi:10.1084/jem.20050846 (2005).

42 Cohen, T. S. et al. Staphylococcus aureus alpha toxin potentiates opportunistic bacterial lung
infections. Sci Transl Med 8, 329ra331, doi:10.1126/scitranslmed.aad9922 (2016).

43 Dekkers, G. et al. Affinity of human IgG subclasses to mouse Fc gamma receptors. MAbs 9, 767-773,
doi:10.1080/19420862.2017.1323159 (2017).

44 Jacobsen, H. et al. Influenza Virus Hemagglutinin Stalk-Specific Antibodies in Human Serum are a
Surrogate Marker for In Vivo Protection in a Serum Transfer Mouse Challenge Model. mBio 8,
doi:10.1128/mBio.01463-17 (2017).

45 Duehr, J. et al. Tick-Borne Encephalitis Virus Vaccine-Induced Human Antibodies Mediate Negligible
Enhancement of Zika Virus Infection InVitro and in a Mouse Model. mSphere 3,
doi:10.1128/mSphereDirect.00011-18 (2018).

46 Chen, X. et al. Glycosylation-dependent opsonophagocytic activity of staphylococcal protein A
antibodies. Proc Natl Acad Sci U S A 117, 22992-23000, doi:10.1073/pnas.2003621117 (2020).

47 Pichler, D. et al. Marked Increase in Avidity of SARS-CoV-2 Antibodies 7-8 Months After Infection Is
Not Diminished in Old Age. J Infect Dis 224, 764-770, doi:10.1093/infdis/jiab300 (2021).

48 Sharma-Kuinkel, B. K. et al. Characterization of alpha-toxin hla gene variants, alpha-toxin expression
levels, and levels of antibody to alpha-toxin in hemodialysis and postsurgical patients with
Staphylococcus aureus bacteremia. J Clin Microbiol 53, 227-236, doi:10.1128/JCM.02023-14 (2015).

49 Lu, L. L. et al. A Functional Role for Antibodies in Tuberculosis. Cell 167, 433-443 e414,
doi:10.1016/j.cell.2016.08.072 (2016).

50 Fischinger, S. et al. A high-throughput, bead-based, antigen-specific assay to assess the ability of
antibodies to induce complement activation. J Immunol Methods 473, 112630,
doi:10.1016/j.jim.2019.07.002 (2019).

51 Ackerman, M. E. et al. A robust, high-throughput assay to determine the phagocytic activity of clinical
antibody samples. J Immunol Methods 366, 8-19, doi:10.1016/j.jim.2010.12.016 (2011).

52 Tanaka, Y. et al. 2-Methyl-2,4-pentanediol induces spontaneous assembly of staphylococcal alphahemolysin into heptameric pore structure. Protein Sci 20, 448-456, doi:10.1002/pro.579 (2011).

53 Bennett, M. R. et al. Human VH1-69 Gene-Encoded Human Monoclonal Antibodies against
Staphylococcus aureus IsdB Use at Least Three Distinct Modes of Binding To Inhibit Bacterial Growth
and Pathogenesis. mBio 10, doi:10.1128/mBio.02473-19 (2019).

54 Sheldon, J. R. & Heinrichs, D. E. Recent developments in understanding the iron acquisition strategies
of gram positive pathogens. FEMS Microbiol Rev 39, 592-630, doi:10.1093/femsre/fuv009 (2015).

55 Lindahl, G. Subdominance in Antibody Responses: Implications for Vaccine Development. Microbiol
_Mol Biol Rev 85, doi:10.1128/MMBR.00078-20 (2020)._


-----

transcriptional response of Staphylococcus aureus during in vivo infection. Nat Commun 8, 14268,
doi:10.1038/ncomms14268 (2017)


-----

Department of Health and Human Services
Public Health Services

## Grant Application

_Do not exceed character length restrictions indicated._

1. TITLE OF PROJECT (Do not exceed 81 characters, including spaces and punctuation.)

#### Interrogating human anti-staphylococcal antibody responses for S. aureus vaccine insights

2. RESPONSE TO SPECIFIC REQUEST FOR APPLICATIONS OR PROGRAM ANNOUNCEMENT OR SOLICITATION

_(If “Yes,” state number and title)_

Number: PA-20-185 Title:

**3. PROGRAM DIRECTOR/PRINCIPAL INVESTIGATOR**

3a. NAME (Last, first, middle)

C. Buddy Creech

3c. POSITION TITLE

Professor of Pediatrics Infectious Diseases

3e. DEPARTMENT, SERVICE, LABORATORY, OR EQUIVALENT

Pediatrics

3f. MAJOR SUBDIVISION

Infectious Diseases

3g. TELEPHONE AND FAX _(Area code, number and extension)_

TEL: FAX:

4. HUMAN SUBJECTS RESEARCH 4a. Research Exempt

No    - Yes No Yes

4b. Federal-Wide Assurance No. 4c. Clinical Trial

No Yes

5. VERTEBRATE ANIMALS No Yes

6. DATES OF PROPOSED PERIOD OF 7. COSTS REQUESTED FOR INITIAL
SUPPORT (month, day, year—MM/DD/YY) BUDGET PERIOD

From Through 7a. Direct Costs ($)

#### 09/01/2023 08/31/2028

9. APPLICANT ORGANIZATION

Name 9DQGHUELOW8QLYHUVLW\0HGLFDO&HQWHU

Address

12. ADMINISTRATIVE OFFICIAL TO BE NOTIFIED IF AWARD IS MADE

Name '&OLQWRQ%URZQ0%$&5$

Title

Address

Tel: FAX:

E-Mail:

14. APPLICANT ORGANIZATION CERTIFICATION AND ACCEPTANCE: I certify that
the statements herein are true, complete and accurate to the best of my knowledge, and
accept the obligation to comply with Public Health Services terms and conditions if a grant
is awarded as a result of this application. I am aware that any false, fictitious, or fraudulent
statements or claims may subject me to criminal, civil, or administrative penalties.


**LEAVE BLANK—FOR PHS USE ONLY.**
Type Activity Number

Review Group Formerly

Council/Board (Month, Year) Date Received

NO YES

#### NIH Research Project Grant (Parent R01 Clinical Trial Not Allowed)

3b. DEGREE(S) 3h. eRA Commons User Name

#### MD, MPH CREECHCB

3d. MAILING ADDRESS _(Street, city, state, zip code)_

E-MAIL ADDRESS:

If “Yes,” Exemption No.

4d. NIH-defined Phase III Clinical Trial

No Yes

5a. Animal Welfare Assurance No.

8. COSTS REQUESTED FOR PROPOSED
PERIOD OF SUPPORT

7b. Total Costs ($) 8a. Direct Costs ($) 8b. Total Costs ($)

10. TYPE OF ORGANIZATION

Public: o Federal State Local

Private: o Private Nonprofit

For-profit: o General Small Business

Woman-owned Socially and Economically Disadvantaged

11. ENTITY IDENTIFICATION NUMBER

Cong. District
DUNS NO. 71

13. OFFICIAL SIGNING FOR APPLICANT ORGANIZATION

Name '&OLQWRQ%URZQ0%$&5$

Title

Address

Tel: FAX:

E-Mail:

SIGNATURE OF OFFICIAL NAMED IN 13. DATE
_(In ink. “Per” signature not acceptable_

Digitally signed by 04/03/23

|Col1|Col2|Col3|Type|Activity|Col6|Col7|Col8|Number|Col10|
|---|---|---|---|---|---|---|---|---|---|
||||Review Group|||||Formerly||
||||Council/Board (Month, Year)|||||Date Received||
|1. TITLE OF PROJECT (Do not exceed 81 characters, including spaces and punctuation.) Interrogating human anti-staphylococcal antibody responses for S. aureus vaccine insights||||||||||
|2. RESPONSE TO SPECIFIC REQUEST FOR APPLICATIONS OR PROGRAM ANNOUNCEMENT OR SOLICITATION NO YES (If “Yes,” state number and title) Number: PA-20-185 Title: NIH Research Project Grant (Parent R01 Clinical Trial Not Allowed)||||||||||
|3. PROGRAM DIRECTOR/PRINCIPAL INVESTIGATOR||||||||||
|3a. NAME (Last, first, middle) C. Buddy Creech|||3b. DEGREE(S) MD, MPH||||3h. eRA Commons User Name CREECHCB|||
|3c. POSITION TITLE Professor of Pediatrics Infectious Diseases|||3d. MAILING ADDRESS (Street, city, state, zip code) E-MAIL ADDRESS:|||||||
|3e. DEPARTMENT, SERVICE, LABORATORY, OR EQUIVALENT Pediatrics||||||||||
|3f. MAJOR SUBDIVISION Infectious Diseases||||||||||
|3g. TELEPHONE AND FAX (Area code, number and extension) TEL: FAX:||||||||||
|4. HUMAN SUBJECTS RESEARCH No ■ Yes|4a. Research Exempt If “Yes,” Exemption No. No Yes|||||||||
|4b. Federal-Wide Assurance No.|4c. Clinical Trial No Yes||||4d. NIH-defined Phase III Clinical Trial No Yes|||||
|||||||||||
|5. VERTEBRATE ANIMALS No Yes|||5a. Animal Welfare Assurance No.|||||||
|6. DATES OF PROPOSED PERIOD OF SUPPORT (month, day, year—MM/DD/YY) From Through 09/01/2023 08/31/2028||7. COSTS REQUESTED FOR INITIAL BUDGET PERIOD||||8. COSTS REQUESTED FOR PROPOSED PERIOD OF SUPPORT||||
|||7a. Direct Costs ($)|7b. Total Costs ($)|||8a. Direct Costs ($)|||8b. Total Costs ($)|
|9. APPLICANT ORGANIZATION Name 9DQGHUELOW8QLYHUVLW\0HGLFDO&HQWHU Address|||10. TYPE OF ORGANIZATION Public: o Federal State Local Private: o Private Nonprofit For-profit: o General Small Business Woman-owned Socially and Economically Disadvantaged|||||||
||||11. ENTITY IDENTIFICATION NUMBER Cong. District DUNS NO. 71|||||||
|12. ADMINISTRATIVE OFFICIAL TO BE NOTIFIED IF AWARD IS MADE Name '&OLQWRQ%URZQ0%$&5$ Title Address Tel: FAX: E-Mail:|||13. OFFICIAL SIGNING FOR APPLICANT ORGANIZATION Name '&OLQWRQ%URZQ0%$&5$ Title Address Tel: FAX: E-Mail:|||||||


Date: 2023.04.03
16:26:43 -05'00'


-----

#### RESOURCE SHARING PLAN
**Plan for Intellectual Property and Sharing of Research Resources**
Intellectual property and data generated under this project will be administered in accordance with both
University and NIH policies, including the NIH Data Sharing Policy and Implementation Guidance of March 5,
2003.
Ownership of sole or joint inventions developed under the project will be owned by the institution(s) employing
the inventor(s). Inventors shall be determined by U.S. Patent law, Title 35 SC. University and Participating
investigators/institutions will disclose any inventions developed under the project and such inventions will be
reported and managed as provided by NIH policies. Sole inventions will be administered by the institution
employing the inventor. Joint inventions shall be administered based on mutual consultation between the
parties. Similar procedures will be followed for copyrights.
Materials generated under the project will be disseminated in accordance with University/Participating
institutional and NIH policies. Depending on such policies, materials may be transferred to others under the
terms of a material transfer agreement.
Access to databases and associated software tools generated under the project will be available for
educational, research and non-profit purposes. Such access will be provided using web-based applications, as
appropriate.
Publication of data shall occur during the project, if appropriate, or at the end of the project, consistent with
normal scientific practices. Research data which documents, supports and validates research findings will be
made available after the main findings from the final research data set have been accepted for
publication. Such research data will be redacted to prevent the disclosure of personal identifiers.
We will adhere to the NIH Grant Policy on Sharing of Unique Research Resources, including the Sharing of
Biomedical Research Resources Principles and Guidelines for Recipients of NIH Grants and Contracts. All
data obtained from the studies will be made available through publications in a timely fashion. Protocols
developed will be shared with other researchers upon request. All mutants generated will be made available
per NIH guideline.

**Sharing Model Organisms**
As for our plan to share materials and our management of intellectual property, we will adhere to the NIH Grant
Policy on Sharing of Unique Research Resources including the Principles and Guidelines for Recipients of NIH
Research Grants and Contracts on Obtaining and Disseminating Biomedical Research Resources (PDF)
issued December 23, 1999. All 'model organisms' generated by this project will be distributed widely or
deposited into a repository/stock center making them available to the broader research community, either
before or immediately after publication, in accordance with University policies. If we assume responsibility for
distributing the newly generated model organisms, we will fill requests in a timely fashion. In addition, we will
provide relevant protocols and published genetic and phenotypic data upon request. Material transfers will be
made with no more restrictive terms than in the Simple Letter Agreement (SLA) or the Uniform Biological
Materials Transfer Agreement (UBMTA)and without reach through requirements. Should any intellectual
property arise which requires a patent, we will ensure that the technology (materials and data) remains widely
available to the research


-----

g

The Other Plan(s) attachment included with the application is not evaluated during the peer review process but will be evaluated prior to a funding

decision. Although part of the official submission, the attachment is maintained as a separate document in eRA Commons viewable by authorized users

and is not part of this assembled application.


-----

**Authentication of key Biological and/or chemical resources**

1. Cultured cells: Primary murine bone marrow-derived neutrophils and human THP1 cell line
will be maintained in culture. THP1 cell line was frozen down when first obtained from
vendor (ATCC) and was maintained in liquid nitrogen cell banks. We will routinely screen
cell cultures for microbial contamination such as yeast, gram-positive and gram-negative
bacteria using a Cell Culture Contamination Detection Kit (Thermo Fisher Scientific, Catalog
number: C7028).

2. Mice: Mice, including humanized NSG mice will be purchased from Jackson Laboratory and
the UCLA CFAR animal core facility. If additional mice are obtained from collaborators, they
will be confirmed by SNP scanning services provided by Jackson Laboratory. Otherwise,
genotypes will be tracked via standard mouse genotyping protocols.

3. DNA constructs: All DNA constructs generated during the course of the project will be
verified by sequencing.

4. Bacterial strains: S. aureus strains used for the study (including LAC) or acquired from Aim 1
were or will be frozen at -80 on first acquisition. For all experiments, streaks of the original
frozen stocks will be used.


-----
