**NIH Project** **Summary/Abstract Template**

*The Project Summary/Abstract is required for all NIH applications. It
is limited to [30 lines of text]{.underline} and must follow NIH font,
margin, and formatting requirements. Think of the summary as a brief,
yet detailed account of your proposed research; furthermore, this
document will help NIH staff to identify the most appropriate study
section to review your application*[^1]*.*

*The project summary is a succinct and accurate description of the
proposed work and should be able to stand on its own (separate from the
application). This section should be informative to other persons
working in the same or related fields and understandable to a
scientifically literate reader. Avoid both descriptions of past
accomplishments and the use of the first person. Please be concise.*

***Content:***

-   *State the application\'s broad, long-term objectives and specific
    aims, making reference to the health relatedness of the project
    (i.e., relevance to the mission of the agency).*

-   *Describe the research design and methods for achieving the stated
    goals.*

-   *Be sure that the project summary reflects the key focus of the
    proposed project so that the application can be appropriately
    categorized.*

-   *Do not include proprietary, confidential information or trade
    secrets in the project summary. If the application is funded, the
    project summary will be entered into an NIH database and made
    available on the NIH Research Portfolio Online Reporting Tool
    (RePORT) and will become public information*[^2]*.*

[Information to Include:]{.underline}

-   Begin by noting the project's broad, long-term objectives,
    particularly as they relate to human health applications. What
    research design/methodology will be used to address these
    objectives?

-   Secondly, what is the project's central hypothesis? Does this build
    upon previous research the PI/co-PIs and/or others have conducted?

-   Thirdly, what are the project's specific aims?

-   Lastly, what aspects make the project particularly unique,
    innovative, and/or critically important? For what health-related
    areas will this project advance knowledge?

[Writing Tips:]{.underline}

-   Norins and Matheson[^3] suggest using "certain key words so the
    \[Scientific Review Group\] SRG staff can readily assign your
    application... SRG members who are not primary reviewers probably
    will rely heavily on your summary to understand your proposal during
    the group's general meeting to discuss application fundability."

-   Write your Project Summary/Abstract last. After developing and
    writing the Specific Aims and Research Strategy documents, you will
    have a clearer, big picture view of your project that will allow you
    to write a strong, concise summary.

-   Review the NIH Institute, Centers, and Offices' (ICOs)
    [websites](https://www.nih.gov/institutes-nih/list-nih-institutes-centers-offices)
    to see if there are specific suggestions/requirements regarding what
    you should include in this section.

-   Norins and Matheson state that a "good place to begin your summary
    is to get your reviewers' attention by answering four questions:

    1.  What is the problem or need that your proposal will address?

    2.  Why is it so important that it must be resolved? In other words,
        what is the significance?

    3.  Why are you the only person or group, or best-suited one, who
        can resolve the problem or need?

    4.  What is your proposed solution to address the problem?"

While there is no exact template for how to write the Project
Summary/Abstract, examples are provided below from Norins and Matheson,
who draw upon elements NIAID indicates are important for applications.
Review your chosen [Institute or
Center](https://www.nih.gov/institutes-nih/list-nih-institutes-centers-offices)
to see if they provide best practices or specific criteria for this
document. (All information is directly quoted^2^; *blue words/phrases*
draw attention to language that guides the reader to know, rather than
infer, the writer's purpose):

+---------------+------------------------------------------------------+
| **Proposal    |                                                      |
| Title:        |                                                      |
| Molecular     |                                                      |
| Mechanism of  |                                                      |
| Phosphate     |                                                      |
| Signaling in  |                                                      |
| E. Coli**     |                                                      |
+:=============:+:====================================================:+
| **NIAI        | **Summary**                                          |
| D-significant |                                                      |
| topics**      |                                                      |
+---------------+------------------------------------------------------+
| Significance  | *The objective of the proposed research is to        |
| of the        | understand how* information concerning environmental |
| proposed      | phosphate levels is transmitted through the          |
| research      | phosphate signal transduction pathway to control     |
|               | gene expression in Escherichia coli. At the heart of |
|               | this pathway are the response regulator PhoB and the |
|               | histidine kinase PhoR. *A great deal of work has     |
|               | already been accomplished* elucidating the           |
|               | mechanisms which these two proteinsfunction. *The    |
|               | focus of this proposal is to understand how* two     |
|               | auxiliary proteins, PstSCAB2 and PhoU, are involved  |
|               | \[i\]n the sensing of phosphate and the control of   |
|               | this signaling pathway.                              |
+---------------+------------------------------------------------------+
| Innovation &  | *Given the history of research into phosphate        |
| unique        | regulation, it is somewhat surprising that           |
| features of   | fundamental questions still exist as to how* cells   |
| the proposal  | sense phosphate and how that information is          |
|               | transmitted within a cell. PstSCAB2 is a phosphate   |
|               | transporter that also functions as the sensor for    |
|               | the system. PhoU controls the activity of PstSCAB2   |
|               | and is required for the transmission of the signal   |
|               | from PstSCAB2 to PhoR.                               |
+---------------+------------------------------------------------------+
| Methodology   | *Our first hypothesis is that* the PstSCAB2          |
| or Specific   | transporter transduces information about             |
| Aims          | environmental phosphate levels through               |
|               | conformational changes that are inherent to the      |
|               | transport process. *Our second hypothesis is that*   |
|               | PhoU transmits this information by specifically      |
|               | interacting with a particular PstSCAB2 conformation  |
|               | and mediates protein/protein interactions with PhoR. |
|               | *We plan on addressing these hypotheses through*     |
|               | both genetic and biochemical approaches. Mutant      |
|               | versions of the transporter will be isolated that    |
|               | "lock" it into various conformations. We will use    |
|               | these versions of the transporter to trap complexes  |
|               | with other proteins using co-elution and             |
|               | co-immunoprecipitation experiments and as well as    |
|               | bacterial two-hybrid analysis. *These* *approaches   |
|               | should prove to be complementary to one another and  |
|               | will provide the greatest opportunity to observe*    |
|               | protein/protein interactions within the proposed     |
|               | signaling complex.                                   |
|               |                                                      |
|               | *In the analysis of* the role of PhoU, constitutive  |
|               | signaling mutants will be isolated in the absence of |
|               | the transporter and studied for interactions with    |
|               | PhoR. *In addition,* highly conserved amino acid     |
|               | residues of PhoU, which must be important to its     |
|               | function, will be mutated and studied for function   |
|               | and cellular localization. PhoUGFP fusions will also |
|               | be constructed and used to study localization.       |
+---------------+------------------------------------------------------+
| Re-emphasis   | *The proposed work is important because* these       |
| of the        | signaling proteins *are essential* for bacteria to   |
| proposal's    | survive changing environments -- including the human |
| innovation    | immune system. This feature combined with their      |
|               | absence in higher eukaryotes, makes this signaling   |
|               | pathway *a target for the development of* new        |
|               | antimicrobial drugs. *An increased understanding of  |
|               | these* signal transduction proteins *may assist in*  |
|               | the rational design of drugs to combat pathogens.    |
+---------------+------------------------------------------------------+

Project Summary/Abstract from a successful R15 grant. This summary is
structured, with subtitles in bold. The authors do not end with a
revisiting of the innovation in the proposal, instead highlighting it
with specific formatting.

+---------------+------------------------------------------------------+
| **Proposal    |                                                      |
| Title:        |                                                      |
| Structural    |                                                      |
| Cha           |                                                      |
| racterization |                                                      |
| of the M.     |                                                      |
| tuberculosis  |                                                      |
| Thioredoxin** |                                                      |
|               |                                                      |
| **System**    |                                                      |
+:=============:+:====================================================:+
| **NIAID-      | **Summary**                                          |
| Significant** |                                                      |
|               |                                                      |
| **Topics**    |                                                      |
+---------------+------------------------------------------------------+
| Significance  | The thioredoxin system is ubiquitous, and *plays an  |
| of the        | essential role in* maintaining thiol/disulfide redox |
| proposed      | homeostasis in cells. The *Mycobacterium             |
| research      | tuberculosis* *(M. tb)* thioredoxin system *has      |
|               | recently been suggested as* a target for             |
|               | anti-tuberculosis (TB) drug development, by          |
|               | disrupting its ability to protect M. tb from the     |
|               | oxidative attacks of macrophages.                    |
+---------------+------------------------------------------------------+
| Innovation &  | *But, while* thioredoxin systems from some bacteria  |
| unique        | (ex. *E. coli*) and human are well-characterized,    |
| features of   | the mycobacterial system *is not*. The *M. tb*       |
| the proposal  | system is comprised of three thioredoxins (TrxA,     |
|               | TrxB and TrxC) and one thioredoxin reductase (TrxR). |
|               | Drug discovery efforts targeting this                |
|               |                                                      |
|               | system are hindered by the lack of available         |
|               | structures for TrxA and TrxB and of their complexes  |
|               | with TrxR. *Furthermore,* the differential roles of  |
|               | the three *M. tb* thioredoxins *are not known*,      |
|               | *with some publications suggesting that* TrxA may    |
|               | even be non-functional.                              |
|               |                                                      |
|               | **The *objective ****of this project is to define*   |
|               | different structural/functional properties of the    |
|               | three *M. tb* thioredoxins, and *to determine if*    |
|               | TrxA is truly cryptic. *We will use these structures |
|               | as a foundation for* structure based identification  |
|               | of inhibitors of the entire M. tb thioredoxin        |
|               | system, or specific complexes.                       |
|               |                                                      |
|               | ***Expected outcomes and impact:** This project will |
|               | produce* a structural characterization of the M. tb  |
|               | thioredoxin system, and inhibitors as chemical       |
|               | genetic probes of function and anti-TS drug leads.   |
+---------------+------------------------------------------------------+
| Methodology   | ***Our Aims Are to:***                               |
| or Specific   |                                                      |
| Aims          | **1. Determine solution structures for all M.        |
|               | tuberculosis**                                       |
|               |                                                      |
|               | **thioredoxins.** Determine 4 NMR structures: TrxA   |
|               | and TrxB in both redox states (thiol/disulfide), and |
|               | compare to our TrxC structures.                      |
|               |                                                      |
|               | **2. Determine structural models of *M.              |
|               | tuberculosis***                                      |
|               |                                                      |
|               | **TrxR/TrxN (where N=A, B) complexes, and compare**  |
|               |                                                      |
|               | **to TrxR/TrxC.** (a) Establish if and how TrxR      |
|               | binds the two TrxN's (both redox states). (b)        |
|               | Determine structural changes in TrxN, induced by     |
|               | TrxR binding. (c) Determine dynamics changes in      |
|               | NADPH cofactor (bound to TrxR), induced by TrxN      |
|               | binding. (d) Construct structural models for the two |
|               | TrxN/TrxR complexes based on NMR chemical shift      |
|               | perturbations, for various dead end complexes to     |
|               | mimic intermediates in the catalytic cycle.          |
|               |                                                      |
|               | **3. Identify inhibitors of the *M. tuberculosis*    |
|               | TrxR/TrxN system.** (a) Using the 3-dimensional      |
|               | structural models for the M. tuberculosis TrxR/TrxN  |
|               | system (and comparable M. smegmatis structures),     |
|               | computationally dock compounds to identify candidate |
|               | inhibitors, (b)                                      |
|               |                                                      |
|               | test candidate inhibitors in both NMR binding        |
|               | (titration) and enzymatic inhibition assays, to      |
|               | determine affinity, and (c) test compounds that have |
|               | Kd \< 50 μM in MIC (minimum inhibitory               |
|               | concentration) assays initially with M. smegmatis    |
|               | (then M. tuberculosis).                              |
+---------------+------------------------------------------------------+
| Re-emphasis   | \[Not done in this proposal.\]                       |
| of the        |                                                      |
| proposal's    |                                                      |
| innovation    |                                                      |
+---------------+------------------------------------------------------+

[^1]: Norins, L., & Matheson, S. (2014). NIH R15 Grant Application
    Mentor: An Educational How-to Manual, (2nd edition). Bonita Springs,
    FL: Principal Investigators Association

[^2]: *NIH Research Instructions*. (2018). pp. R-38-R-38. Retrieved from
    <https://grants.nih.gov/grants/how-to-apply-application-guide.html>

[^3]: Norins, L., & Matheson, S. (2014). *NIH R15 Grant Application
    Mentor: An Educational How-to Manual* (2nd edition). Bonita Springs,
    FL: Principal Investigators Association.
