**SUMMARY STATEMENT**

**_Release Date:_** **07/08/2023**
**PROGRAM CONTACT:** **( Privileged Communication )**

**_Revised Date:_**

**_Application Number:_** **1R01AI181321-01**

**Principal Investigators (Listed Alphabetically):**

**CREECH, CLARENCE BUDDY**
**LIU, GEORGE Y (Contact)**

**Applicant Organization: UNIVERSITY OF CALIFORNIA, SAN DIEGO**

**_Review Group:_** **IHD**
**Immunity and Host Defense Study Section**

**_Meeting Date:_** **06/22/2023** **_Opportunity Number:_** **PA-20-185**

**_Council:_** **OCT 2023** **_PCC:_** **M30A BR**

**_Requested Start:_** **09/01/2023**

**_Project Title:_** **Interrogating human anti-staphylococcal antibody responses for S. aureus vaccine**
**insights**

**_SRG Action:_** **Impact Score:** **Percentile:1**

**_Next Steps:_** **[Visit https://grants.nih.gov/grants/next_steps.htm](https://grants.nih.gov/grants/next_steps.htm)**

**Human Subjects:** **30-Human subjects involved - Certified, no SRG concerns**

**Animal Subjects: 30-Vertebrate animals involved - no SRG concerns noted**

**Gender:** **1A-Both genders, scientifically acceptable**

**Minority:** **1A-Minorities and non-minorities, scientifically acceptable**

**Age:** **1A-Children, Adults, Older Adults, scientifically acceptable**

**Project** **Direct Costs** **Estimated**
**Year** **Requested** **Total Cost**
**1**
**2**
**3**
**4**
**5**

**TOTAL**


**_Revised Date:_**


**Text from the application is copyrighted. The awardee provided express permission for NIAID to post**
the grant application and summary statement for educational purposes. The awardee allows you to use
the material (e.g., data, writing, graphics) they shared in the applications for nonprofit educational
purposes only, provided the material remains unchanged and the principal investigators, awardee
organizations, and NIH NIAID are credited.

**Freedom of Information Act (FOIA). NIAID is strongly committed to protecting the integrity and**
confidentiality of the peer review process. When NIH responds to FOIA requests for grant applications and
summary statements, the material will be subject to FOIA exemptions and include substantial redactions.
NIH must protect all confidential commercial or financial information, reviewer comments and
deliberations, and personal privacy information.

**Contact Information. Email NIAID's Office of Knowledge and Educational Resources at**
[deaweb@niaid.nih.gov](mailto:deaweb@niaid.nih.gov)


-----

LIU, G

**1R01AI181321-01 LIU, GEORGE**

**RESUME AND SUMMARY OF DISCUSSION: This R01 application proposes to characterize the**
protective components of the human antibody response to Staphylococcus aureus, and to distinguish
these from non-protective or suppressive responses, in order to elucidate critical mechanisms of antistaphylococcal antibody protection. The reviewers agreed that defining the mechanisms underlying
failure of vaccines against S. aureus, and identifying antigens that may not be impacted by pre-existing
immunity against S. aureus, could have very significant impact on vaccine development. The rigor of
the prior research strongly supports the significance and experimental approach. The Principal
Investigators (PIs) of this multi-PI (MPI) application have complementary expertise, and an excellent
track record of productivity. The MPIs and collaborators are well-suited for undertaking the proposed
work. The MPI plan is well laid out. The application is conceptually and technically innovative. The
research plan is rigorous with adequate statistical analysis and experimental replicates. Sex as a
biological variable is appropriately addressed. Anticipated results, pitfalls and alternative approaches
are thoroughly considered. No score-driving weaknesses were identified. Overall, the review committee
expressed an exceptional level of enthusiasm for this application.

**DESCRIPTION (provided by applicant): Staphylococcus aureus is a leading cause of infection**
worldwide and a major driver of antibiotic resistance. Although many experimental staphylococcal
vaccines have been reported, all vaccines tested to date in human trials have failed for unclear
reasons. Unlike mice, humans are exposed to S. aureus beginning early in life, leading to generation of
antibodies to S. aureus antigens. In preliminary experiments, we have shown that select human anti-S.
aureus antibodies are protective, but many are not. In mice exposed to S. aureus, vaccination against
protective antigens leads to immunity against S. aureus whereas vaccination against non-protective
antigens induced recall of non-protective immunity which further interferes with protective antibodies by
direct competition. Based on these findings, we generated a model of how pre-existing antibodies
shape vaccine responses and how this predicts novel ways to develop effective vaccines against S.
aureus. To query the validity of our model, in Aim 1, we will recruit children and old adults with invasive
S. aureus infections, survey the anti-S. aureus antibody profile and define functionally protective
antibody responses to S. aureus antigens. In Aim 2, we will identify and characterize protective and
non-protective anti-S. aureus antibodies from candidate samples acquired in Aim 1, and assess
structural and functional features of the specific antibodies that confer protection or non-protection. In
Aim 3, we will study these antibodies and their target in the context of naïve mice and mice previously
exposed to S. aureus. We will evaluate mechanisms whereby non-protective memory shapes vaccine
efficacy and test strategies that circumvent interference. Overall, using the novel model systems, we
aim to develop a more predictive framework for explaining staphylococcal vaccine failures and
developing novel strategies for effective vaccination against S. aureus.

**PUBLIC HEALTH RELEVANCE: Based on preliminary studies of S. aureus vaccine failures, we have**
generated a model of how pre- existing anti-staphylococcal humoral response shapes protective and
non-protective immune responses to S. aureus. We will leverage new in vivo model systems to
interrogate our hypothesis using protective and non-protective antibodies isolated from children and
elderly subjects with invasive S. aureus disease.

**CRITIQUE 1:**

Significance:
Investigator(s):
Innovation:


-----

LIU, G

Approach:
Environment:

**Overall Impact: The application by Dr. Liu and Dr. Creech is focused on characterizing the human**
antibody response to S. aureus infection with a goal of identifying antigens that result in protective
antibody generation. To do this the PIs have developed a mouse model with human serum or antibody
transfer to test the concept that pre-existing immunity can impact vaccine induced protective antibody.
The PIs will screen human sera from infected patients for antibody repertoire and test the highest hits
for protection in mice. They will then characterize top protective versus non-protective antibody hits for
Ig class, opsonization, neutralization, glycosylation and perform BCR Seq for antigen mapping. Finally
they will test protective antibodies in their pre-immune model to look for interference. They will also test
subdominant antigens for the ability to escape interference. The application is conceptually important
and could reveal better antigen targets for vaccine development. It also could explain the mechanisms
by which pre-existing immunity impacts current vaccines that have worked in naïve mice, but not
humans. There are many strengths focused on study impact and a clear approach that heavily
outweigh minor weaknesses. Enthusiasm for the application is very high.

**1. Significance:**

**Strengths**

# • There have been no successful S. aureus vaccines that have shown efficacy in clinical trials.
This application advances a theory of pre-existing immunity against S. aureus as a cause of
vaccine failure in humans. The goal is to identify mechanisms of interference and antigens that
may not be impacted for vaccine development.

# • The study is rigorously supported by two recent publications in Cell Host Microbe and JID.

 • This study raises important issues with studying vaccines in naïve mice as a model for humans
with lifelong exposure to certain pathogens.

**Weaknesses**

# • A limitation is that the human sera tested are only shown to provide protection at 6 weeks after
infection and this wanes completely by 6 months. This could limit future vaccine efficacy
significantly. The PIs acknowledge this limitation.

**2. Investigator(s):**

**Strengths**

# • Dr. Liu is an expert in S. aureus research and vaccine studies. Dr. Creech is an expert in clinical
S. aureus infection. The MPI plan is acceptable.

# • Dr. Slaughter provides biostatistical support.

**Weaknesses**

# • Minor that Dr. Liu and Dr. Creech have not collaborated yet, but Dr. Thomsen will consult to
establish the work.

**3. Innovation:**

**Strengths**


-----

LIU, G

# • Dr. Liu’s group developed the human serum transfer model in mice to test pre-exisiting
immunity.

# • There is conceptual innovation in studying pre-existing antibody interference as a mechanism of
S. aureus vaccine failure.

# • Targeting subdominant S. aureus antigens for vaccine design is of interest.

**Weaknesses**

# • The PI has published two papers in this model to date, slightly undercutting novelty.

**4. Approach:**

**Strengths**

# • Overall study design is rigorous with adequate power, replication, and statistical testing.

 • Preliminary and published data are strongly supportive of the application.

 • Aim design is clear and interpretable. The PI has taken care to have alternative antigen target
plans to avoid previous Aim dependence.

# • Alternative studies of the role of IL-10 on antibody glycosylation are intriguing.

 • Aim 3.3 has the potential to be highly impactful if antigen targets are identified that escape
interference.

**Weaknesses**

# • The source of healthy control or non-invasive S. aureus infected patient samples is not
discussed.

# • Minor grantsmanship issues with Figure layout and discussion not being linear.

 • Minor the depth of immunology studies regarding memory recall of B cells is limited.

**5. Environment:**

**Strengths**

# • The research environments at UCSD and Vanderbilt are excellent.

 • All relevant cores are present.

**Weaknesses**

# • Physical location of the two teams could produce some issues.

**Protections for Human Subjects:**

Acceptable Risks and/or Adequate Protections

# • They will recruit 75 kids and 25 older adults with invasive S. aureus infections and sampel up to
20ml of blood at 3-4 time points post infection.

**Inclusion Plans:**


-----

LIU, G

# • Sex/Gender: Distribution justified scientifically.

 • Race/Ethnicity: Distribution justified scientifically.

 • Inclusion/Exclusion Based on Age: Distribution justified scientifically.

 • They will sample kids for serum likely to have protective antibody and adults to examine lifelong
S. aureus exposure and the impact on antibody response.

**Vertebrate Animals:**

NO, animal welfare concerns or incomplete

# • The application lacks adequate discussion of how pain and distress will be monitored and
criteria for euthanasia.

**Biohazards:**

Acceptable

# • S. aureus and human blood are BSL2.

**Resource Sharing Plans:**

Acceptable

**Authentication of Key Biological and/or Chemical Resources:**

Acceptable

**Budget and Period of Support:**

Recommend as Requested

**CRITIQUE 2:**

Significance:
Investigator(s):
Innovation:
Approach:
Environment:

**Overall Impact: This new R01 proposal from established investigator George Liu seeks to understand**
why so many Staphylococcus aureus vaccines have failed and to identify new vaccine candidates. The
focus of the project is to understand the features of a functionally protective SA antibody response and
to use this to both guide vaccine design and to understand vaccine failure. This project is based on
solid preliminary data demonstrating that previous infection with SA, and the antibodies that accompany
that infection, interferes with vaccines that otherwise prevent infection in a naïve host. It addresses a
highly significant topic, as SA is an important pathogen and there is an urgent need for an effective
vaccine. The proposal is conceptually innovative on its focus on subdominant antigens as vaccine
candidates and the mechanisms behind antibody interference of vaccine-induced responses, while it is


-----

LIU, G

technically innovative in its animal model for testing protection in serum from naturally-acquired
infections. The investigators have the necessary expertise and excellent environments in which to
accomplish the stated goals of the proposal, and it is extremely clear and well-written proposal that
thoroughly considers potential pitfalls and the many potential outcomes of each experiment. Overall,
this proposal is likely to be successful and have a high impact.

**1. Significance:**

**Strengths**

# • SA is the most common invasive bacterial pathogen in children in the US and thus important for
public health.

# • SA vaccines have an exceptionally high vaccine trial failure rate; thus, understanding the
mechanisms of failure would be an important step forward towards developing a vaccine.

# • Rigorous prior studies demonstrated that previous infection with SA, and the antibodies that
accompany that infection, interferes with vaccines that otherwise prevent infection in a naïve
host, providing a strong rationale for the project.

**Weaknesses**

# • None noted

**2. Investigator(s):**

**Strengths**

# • The study team has a strong record in this field and is well-suited to carry out the proposed
work.

**Weaknesses**

# • None noted

**3. Innovation:**

**Strengths**

# • Using pre-infected mouse model as a readout for protection is a novel solution to a previously
difficult problem.

# • Hypothesis that OAS and antibody competition are the cause of vaccine failure is conceptually
novel.

**Weaknesses**

# • None noted

**4. Approach:**

**Strengths**

# • Hypotheses are based on strong published and unpublished preliminary data.


-----

LIU, G

# • Aims are not interdependent, but are complementary such that the results of each aim can
inform strategies and experimental design in other aims.

# • Potential pitfalls and alternative approaches are well considered and discussed throughout all
aims.

# • Experimental logistics are well thought out (for example, the thorough planning of serum
volumes needed for each experiment), an extremely important consideration when working with
precious patient samples.

# • There is a good discussion of statistics and relevant biological variables.

**Weaknesses**

# • Minor - There is an assumption that there will be antigens predictive of protection in the pediatric
cohort; the rationale for this assumption (versus the possibility that responses might be very
variable among patients) is not totally clear.

# • Minor Discussion of how age was expected to affect antibody responses, or how age would be
incorporated into the analysis was somewhat limited, given the focus on this variable in the
study design. Only pediatric sera are being used to generate the list of candidate antigens, even
though protection in a non-naïve situation (older adults) might be more informative, considering
their preliminary data.

**5. Environment:**

**Strengths**

# • Vanderbilt and UCSD have all the necessary facilities to accomplish the proposed study.

**Weaknesses**

# • None noted

**Protections for Human Subjects:**

Acceptable Risks and/or Adequate Protections

**Inclusion Plans:**

# • Sex/Gender: Distribution justified scientifically.

 • Race/Ethnicity: Distribution justified scientifically

 • Inclusion/Exclusion Based on Age: Distribution justified scientifically.

**Vertebrate Animals:**

YES, all criteria addressed.

**Biohazards:**

Acceptable


-----

LIU, G

**Resource Sharing Plans:**

Acceptable

**Authentication of Key Biological and/or Chemical Resources:**

Acceptable

**Budget and Period of Support:**

Recommend as Requested

**CRITIQUE 3:**

Significance:
Investigator(s):
Innovation:
Approach:
Environment:

**Overall Impact: This is a very well written proposal from a seasoned veteran and colleague of the**
_Staphylococcus aureus (SA) and methicillin-resistant SA (MRSA) fields. The rigor of prior research with_
respect to both significance and approach is presented with inclusion of publications as well as a
plethora of preliminary results. Scientific rigor is addressed with presentation of statistical analyses as
well as defined cut-offs and the like throughout the aims. Sex as a biological variable is addressed with
the use of female and male human samples and animals. This project deals with addressing the
“original sin” of SA/MRSA. They have found with, at least IsdB, that a portion of the protein, while
eliciting protection in naïve mice, causes immune evasion in pre-exposed mice. They intend to address
this throughout the project as well as address this potential in other antigens. Anticipated results, pitfalls
and alternative approaches are given throughout. This is an exciting project with a high potential of
success. The potential impact of this project is high.

**1. Significance:**

**Strengths**

# • SA and MRSA remains a highly significant public health issue.

 • The rigor or prior research is strong with a number of publications noted as well as a plethora of
preliminary results presented. Additionally, each aim is supported by these results.

**Weaknesses**

# • No weaknesses noted.

**2. Investigator(s):**

**Strengths**

# • The MPI plan is well laid out.


-----

LIU, G

# • Each PI is quite capable of completing this project as they are experts in their field with
significant experience.

**Weaknesses**

# • No weaknesses noted.

**3. Innovation:**

**Strengths**

# • The innovation of this proposal lies in the combination of human samples and mouse samples
combined to forward the cause of a vaccine that avoids the immune imprinting that is plaquing
the SA field.

**Weaknesses**

# • No weaknesses noted.

**4. Approach:**

**Strengths**

# • The rigor of prior research is considered with preliminary results presented for each aim.

 • Scientific rigor is addressed with by listing the statistical analysis that will be performed, by
defining cut-off values throughout the proposal as well as an analysis plan for aim 1.

# • Sex as a biological variable is addressed by the use of males and females.

 • The project itself is very well laid out with experimental plans defined and anticipated results,
pitfalls and alternative strategies listed. This was especially important to define on aims 2 and 3
with the inclusion of many antigens that have the potential to be protective antigens.

# • Addressing the “original sin” of SA is an important feature of this project.

**Weaknesses**

# • No weaknesses noted.

**5. Environment:**

**Strengths**

# • UCSD and Vanderbilt facilities are sufficient to conduct this work.

**Weaknesses**

# • No weaknesses noted.

**Protections for Human Subjects:**

Acceptable Risks and/or Adequate Protections

# • All topics addressed.

**Inclusion Plans:**


-----

LIU, G

# • Sex/Gender: Distribution justified scientifically.

 • Race/Ethnicity: Distribution justified scientifically.

 • Inclusion/Exclusion Based on Age: Distribution justified scientifically.

 • All topics addressed.

**Vertebrate Animals:**

YES, all criteria addressed

# • All points are adequately addressed.

**Biohazards:**

Acceptable

# • Facilities are defined for each location.

**Resource Sharing Plans:**

Acceptable

**Authentication of Key Biological and/or Chemical Resources:**

Acceptable

**Budget and Period of Support:**

Recommend as Requested

**THE FOLLOWING SECTIONS WERE PREPARED BY THE SCIENTIFIC REVIEW OFFICER TO**
**SUMMARIZE THE OUTCOME OF DISCUSSIONS OF THE REVIEW COMMITTEE, OR REVIEWERS’**
**WRITTEN CRITIQUES, ON THE FOLLOWING ISSUES:**

**PROTECTION OF HUMAN SUBJECTS: ACCEPTABLE**

**INCLUSION OF WOMEN PLAN: ACCEPTABLE**

**INCLUSION OF MINORITIES PLAN: ACCEPTABLE**

**INCLUSION ACROSS THE LIFESPAN: ACCEPTABLE**

**VERTEBRATE ANIMALS: ACCEPTABLE**

**COMMITTEE BUDGET RECOMMENDATIONS: The budget was recommended as requested.**

# Footnotes for 1R01AI181321-01; PI Name: Liu, George Y


-----

LIU, G

# NIH has modified its policy regarding the receipt of resubmissions (amended applications).See Guide Notice NOT-OD-18-197 at https://grants.nih.gov/grants/guide/notice-files/NOT-OD-18- 197.html. The impact/priority score is calculated after discussion of an application by averaging the overall scores (1-9) given by all voting reviewers on the committee and multiplying by 10. The criterion scores are submitted prior to the meeting by the individual reviewers assigned to an application, and are not discussed specifically at the review meeting or calculated into the overall impact score. Some applications also receive a percentile ranking. For details on the review process, see http://grants.nih.gov/grants/peer_review_process.htm#scoring.


-----
