# for local development, this can also be a real connection string pointing at a cloud environment.
DATABASE_CONNECTION_STRING=postgresql+asyncpg://grantflow:grantflow@localhost:5432/grantflow

# service account credentials used to access GCP Vertex AI
LLM_SERVICE_ACCOUNT_CREDENTIALS=...

# Anthropic API key. You can use your own key for this since we do not have an organization yet
ANTHROPIC_API_KEY=...

# used by for Google libraries, and by Google libraries (internally), these values are not secret
GOOGLE_CLOUD_PROJECT=grantflow
GOOGLE_CLOUD_REGION=us-central1

# notifications topic
FRONTEND_NOTIFICATIONS_PUBSUB_TOPIC=frontend-notifications