# for local development, this can also be a real connection string pointing at a cloud environment.
DATABASE_CONNECTION_STRING=postgresql+asyncpg://grantflow:grantflow@localhost:5432/grantflow

# service account credentials used by firebase, required for authenticating frontend requests
FIREBASE_SERVICE_ACCOUNT_CREDENTIALS=...

# service account credentials used to access GCP Vertex AI
LLM_SERVICE_ACCOUNT_CREDENTIALS=...

# Anthropic API key. You can use your own key for this since we do not have an organization yet
ANTHROPIC_API_KEY=...

# used by for Google libraries, and by Google libraries (internally), these values are not secret
GOOGLE_CLOUD_PROJECT=grantflow
GOOGLE_CLOUD_REGION=us-central1

# Google Cloud Storage configuration
GCS_SERVICE_ACCOUNT_CREDENTIALS=...
GCS_BUCKET_NAME=grantflow-uploads

# secret used to sign JWT tokens, this value is arbitrary and you can use whatever you want for local dev
JWT_SECRET=5d1fb046-d480-4e38-8ce3-dd1c961ee56e

# secret used to access the 'admin' API endpoints, which allow creating organization guidelines and organizations
# currently not implemented in the frontend, this value is arbitrary
ADMIN_ACCESS_CODE=123456

# PubSub topic for URL crawling requests
URL_CRAWLING_PUBSUB_TOPIC=url-crawling
