# CRDT Server environment Variables
# Copy this file to .env and update with your actual values

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
PORT=1234
NODE_ENV=development
CRDT_SERVER_NAME=REFERENCE_SERVER_NAME
