# for local development, this can also be a real connection string pointing at a cloud environment.
DATABASE_CONNECTION_STRING=postgresql+asyncpg://grantflow:grantflow@localhost:5432/grantflow
GCS_SERVICE_ACCOUNT_CREDENTIALS=...
