# for local development, this can also be a real connection string pointing at a cloud environment.
DATABASE_CONNECTION_STRING=postgresql+asyncpg://grantflow:grantflow@localhost:5432/grantflow

# Google Cloud configuration
GOOGLE_CLOUD_PROJECT=grantflow-dev

# used by for Google libraries, and by Google libraries (internally), these values are not secret
GCS_SERVICE_ACCOUNT_CREDENTIALS=...
GCS_BUCKET_NAME=grantflow-uploads
